
@{
    ViewBag.Title = "According";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

    <meta name="description" content="HTML5/CSS3 template components for Framework Y and business industries, based on Framework Y.">

<body>
    
    <div class="header-base">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="title-base text-left">
                        <h1>Accordions</h1>
                        <p>This template come with lot of innovative features and an awesome and extensive documentation.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <ol class="breadcrumb b white">
                        <li><a href="#">Home</a></li>
                        <li class="active">Features</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty section-item">
        <div class="container content">
            <div class="row">
                <div class="col-md-4">
                    <div class="list-group accordion-list">
                        <div class="list-group-item">
                            <a href="#"> Accordion item 1</a>
                            <div class="panel">
                                <div class="inner">
                                    Lorem ipsum dolor sitamet, Cras justo odio consectetur adipisicin elitt, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a href="#"> Accordion item 2</a>
                            <div class="panel">
                                <div class="inner">
                                    L'orem ipsum dolor "sitamet", Cras justo odio consectetur 'adipisicing' elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem. Lorem ipsum dolor sitamet,
                                    Cras justo odio consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a href="#"> Accordion item 3</a>
                            <div class="panel">
                                <div class="inner">
                                    Lorem ipsum dolor sitamet, Cras justo odio consectetur adipisicin elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="list-group accordion-list" data-type="accordion" data-time="1000">
                        <div class="list-group-item">
                            <a href="#" class=""> Accordion item 1</a>
                            <div class="panel">
                                <div class="inner">
                                    Lorem ipsum dolor sitamet, Cras justo odio consectetur adipisicin elit sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a href="#" class=""> Accordion item 2</a>
                            <div class="panel">
                                <div class="inner">
                                    Lorem ipsum dolor sitamet, Cras justo odio consectetur adipisicin elit do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem. Lorem ipsum dolor sitamet, Cras justo odio consectetur adipisicin elit
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a href="#" class=""> Accordion item 3</a>
                            <div class="panel">
                                <div class="inner">
                                    Lorem ipsum dolor sitamet, Cras justo odio consectetur adipisicin elitsed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="list-group accordion-list" data-type="visible" data-time="1000">
                        <div class="list-group-item">
                            <a href="#" class=""> Accordion item 1</a>
                            <div class="panel">
                                <div class="inner">
                                    Lorem ipsum dolor sitamet, Cras justo odio consectetur adipisicin elitsed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a href="#" class=""> Accordion item 2</a>
                            <div class="panel">
                                <div class="inner">
                                    Lorem ipsum dolor sitamet, Cras justo odio consectetur adipisicin elit do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem.  Lorem ipsum dolor sitamet, Cras justo odio consectetur adipisicin elit
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a href="#" class=""> Accordion item 3</a>
                            <div class="panel">
                                <div class="inner">
                                    Lorem ipsum dolor sitamet, Cras justo odio consectetur adipisicin elitdo eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty text-center section-doc">
        <div class="container content">
            <h4 class="text-normal">Documentation</h4>
            <p>This template is built with HTWF and more variants<br /> are available, check the official documentation for more details.</p>
            <hr class="space xs" />
            <a href="http://html.framework-y.com/containers/others/#accordion-lists" target="_blank" class="circle-button btn btn-sm">Go to documentation</a>
        </div>
    </div>
    
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/features/containers/accordions.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:11:51 GMT -->


