
@{
    ViewBag.Title = "AdvancedTable";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

    <meta name="description" content="HTML5/CSS3 template components for Framework Y and business industries, based on Framework Y.">

<body>
   
    <div class="header-base">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="title-base text-left">
                        <h1>Tables</h1>
                        <p>This template come with lot of innovative features and an awesome and extensive documentation.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <ol class="breadcrumb b white">
                        <li><a href="#">Home</a></li>
                        <li class="active">Features</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty section-item">
        <div class="container content">
            <h5 class=" text-center">TABLE BASE</h5>
            <hr class="space m" />
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Extra</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>twitter</td>
                    </tr>
                </tbody>
            </table>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5 class=" text-center">GRID TABLE</h5>
            <hr class="space m" />
            <table class="grid-table border-table" data-anima="fade-bottom" data-timeline="asc">
                <tbody>
                    <tr>
                        <td><img class="anima" src="~/Areas/Root/images/logos/logo_1.png" data-toggle="tooltip" data-placement="top" title="Magestic Silver" alt=""></td>
                        <td><img class="anima" src="~/Areas/Root/images/logos/logo_2.png" data-toggle="tooltip" data-placement="top" title="Oliver Rolled" alt=""></td>
                        <td><img class="anima" src="~/Areas/Root/images/logos/logo_3.png" data-toggle="tooltip" data-placement="top" title="NHV" alt=""></td>
                        <td><img class="anima" src="~/Areas/Root/images/logos/logo_4.png" data-toggle="tooltip" data-placement="top" title="Myte SRL" alt=""></td>
                    </tr>
                    <tr>
                        <td><img class="anima" src="~/Areas/Root/images/logos/logo_5.png" data-toggle="tooltip" data-placement="top" title="Exclusion" alt=""></td>
                        <td><img class="anima" src="~/Areas/Root/images/logos/logo_6.png" data-toggle="tooltip" data-placement="top" title="Hooli" alt=""></td>
                        <td><img class="anima" src="~/Areas/Root/images/logos/logo_7.png" data-toggle="tooltip" data-placement="top" title="Bestic Mrtim Suut" alt=""></td>
                        <td><img class="anima" src="~/Areas/Root/images/logos/logo_8.png" data-toggle="tooltip" data-placement="top" title="Beeng" alt=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="section-empty text-center section-doc">
        <div class="container content">
            <h4 class="text-normal">Documentation</h4>
            <p>This template is built with HTWF and more variants<br /> are available, check the official documentation for more details.</p>
            <hr class="space xs" />
            <a href="http://html.framework-y.com/components/#table-bootgrid" target="_blank" class="circle-button btn btn-sm">Go to documentation</a>
        </div>
    </div>
    
</body>

