
@{
    ViewBag.Title = "AdvImageBox";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

    <meta name="description" content="HTML5/CSS3 template components for Framework Y and business industries, based on Framework Y.">

<body>
   
    <div class="header-base">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="title-base text-left">
                        <h1>Advanced image boxes</h1>
                        <p>This template come with lot of innovative features and an awesome and extensive documentation.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <ol class="breadcrumb b white">
                        <li><a href="#">Home</a></li>
                        <li class="active">Features</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty section-item text-center">
        <div class="container content">
            <h5>HALF CONTENT</h5>
            <hr class="space m" />
            <div class="text-center">
                <div class="row">
                    <div class="col-md-4">
                        <div class="img-box adv-img adv-img-half-content show" data-anima="fade-left" data-trigger="hover">
                            <i class="im-robot-2 anima"></i>
                            <a href="#" class="img-box anima-scale-up anima">
                                <img alt="" src="~/Areas/Root/images/gallery/image-1.jpg">
                            </a>
                            <div class="caption">
                                <h2>Stay hungry</h2>
                                <p>
                                    Lorem ipsum dolor sit amet consect sed do eiusmod tempore.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="img-box adv-img adv-img-half-content show" data-anima="fade-left" data-trigger="hover">
                            <i class=" im-robot anima"></i>
                            <a href="#" class="img-box anima-scale-up anima">
                                <img alt="" src="~/Areas/Root/images/gallery/image-2.jpg">
                            </a>
                            <div class="caption">
                                <h2>Stay foolish</h2>
                                <p>
                                    Lorem ipsum dolor sit amet consect sed do eiusmod tempore.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="img-box adv-img adv-img-half-content" data-anima="fade-bottom" data-trigger="hover" data-anima-out="hide">
                            <i class="im-cable-car anima"></i>
                            <a href="#" class="img-box anima-scale-up anima">
                                <img alt="" src="~/Areas/Root/images/gallery/image-3.jpg">
                            </a>
                            <div class="caption anima">
                                <h2>Stay inspired</h2>
                                <p>
                                    Lorem ipsum dolor sit amet consect sed do eiusmod tempore.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>SIDE CONTENT</h5>
            <hr class="space m" />
            <div class="text-center">
                <div class="row">
                    <div class="col-md-4">
                        <div class="img-box adv-img adv-img-side-content i-top-right show" data-anima="fade-left" data-trigger="hover">
                            <i class="im-rotate-gesture2 anima"></i>
                            <a class="img-box anima-scale-up anima" href="#">
                                <img alt="" src="~/Areas/Root/images/gallery/image-1.jpg">
                            </a>
                            <div class="caption">
                                <h2>Side content</h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="img-box adv-img adv-img-side-content i-top-right show" data-anima="fade-left" data-trigger="hover">
                            <i class="im-reverbnation anima"></i>
                            <a class="img-box anima-scale-up anima" href="#">
                                <img alt="" src="~/Areas/Root/images/gallery/image-2.jpg">
                            </a>
                            <div class="caption">
                                <h2>Side content</h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="img-box adv-img adv-img-side-content i-top-right show" data-anima="fade-left" data-trigger="hover" data-anima-out="hide">
                            <i class="im-rss anima"></i>
                            <a class="img-box anima-scale-up anima" href="#">
                                <img alt="" src="~/Areas/Root/images/gallery/image-3.jpg">
                            </a>
                            <div class="caption anima">
                                <h2>Side content</h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>FULL CONTENT</h5>
            <hr class="space m" />
            <div class="text-center">
                <div class="row">
                    <div class="col-md-4">
                        <div class="img-box adv-img adv-img-full-content show" data-anima="fade-left" data-trigger="hover">
                            <a class="img-box anima-scale-up anima">
                                <img alt="" src="~/Areas/Root/images/gallery/image-1.jpg">
                            </a>
                            <div class="caption-bg">
                                <div class="caption">
                                    <div class="inner">
                                        <h2>Full content box</h2>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="img-box adv-img adv-img-full-content" data-anima="fade-top" data-trigger="hover">
                            <a class="img-box anima-scale-up anima">
                                <img alt="" src="~/Areas/Root/images/gallery/image-2.jpg">
                            </a>
                            <div class="caption-bg">
                                <div class="caption">
                                    <div class="inner">
                                        <h2>Full content box</h2>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="img-box adv-img adv-img-full-content show" data-anima="fade-right" data-trigger="hover" data-anima-out="hide">
                            <a class="img-box anima-scale-up anima">
                                <img alt="" src="~/Areas/Root/images/gallery/image-3.jpg">
                            </a>
                            <div class="caption-bg anima">
                                <div class="caption">
                                    <div class="inner">
                                        <i class=" im-sand-watch2 main-icon anima"></i>
                                        <h2>Full content box</h2>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>BUTTONS CONTENT</h5>
            <hr class="space m" />
            <div class="text-center">
                <div class="row">
                    <div class="col-md-4">
                        <div class="img-box adv-img adv-img-button-content show" data-anima="fade-left" data-trigger="hover">
                            <a class="img-box anima-scale-up anima">
                                <img alt="" src="~/Areas/Root/images/gallery/image-1.jpg">
                            </a>
                            <div class="caption">
                                <div class="inner">
                                    <h2>Stay hungry</h2>
                                    <p class="sub">Tempor incididunt sed</p>
                                    <a href="#"><i class="fa fa-link text-m circle"></i></a>
                                    <a class="" href="#">
                                        <i class="fa fa-search text-m circle"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="img-box adv-img adv-img-button-content show" data-anima="fade-top" data-trigger="hover">
                            <a class="img-box anima-scale-up anima">
                                <img alt="" src="~/Areas/Root/images/gallery/image-2.jpg">
                            </a>
                            <div class="caption">
                                <div class="inner">
                                    <h2>Stay foolish</h2>
                                    <p class="sub">Tempor incididunt sed</p>
                                    <a href="#"><i class="fa fa-link text-m circle"></i></a>
                                    <a class="" href="#">
                                        <i class="fa fa-search text-m circle"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="img-box adv-img adv-img-button-content" data-anima="fade-top" data-trigger="hover" data-anima-out="hide">
                            <a class="img-box anima-scale-up anima">
                                <img alt="" src="~/Areas/Root/images/gallery/image-3.jpg">
                            </a>
                            <div class="caption anima">
                                <div class="inner">
                                    <h2>Be happy</h2>
                                    <p class="sub">Tempor incididunt sed</p>
                                    <a href="#"><i class="fa fa-link text-m circle"></i></a>
                                    <a class="" href="#">
                                        <i class="fa fa-search text-m circle"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>DOWN TEXT</h5>
            <hr class="space m" />
            <div class="text-center">
                <div class="row">
                    <div class="col-md-4">
                        <div class="img-box adv-img adv-img-down-text">
                            <a class="img-box img-scale-up i-center" href="#">
                                <div class="caption">
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img alt="" src="~/Areas/Root/images/gallery/image-1.jpg">
                            </a>
                            <div class="caption-bottom">
                                <h2><a href="#">The begion of a new age</a></h2>
                                <p>Tempor incididunt sed</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="img-box adv-img adv-img-down-text">
                            <a class="img-box img-scale-up i-center" href="#">
                                <div class="caption">
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img alt="" src="~/Areas/Root/images/gallery/image-2.jpg">
                            </a>
                            <div class="caption-bottom">
                                <h2><a href="#">The begion of a new age</a></h2>
                                <p>Tempor incididunt sed</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="img-box adv-img adv-img-down-text">
                            <a class="img-box img-scale-up i-center" href="#">
                                <div class="caption">
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img alt="" src="~/Areas/Root/images/gallery/image-3.jpg">
                            </a>
                            <div class="caption-bottom">
                                <h2><a href="#">The begion of a new age</a></h2>
                                <p>Tempor incididunt sed</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>CLASSIC BOX</h5>
            <hr class="space m" />
            <div class="text-center">
                <div class="row">
                    <div class="col-md-4">
                        <div class="img-box adv-img adv-img-classic-box">
                            <a class="img-box" href="#">
                                <img alt="" src="~/Areas/Root/images/gallery/image-1.jpg">
                            </a>
                            <div class="caption">
                                <div class="caption-inner">
                                    <h2>Stay hungry</h2>
                                    <p class="sub-text"> And fight for passion </p>
                                    <p class="big-text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="img-box adv-img adv-img-classic-box">
                            <a class="img-box" href="#">
                                <img alt="" src="~/Areas/Root/images/gallery/image-2.jpg">
                            </a>
                            <div class="caption">
                                <div class="caption-inner">
                                    <h2>Stay foolish</h2>
                                    <p class="sub-text"> And change the world </p>
                                    <p class="big-text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="img-box adv-img adv-img-classic-box">
                            <a class="img-box" href="#">
                                <img alt="" src="~/Areas/Root/images/gallery/image-3.jpg">
                            </a>
                            <div class="caption">
                                <div class="caption-inner">
                                    <h2>Be happy</h2>
                                    <p class="sub-text"> Don't warry </p>
                                    <p class="big-text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>CIRCLE - CENTER CONTENT</h5>
            <hr class="space m" />
            <div class="text-center">
                <div class="row">
                    <div class="col-md-4">
                        <a class="img-box adv-circle circle adv-circle-center show" data-anima="fade-in" data-trigger="hover" href="#">
                            <i class="fa fa-gears anima"></i>
                            <img alt="" src="~/Areas/Root/images/gallery/square-1.jpg">
                            <div class="caption">
                                <h2>Stay hungry</h2>
                                <p>Sed do eiusmod tempor incididunt ut labore beatae vitae dicta</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="img-box adv-circle circle adv-circle-center show" data-anima="fade-in" data-trigger="hover" href="#">
                            <i class="fa fa-hacker-news anima"></i>
                            <img alt="" src="~/Areas/Root/images/gallery/square-2.jpg">
                            <div class="caption">
                                <h2>Stay foolish</h2>
                                <p>Sed do eiusmod tempor incididunt ut labore beatae vitae dicta</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="img-box adv-circle circle adv-circle-center" data-anima="fade-in" data-trigger="hover" data-anima-out="hide" href="#">
                            <i class="fa fa-hourglass-3 anima"></i>
                            <img alt="" src="~/Areas/Root/images/gallery/square-3.jpg">
                            <div class="caption anima">
                                <h2>Be happy</h2>
                                <p>Sed do eiusmod tempor incididunt ut labore beatae vitae dicta</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>CIRCLE - CENTER CONTENT 2</h5>
            <hr class="space m" />
            <div class="text-center">
                <div class="row">
                    <div class="col-md-4">
                        <a class="img-box adv-circle circle adv-circle-center-2 show" href="#>
                            <i class="im-gowalla"></i>
                            <img alt="" src="~/Areas/Root/images/gallery/square-1.jpg">
                            <div class="caption">
                                <div class="inner">
                                    <h2>Stay hungry</h2>
                                    <p>Sed do eiusmod tempor incididunt ut labore</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="img-box adv-circle circle adv-circle-center-2 show" href="#">
                            <i class="im-google-drive"></i>
                            <img alt="" src="~/Areas/Root/images/gallery/square-2.jpg">
                            <div class="caption">
                                <div class="inner">
                                    <h2>Stay foolish</h2>
                                    <p>Sed do eiusmod tempor incididunt ut labore</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="img-box adv-circle circle adv-circle-center-2" href="#" data-anima="fade-in" data-trigger="hover" data-anima-out="hide">
                            <i class="im-hair-2 anima"></i>
                            <img alt="" src="~/Areas/Root/images/gallery/square-3.jpg">
                            <div class="caption anima">
                                <div class="inner">
                                    <h2>Better results</h2>
                                    <p>Sed do eiusmod tempor incididunt ut labore</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>CIRCLE - HALF CONTENT</h5>
            <hr class="space m" />
            <div class="text-center">
                <div class="row">
                    <div class="col-md-4">
                        <a class="img-box adv-circle circle adv-circle-half" href="#">
                            <i class="im-hamburger"></i>
                            <img alt="" src="~/Areas/Root/images/gallery/square-1.jpg">
                            <div class="caption">
                                <h2>Stay hungry</h2>
                                <p>Sed do eiusmod tempor incididunt beatae vitae dicta</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="img-box adv-circle circle adv-circle-half" href="#">
                            <i class="im-halloween-moon"></i>
                            <img alt="" src="~/Areas/Root/images/gallery/square-2.jpg">
                            <div class="caption">
                                <h2>Stay foolish</h2>
                                <p>Sed do eiusmod tempor incididunt beatae vitae dicta</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="img-box adv-circle circle adv-circle-half" href="#" data-anima="fade-bottom" data-trigger="hover" data-anima-out="hide">
                            <i class="im-hand anima"></i>
                            <img alt="" src="~/Areas/Root/images/gallery/square-3.jpg">
                            <div class="caption anima">
                                <h2>Be curious</h2>
                                <p>Sed do eiusmod tempor incididunt beatae vitae dicta</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>CIRCLE - BOTTOM CONTENT</h5>
            <hr class="space m" />
            <div class="text-center">
                <div class="row">
                    <div class="col-md-4">
                        <a class="img-box adv-circle circle adv-circle-bottom i-center" href="#">
                            <i class="im-helicopter-2"></i>
                            <img alt="" src="~/Areas/Root/images/gallery/square-1.jpg">
                            <div class="caption">
                                <h2>Stay hungry</h2>
                                <p>Sed do eiusmoda</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="img-box adv-circle circle adv-circle-bottom i-center" href="#">
                            <i class="im-headset"></i>
                            <img alt="" src="~/Areas/Root/images/gallery/square-2.jpg">
                            <div class="caption">
                                <h2>Stay foolish</h2>
                                <p>Sed do eiusmoda</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="img-box adv-circle circle adv-circle-bottom i-center" href="#" data-anima="fade-bottom" data-trigger="hover" data-anima-out="hide">
                            <i class="im-hand anima"></i>
                            <img alt="" src="~/Areas/Root/images/gallery/square-3.jpg">
                            <div class="caption anima">
                                <h2>Be curious</h2>
                                <p>Sed do eiusmoda</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>CIRCLE - BACKGROUND CONTENT</h5>
            <hr class="space m" />
            <div class="text-center">
                <div class="row">
                    <div class="col-md-4">
                        <a class="img-box adv-circle circle adv-circle-bg" href="#">
                            <i class="im-horror"></i>
                            <img alt="" src="~/Areas/Root/images/gallery/square-1.jpg">
                            <div class="caption">
                                <h2>Stay hungry</h2>
                                <p>Sed do eiusmod tempor incididunt ut labore</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="img-box adv-circle circle adv-circle-bg" href="#">
                            <i class="im-icq"></i>
                            <img alt="" src="~/Areas/Root/images/gallery/square-2.jpg">
                            <div class="caption">
                                <h2>Stay foolish</h2>
                                <p>Sed do eiusmod tempor incididunt ut labore</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="img-box adv-circle circle adv-circle-bg" href="#" data-anima="show-scale" data-trigger="hover" data-anima-out="hide">
                            <i class="im-id-3 anima"></i>
                            <img alt="" src="~/Areas/Root/images/gallery/square-3.jpg">
                            <div class="caption anima">
                                <h2>Be happy</h2>
                                <p>Sed do eiusmod tempor incididunt ut labore</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty text-center section-doc">
        <div class="container content">
            <h4 class="text-normal">Documentation</h4>
            <p>This template is built with HTWF and more variants<br /> are available, check the official documentation for more details.</p>
            <hr class="space xs" />
            <a href="http://html.framework-y.com/components/image-box/#advanced-image-box" target="_blank" class="circle-button btn btn-sm">Go to documentation</a>
        </div>
    </div>
    
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/features/components/image-boxes-advanced.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:11:38 GMT -->


