
@{
    ViewBag.Title = "BackgroundVideo";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

    <meta name="description" content="HTML5/CSS3 template components for Framework Y and business industries, based on Framework Y.">

<body>
   
    <div class="section-bg-video box-middle-container white">
        <div class="videobox">
            <video autoplay loop muted poster="~/Areas/Root/images/video-poster.jpg">
                <source src="http://templates.framework-y.com/signflow/images/video.mp4" type="video/mp4">
            </video>
        </div>
        <div class="container content overlay-content text-center">
            <hr class="space" />
            <div class="title-base" data-anima="fade-top">
                <hr />
                <h2>Section background video</h2>
                <p>Ased do eiusmod tempor incididunt ut</p>
            </div>
            <hr class="space m" />
            <p data-anima="fade-bottom">
                L'orem ipsum dolor, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore<br />
                magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunto.
            </p>
            <hr class="space" />
        </div>
    </div>

    <div class="section-bg-video box-middle-container row-20">
        <div class="bg-overlay transparent-dark"></div>
        <div class="videobox" style="        background-image: url(~/Areas/Root/images/video-poster.jpg)">
            <div data-video-youtube="8XSqskaXQ1U"></div>
        </div>
        <div class="container content overlay-content box-middle white text-center">
            <div class="title-base">
                <hr />
                <h2>Section background video</h2>
                <p>Ased do eiusmod tempor incididunt ut</p>
            </div>
            <hr class="space m" />
            <p>
                L'orem ipsum dolor, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore<br />
                magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunto.
            </p>
        </div>
    </div>

    <div class="section-empty text-center section-doc">
        <div class="container content">
            <h4 class="text-normal">Documentation</h4>
            <p>This template is built with HTWF and more variants<br /> are available, check the official documentation for more details.</p>
            <hr class="space xs" />
            <a href="http://html.framework-y.com/sections/video/" target="_blank" class="circle-button btn btn-sm">Go to documentation</a>
        </div>
    </div>
    
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/features/containers/section-background-video.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:12:12 GMT -->



