
@{
    ViewBag.Title = "Button";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

    <meta name="description" content="HTML5/CSS3 template components for Framework Y and business industries, based on Framework Y.">

<body>
    
    <div class="header-base">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="title-base text-left">
                        <h1>Buttons</h1>
                        <p>This template come with lot of innovative features and an awesome and extensive documentation.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <ol class="breadcrumb b white">
                        <li><a href="#">Home</a></li>
                        <li class="active">Features</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty section-item text-center">
        <div class="container content">
            <h5>SQUARE BUTTONS</h5>
            <hr class="space m" />
            <div class="text-center">
                <button class="btn btn-sm " type="button">Click me</button>
                <button class="btn btn-sm " type="button">Buy now</button>
                <button class="btn btn-sm " type="button">Get free quote</button>
                <button class="btn btn-sm " type="button">Contact us now</button>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>SQUARE ICON BUTTONS</h5>
            <hr class="space m" />
            <div class="text-center">
                <button class="btn btn-sm" type="button"><i class="fa fa-file-image-o"></i>Click me</button>
                <button class="btn btn-sm" type="button"><i class="fa fa-file-pdf-o"></i>Buy now</button>
                <button class="btn btn-sm" type="button"><i class="fa fa-fire-extinguisher"></i>Get free quote</button>
                <button class="btn btn-sm" type="button"><i class="fa fa-flash"></i>Contact us now</button>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>CIRCLE BUTTONS</h5>
            <hr class="space m" />
            <div class="text-center">
                <a href="#" class="circle-button btn btn-sm">Click me</a>
                <a href="#" class="circle-button btn btn-sm">Buy now</a>
                <a href="#" class="circle-button btn btn-sm">Get free quote</a>
                <a href="#" class="circle-button btn btn-sm">Contact us now</a>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>CIRCLE ICON BUTTONS</h5>
            <hr class="space m" />
            <div class="text-center">
                <a href="#" class="circle-button btn btn-sm"><i class="fa fa-forumbee"></i>Click me</a>
                <a href="#" class="circle-button btn btn-sm"><i class="fa fa-folder"></i>Buy now</a>
                <a href="#" class="circle-button btn btn-sm"><i class="fa fa-file-movie-o"></i>Get free quote</a>
                <a href="#" class="circle-button btn btn-sm"><i class="fa fa-file-zip-o"></i>Contact us now</a>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>LINK BUTTONS</h5>
            <hr class="space m" />
            <div class="text-center">
                <a class="btn-text" href="#">Click me</a><span class="space"></span>
                <a class="btn-text" href="#">Buy now</a><span class="space"></span>
                <a class="btn-text" href="#">Get free quote</a><span class="space"></span>
                <a class="btn-text" href="#">Contact us now</a>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>ANIMATED BUTTONS</h5>
            <hr class="space m" />
            <div class="text-center">
                <button class="btn btn-sm  anima-button" type="button"><i class="fa fa-first-order"></i>Click me</button>
                <button class="btn btn-sm  anima-button" type="button"><i class="fa fa-font-awesome"></i>Buy now</button>
                <button class="btn btn-sm  anima-button" type="button"><i class="fa fa-floppy-o"></i>Get free quote</button>
                <span class="space"></span><span class="space"></span><span class="space"></span>
                <a href="#" class="circle-button btn btn-sm anima-button"><i class="fa fa-foursquare"></i>Click me</a>
                <a href="#" class="circle-button btn btn-sm anima-button"><i class="fa fa-flag-checkered"></i>Buy now</a>
                <a href="#" class="circle-button btn btn-sm anima-button"><i class="fa fa-file-video-o"></i>Get free quote</a>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>BUTTON SIZES</h5>
            <hr class="space m" />
            <div class="text-center">
                <button class="btn btn-xs " type="button"><i class="fa fa-floppy-o"></i>Click me</button>
                <button class="btn btn-xs " type="button"><i class="fa fa-fire-extinguisher"></i>Buy now</button>
                <button class="btn btn-xs " type="button"><i class="fa  fa-braille"></i>Get free quote</button>
                <button class="btn btn-xs " type="button"><i class="fa fa-file-excel-o"></i>Contact us now</button>
                <br /><br />
                <button class="btn btn-sm " type="button"><i class="fa fa-file-code-o"></i>Click me</button>
                <button class="btn btn-sm " type="button"><i class="fa fa-calculator"></i>Buy now</button>
                <button class="btn btn-sm " type="button"><i class="fa fa-birthday-cake"></i>Get free quote</button>
                <button class="btn btn-sm " type="button"><i class="fa fa-cloud-upload"></i>Contact us now</button>
                <br /><br />
                <button class="btn " type="button"><i class="fa fa-check"></i>Click me</button>
                <button class="btn " type="button"><i class="fa fa-caret-square-o-down"></i>Buy now</button>
                <button class="btn " type="button"><i class="fa fa-cc-visa"></i>Get free quote</button>
                <button class="btn " type="button"><i class="fa fa-caret-down"></i>Contact us now</button>
                <br /><br />
                <button class="btn btn-lg " type="button"><i class="fa fa-check"></i>Click me</button>
                <button class="btn btn-lg " type="button"><i class="fa fa-chain-broken"></i>Buy now</button>
                <button class="btn btn-lg " type="button"><i class="fa fa-coffee"></i>Get free quote</button>
                <button class="btn btn-lg " type="button"><i class="fa fa-code-fork"></i>Contact us now</button>
            </div>
        </div>
    </div>

    <div class="section-empty text-center section-doc">
        <div class="container content">
            <h4 class="text-normal">Documentation</h4>
            <p>This template is built with HTWF and more variants<br /> are available, check the official documentation for more details.</p>
            <hr class="space xs" />
            <a href="http://html.framework-y.com/components/bootstrap/#buttons" target="_blank" class="circle-button btn btn-sm">Go to documentation</a>
        </div>
    </div>
    
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/features/components/buttons.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:11:38 GMT -->



