
@{
    ViewBag.Title = "CircleProgress";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

<meta name="description" content="HTML5/CSS3 template components for Framework Y and business industries, based on Framework Y.">

<body>

    <div class="header-base">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="title-base text-left">
                        <h1>Progress bars</h1>
                        <p>This template come with lot of innovative features and an awesome and extensive documentation.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <ol class="breadcrumb b white">
                        <li><a href="#">Home</a></li>
                        <li class="active">Features</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty section-item">
        <div class="container content">
            <h5 class="text-center">PROGRESS BARS</h5>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-4">
                    <p class="progress-label">METAL ROOFING</p>
                    <div class="progress">
                        <span class="progress-bar" data-progress="60"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <p class="progress-label">INTERIOR DESIGN</p>
                    <div class="progress">
                        <span class="progress-bar" data-progress="40"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <p class="progress-label">SKILLS</p>
                    <div class="progress">
                        <span> <span class="progress-bar" data-progress="90"></span></span>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <div class="row">
                <div class="col-md-4">
                    <p class="progress-label">SKILLS</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" data-progress="75">
                            <span class="sr-only">75% Complete</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <p class="progress-label">INTERIOR DESIGN</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" data-progress="40">
                            <span class="sr-only">75% Complete</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <p class="progress-label">METAL ROOFING</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" data-progress="60">
                            <span class="sr-only">75% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <div class="row">
                <div class="col-md-4">
                    <div class="row vertical-row">
                        <div class="col-md-3">
                            <p class="progress-label">SKILLS</p>
                        </div>
                        <div class="col-md-9">
                            <div class="progress">
                                <div class="progress-bar" data-progress="20">
                                    <span><span class="counter" data-to="20"></span> %</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row vertical-row">
                        <div class="col-md-3">
                            <p class="progress-label">DESIGN</p>
                        </div>
                        <div class="col-md-9">
                            <div class="progress">
                                <div class="progress-bar" data-progress="90">
                                    <span><span class="counter" data-to="90"></span> %</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row vertical-row">
                        <div class="col-md-3">
                            <p class="progress-label">ROOFING</p>
                        </div>
                        <div class="col-md-9">
                            <div class="progress">
                                <div class="progress-bar" data-progress="60">
                                    <span><span class="counter" data-to="60"></span> %</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5 class="text-center">CIRCLE PROGRESS BAR</h5>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-3">
                    <div class="progress-circle" data-progress="60" data-color="#5584ff"></div>
                </div>
                <div class="col-md-3">
                    <div class="progress-circle" data-progress="95" data-color="#5584ff">
                        <div class="inner-circle">
                            <div class="inner-center">
                                <span class="counter-circle">95 %</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="progress-circle" data-progress="30" data-color="#5584ff">
                        <div class="inner-circle">
                            <div class="inner-center">
                                <span class="counter-circle">30 %</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="progress-circle" data-progress="75" data-color="#5584ff"></div>
                </div>
            </div>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-3">
                    <div class="progress-circle" data-progress="60" data-thickness="5" data-options="lineCap:square" data-color="#5584ff">
                        <div class="inner-circle">
                            <div class="inner-center">
                                Dloremque laudantium, totam rem aperiam
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="progress-circle" data-progress="60" data-thickness="5" data-options="lineCap:square" data-color="#5584ff">
                        <div class="inner-circle">
                            <div class="inner-center">
                                <div class="subtitle c">
                                    <h2 class="main">THE PROGRESS</h2>
                                    <p class="sub">Great from any side</p>
                                    <hr class="d">
                                    <span class="counter-circle"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="progress-circle" data-progress="60" data-thickness="5" data-options="lineCap:square" data-color="#5584ff">
                        <div class="inner-circle">
                            <div class="inner-center">
                                <div class="subtitle c">
                                    <p class="sub">A GOOD CIRCLE BAR</p>
                                    <hr class="d">
                                    <span class="counter-circle"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="progress-circle" data-progress="60" data-thickness="5" data-options="lineCap:square" data-color="#5584ff">
                        <div class="inner-circle">
                            <div class="inner-center">
                                <div class="subtitle c icon line2">
                                    <h2 class="main">CIRCLE PROGRESS</h2>
                                    <p class="sub">Great from any side</p>
                                    <i class="fa fa-trophy"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty text-center section-doc">
        <div class="container content">
            <h4 class="text-normal">Documentation</h4>
            <p>This template is built with HTWF and more variants<br /> are available, check the official documentation for more details.</p>
            <hr class="space xs" />
            <a href="http://html.framework-y.com/components/#progress-bar" target="_blank" class="circle-button btn btn-sm">Go to documentation</a>
        </div>
    </div>

</body>

