
@{
    ViewBag.Title = "ContentBox";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

    <meta name="description" content="HTML5/CSS3 template components for Framework Y and business industries, based on Framework Y.">
  
<body>
  
    <div class="header-base">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="title-base text-left">
                        <h1>Content boxes</h1>
                        <p>This template come with lot of innovative features and an awesome and extensive documentation.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <ol class="breadcrumb b white">
                        <li><a href="#">Home</a></li>
                        <li class="active">Features</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty section-item text-center">
        <div class="container content">
            <h5>SIDE IMAGE</h5>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-6">
                    <div class="advs-box advs-box-side" data-anima="fade-left" data-trigger="hover">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="img-box"><img src="~/Areas/Root/images/gallery/image-1.jpg" alt=""></div>
                            </div>
                            <div class="col-md-8">
                                <h3>Stay hungry</h3>
                                <hr class="anima">
                                <p>
                                    Quis nonummy wisi taciti Dictumst sapiente aliquet elementum eveniet loremi. Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                    Utenim ad minim veniam quis nostrud exercitation ullamco.
                                </p>
                                <a class="btn btn-xs" href="#">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="advs-box advs-box-side" data-anima="fade-left" data-trigger="hover">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="img-box"><img src="~/Areas/Root/images/gallery/image-2.jpg" alt=""></div>
                            </div>
                            <div class="col-md-8">
                                <h3>Stay foolish</h3>
                                <hr class="anima">
                                <p>
                                    Quis nonummy wisi taciti Dictumst sapiente aliquet elementum eveniet loremi. Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                    Utenim ad minim veniam quis nostrud exercitation ullamco.
                                </p>
                                <a class="btn btn-xs" href="#">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>TOP IMAGE</h5>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-4">
                    <div class="advs-box advs-box-top-icon-img boxed-inverse">
                        <a class="img-box img-scale-up" href="#">
                            <span><img src="~/Areas/Root/images/gallery/image-1.jpg" alt=""></span>
                        </a>
                        <div class="advs-box-content">
                            <h3>Stay hungry</h3>
                            <p>
                                L'orem ipsum dolor sitamet, consectetur adipisicing elit, sed do eiusmod incididunt
                                ut labore etaliqua ...
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="advs-box advs-box-top-icon-img boxed-inverse">
                        <a class="img-box img-scale-up" href="#">
                            <span><img src="~/Areas/Root/images/gallery/image-2.jpg" alt=""></span>
                        </a>
                        <div class="advs-box-content">
                            <h3>Stay foolish</h3>
                            <p>
                                L'orem ipsum dolor sitamet, consectetur adipisicing elit, sed do eiusmod incididunt
                                ut labore etaliqua ...
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="advs-box advs-box-top-icon-img boxed-inverse">
                        <a class="img-box img-scale-up" href="#">
                            <span><img src="~/Areas/Root/images/gallery/image-3.jpg" alt=""></span>
                        </a>
                        <div class="advs-box-content">
                            <h3>Be happy</h3>
                            <p>
                                L'orem ipsum dolor sitamet, consectetur adipisicing elit, sed do eiusmod incididunt
                                ut labore etaliqua ...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-4">
                    <div class="advs-box advs-box-top-icon-img boxed white" data-anima="scale-rotate" data-trigger="hover">
                        <i class="fa fa-question icon anima-scale-up anima"></i>
                        <a class="img-box img-scale-up" href="#">
                            <span><img src="~/Areas/Root/images/gallery/image-1.jpg" alt=""></span>
                        </a>
                        <div class="advs-box-content">
                            <h3>Stay hungry</h3>
                            <p>
                                Deserunt adipisci sapien magnis ea nunc placerat fames proin placerat aptent ultricies condimentum rerum perferendis, luctus.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="advs-box advs-box-top-icon-img boxed white" data-anima="scale-rotate" data-trigger="hover">
                        <i class="fa fa-question-circle icon anima-scale-up anima"></i>
                        <a class="img-box img-scale-up" href="#">
                            <span><img src="~/Areas/Root/images/gallery/image-2.jpg" alt=""></span>
                        </a>
                        <div class="advs-box-content">
                            <h3>Stay foolish</h3>
                            <p>
                                Deserunt adipisci sapien magnis ea nunc placerat fames proin placerat aptent ultricies condimentum rerum perferendis, luctus.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="advs-box advs-box-top-icon-img boxed white" data-anima="scale-rotate" data-trigger="hover">
                        <i class="fa fa-quote-left icon anima-scale-up anima"></i>
                        <a class="img-box img-scale-up" href="#">
                            <span><img src="~/Areas/Root/images/gallery/image-3.jpg" alt=""></span>
                        </a>
                        <div class="advs-box-content">
                            <h3>Be happy</h3>
                            <p>
                                Deserunt adipisci sapien magnis ea nunc placerat fames proin placerat aptent ultricies condimentum rerum perferendis, luctus.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>TOP ICON</h5>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-4">
                    <div class="advs-box advs-box-top-icon" data-anima="rotate-20" data-trigger="hover">
                        <i class="fa fa-refresh anima icon text-xl"></i>
                        <h3>Stay hungry</h3>
                        <p>
                            Euismod beatae mollit hymenaeos pharetra senectus perspiciatis esse nostra quama riatur pariaturorci quibusdam animi.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="advs-box advs-box-top-icon" data-anima="rotate-20" data-trigger="hover">
                        <i class="fa fa-eercast anima icon text-xl"></i>
                        <h3>Stay foolish</h3>
                        <p>
                            Euismod beatae mollit hymenaeos pharetra senectus perspiciatis esse nostra quama riatur pariaturorci quibusdam animi.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="advs-box advs-box-top-icon" data-anima="rotate-20" data-trigger="hover">
                        <i class="fa fa-eject anima icon text-xl"></i>
                        <h3>Be happy</h3>
                        <p>
                            Euismod beatae mollit hymenaeos pharetra senectus perspiciatis esse nostra quama riatur pariaturorci quibusdam animi.
                        </p>
                    </div>
                </div>
            </div>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-4">
                    <div class="advs-box advs-box-top-icon boxed white" data-anima="rotate-20" data-trigger="hover">
                        <i class="fa fa-get-pocket icon circle anima"></i>
                        <h3>Stay hungry</h3>
                        <p>
                            Euismod beatae mollit hymenaeos pharetra senectus perspiciatis esse nostra quama riatur pariaturorci quibusdam animi.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="advs-box advs-box-top-icon boxed white" data-anima="rotate-20" data-trigger="hover">
                        <i class="fa fa-facebook-f icon circle anima"></i>
                        <h3>Stay foolish</h3>
                        <p>
                            Euismod beatae mollit hymenaeos pharetra senectus perspiciatis esse nostra quama riatur pariaturorci quibusdam animi.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="advs-box advs-box-top-icon boxed white" data-anima="rotate-20" data-trigger="hover">
                        <i class="fa fa-genderless icon circle anima"></i>
                        <h3>Be happy</h3>
                        <p>
                            Euismod beatae mollit hymenaeos pharetra senectus perspiciatis esse nostra quama riatur pariaturorci quibusdam animi.
                        </p>
                    </div>
                </div>
            </div>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-4">
                    <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="rotate-20" data-trigger="hover">
                        <i class="fa fa-gear icon circle anima"></i>
                        <h3>Stay hungry</h3>
                        <p>
                            Euismod beatae mollit hymenaeos pharetra senectus perspiciatis esse nostra quama riatur pariaturorci quibusdam animi.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="rotate-20" data-trigger="hover">
                        <i class="fa fa-address-book icon circle anima"></i>
                        <h3>Stay foolish</h3>
                        <p>
                            Euismod beatae mollit hymenaeos pharetra senectus perspiciatis esse nostra quama riatur pariaturorci quibusdam animi.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="rotate-20" data-trigger="hover">
                        <i class="fa fa-address-card-o icon circle anima"></i>
                        <h3>Be happy</h3>
                        <p>
                            Euismod beatae mollit hymenaeos pharetra senectus perspiciatis esse nostra quama riatur pariaturorci quibusdam animi.
                        </p>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>SIDE ICON</h5>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-4">
                    <div class="advs-box advs-box-side-icon" data-anima="pulse-fast" data-trigger="hover">
                        <div class="icon-box">
                            <i class="anima icon fa fa-gamepad text-l"></i>
                        </div>
                        <div class="caption-box">
                            <h3>Stay hungry</h3>
                            <p>
                                Euismod beatae mollit hymenaeos pharetra senectus perspiciatis esse nostra quama riatur pariaturorci quibusdam animi.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="advs-box advs-box-side-icon" data-anima="pulse-fast" data-trigger="hover">
                        <div class="icon-box">
                            <i class="anima icon fa fa-gears text-l"></i>
                        </div>
                        <div class="caption-box">
                            <h3>Stay foolish</h3>
                            <p>
                                Euismod beatae mollit hymenaeos pharetra senectus perspiciatis esse nostra quama riatur pariaturorci quibusdam animi.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="advs-box advs-box-side-icon" data-anima="pulse-fast" data-trigger="hover">
                        <div class="icon-box">
                            <i class="anima icon fa fa-graduation-cap text-l"></i>
                        </div>
                        <div class="caption-box">
                            <h3>Be happy</h3>
                            <p>
                                Euismod beatae mollit hymenaeos pharetra senectus perspiciatis esse nostra quama riatur pariaturorci quibusdam animi.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-4">
                    <div class="advs-box advs-box-side-icon boxed-inverse" data-anima="pulse-fast" data-trigger="hover">
                        <div class="icon-box">
                            <i class="anima icon fa fa-jpy text-l"></i>
                        </div>
                        <div class="caption-box">
                            <h3>Stay hungry</h3>
                            <p>
                                Euismod beatae mollit hymenaeos pharetra senectus perspiciatis esse nostra quama riatur pariaturorci quibusdam animi.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="advs-box advs-box-side-icon boxed-inverse" data-anima="pulse-fast" data-trigger="hover">
                        <div class="icon-box">
                            <i class="anima icon fa fa-lastfm text-l"></i>
                        </div>
                        <div class="caption-box">
                            <h3>Stay foolish</h3>
                            <p>
                                Euismod beatae mollit hymenaeos pharetra senectus perspiciatis esse nostra quama riatur pariaturorci quibusdam animi.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="advs-box advs-box-side-icon boxed white" data-anima="pulse-fast" data-trigger="hover">
                        <div class="icon-box">
                            <i class="anima icon fa fa-jsfiddle text-l"></i>
                        </div>
                        <div class="caption-box">
                            <h3>Be happy</h3>
                            <p>
                                Euismod beatae mollit hymenaeos pharetra senectus perspiciatis esse nostra quama riatur pariaturorci quibusdam animi.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>MULTIPLE BOX</h5>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-4">
                    <div class="advs-box advs-box-multiple boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                        <a class="img-box"><img class="anima" src="~/Areas/Root/images/gallery/image-1.jpg" alt="" /> </a>
                        <div class="circle anima-rotate-20 anima"><i class="fa fa-vcard-o"></i></div>
                        <div class="advs-box-content">
                            <h3>Stay hungry</h3>
                            <p>
                                Sed. Hic iaculis ullamco platea molestiae, tincidunt minima aperiam vivamus, sollicitudin ante morbi aliqua? Fermentum lacus.
                            </p>
                            <a class="btn btn-sm" href="about.html">Enter now </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="advs-box advs-box-multiple boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                        <a class="img-box"><img class="anima" src="~/Areas/Root/images/gallery/image-2.jpg" alt="" /> </a>
                        <div class="circle anima-rotate-20 anima"><i class="fa fa-dot-circle-o"></i></div>
                        <div class="advs-box-content">
                            <h3>Stay foolish</h3>
                            <p>
                                Sed. Hic iaculis ullamco platea molestiae, tincidunt minima aperiam vivamus, sollicitudin ante morbi aliqua? Fermentum lacus.
                            </p>
                            <a class="btn btn-sm" href="about.html">Enter now </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="advs-box advs-box-multiple boxed white" data-anima="scale-rotate" data-trigger="hover">
                        <a class="img-box"><img class="anima" src="~/Areas/Root/images/gallery/image-3.jpg" alt="" /> </a>
                        <div class="circle anima-rotate-20 anima"><i class="fa fa-wordpress"></i></div>
                        <div class="advs-box-content">
                            <h3>Be happy</h3>
                            <p>
                                Sed. Hic iaculis ullamco platea molestiae, tincidunt minima aperiam vivamus, sollicitudin ante morbi aliqua? Fermentum lacus.
                            </p>
                            <a class="btn btn-sm" href="about.html">Enter now </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>BLOG BOX</h5>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-12">
                    <div class="advs-box advs-box-side-img advs-box-blog boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="img-box">
                                    <img class="anima" src="~/Areas/Root/images/gallery/image-1.jpg" alt="" />
                                </a>
                            </div>
                            <div class="col-md-8">
                                <h2><a>Stay hungry</a></h2>
                                <hr>
                                <div class="tag-row icon-row">
                                    <span><i class="fa fa-calendar"></i><a>26.05.2018</a></span>
                                    <span><i class="fa fa-bookmark"></i><a href="#">Category</a></span>
                                    <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                                </div>
                                <p>
                                    Culpa. Sapiente inceptos facilisi, molestiae veritatis expedita gravida deserunt, augue consectetuer delectus! Molestias? Illum quas deleniti
                                </p>
                                <a class="btn btn-sm" href="#">Read more</a>
                            </div>
                        </div>
                    </div>
                    <hr class="space s" />
                    <div class="advs-box advs-box-side-img advs-box-blog boxed white" data-anima="scale-rotate" data-trigger="hover">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="img-box">
                                    <img class="anima" src="~/Areas/Root/images/gallery/image-2.jpg" alt="" />
                                </a>
                            </div>
                            <div class="col-md-8">
                                <h2><a>Stay foolish</a></h2>
                                <hr>
                                <div class="tag-row icon-row">
                                    <span><i class="fa fa-calendar"></i><a>26.05.2018</a></span>
                                    <span><i class="fa fa-bookmark"></i><a href="#">Category</a></span>
                                    <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                                </div>
                                <p>
                                    Culpa. Sapiente inceptos facilisi, molestiae veritatis expedita gravida deserunt, augue consectetuer delectus! Molestias? Illum quas deleniti
                                </p>
                                <a class="btn btn-sm " href="#"> Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>BLOG BOX 2</h5>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-4">
                    <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                        <div class="block-infos">
                            <div class="block-data">
                                <p class="bd-day">25</p>
                                <p class="bd-month">July</p>
                            </div>
                            <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                        </div>
                        <a class="img-box"><img class="anima" src="~/Areas/Root/images/gallery/image-1.jpg" alt="" /> </a>
                        <div class="advs-box-content">
                            <h2><a href="#">Stay hungry</a></h2>
                            <div class="tag-row">
                                <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                            </div>
                            <p class="niche-box-content">
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunto.
                            </p>
                            <a class="btn btn-sm" href="#">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                        <div class="block-infos">
                            <div class="block-data">
                                <p class="bd-day">25</p>
                                <p class="bd-month">July</p>
                            </div>
                            <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                        </div>
                        <a class="img-box"><img class="anima" src="~/Areas/Root/images/gallery/image-2.jpg" alt="" /> </a>
                        <div class="advs-box-content">
                            <h2><a href="#">Stay foolish</a></h2>
                            <div class="tag-row">
                                <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                            </div>
                            <p class="niche-box-content">
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunto.
                            </p>
                            <a class="btn btn-sm" href="#">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                        <div class="block-infos">
                            <div class="block-data">
                                <p class="bd-day">25</p>
                                <p class="bd-month">July</p>
                            </div>
                            <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                        </div>
                        <a class="img-box"><img class="anima" src="~/Areas/Root/images/gallery/image-3.jpg" alt="" /> </a>
                        <div class="advs-box-content">
                            <h2><a href="#">Be happy</a></h2>
                            <div class="tag-row">
                                <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                            </div>
                            <p class="niche-box-content">
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunto.
                            </p>
                            <a class="btn btn-sm" href="#">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-4">
                    <div class="advs-box advs-box-top-icon-img niche-box-post boxed white" data-anima="scale-rotate" data-trigger="hover">
                        <div class="block-infos">
                            <div class="block-data">
                                <p class="bd-day">25</p>
                                <p class="bd-month">July</p>
                            </div>
                            <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                        </div>
                        <a class="img-box"><img class="anima" src="~/Areas/Root/images/gallery/image-1.jpg" alt="" /> </a>
                        <div class="advs-box-content">
                            <h2><a href="#">Stay hungry</a></h2>
                            <div class="tag-row">
                                <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                            </div>
                            <p class="niche-box-content">
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunto.
                            </p>
                            <a class="btn btn-sm" href="#">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="advs-box advs-box-top-icon-img niche-box-post boxed white" data-anima="scale-rotate" data-trigger="hover">
                        <div class="block-infos">
                            <div class="block-data">
                                <p class="bd-day">25</p>
                                <p class="bd-month">July</p>
                            </div>
                            <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                        </div>
                        <a class="img-box"><img class="anima" src="~/Areas/Root/images/gallery/image-2.jpg" alt="" /> </a>
                        <div class="advs-box-content">
                            <h2><a href="#">Stay foolish</a></h2>
                            <div class="tag-row">
                                <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                            </div>
                            <p class="niche-box-content">
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunto.
                            </p>
                            <a class="btn btn-sm" href="#">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="advs-box advs-box-top-icon-img niche-box-post boxed white" data-anima="scale-rotate" data-trigger="hover">
                        <div class="block-infos">
                            <div class="block-data">
                                <p class="bd-day">25</p>
                                <p class="bd-month">July</p>
                            </div>
                            <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                        </div>
                        <a class="img-box"><img class="anima" src="~/Areas/Root/images/gallery/image-3.jpg" alt="" /> </a>
                        <div class="advs-box-content">
                            <h2><a href="#">Be happy</a></h2>
                            <div class="tag-row">
                                <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                            </div>
                            <p class="niche-box-content">
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunto.
                            </p>
                            <a class="btn btn-sm" href="#">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>BLOG BOX 3</h5>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-4">
                    <div class="advs-box niche-box-blog">
                        <div class="block-top">
                            <div class="block-infos">
                                <div class="block-data">
                                    <p class="bd-day">25</p>
                                    <p class="bd-month">July</p>
                                </div>
                                <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                            </div>
                            <div class="block-title">
                                <h2><a href="#">Stay hungry</a></h2>
                                <div class="tag-row">
                                    <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                                </div>
                            </div>
                        </div>
                        <a class="img-box img-scale-up" href="#">
                            <img src="~/Areas/Root/images/gallery/image-1.jpg" alt="">
                        </a>
                        <p class="excerpt">
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunto.
                        </p>
                        <a class="btn btn-sm" href="#">Read more</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="advs-box niche-box-blog">
                        <div class="block-top">
                            <div class="block-infos">
                                <div class="block-data">
                                    <p class="bd-day">25</p>
                                    <p class="bd-month">July</p>
                                </div>
                                <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                            </div>
                            <div class="block-title">
                                <h2><a href="#">Stay foolish</a></h2>
                                <div class="tag-row">
                                    <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                                </div>
                            </div>
                        </div>
                        <a class="img-box img-scale-up" href="#">
                            <img src="~/Areas/Root/images/gallery/image-2.jpg" alt="">
                        </a>
                        <p class="excerpt">
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunto.
                        </p>
                        <a class="btn btn-sm" href="#">Read more</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="advs-box niche-box-blog">
                        <div class="block-top">
                            <div class="block-infos">
                                <div class="block-data">
                                    <p class="bd-day">25</p>
                                    <p class="bd-month">July</p>
                                </div>
                                <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                            </div>
                            <div class="block-title">
                                <h2><a href="#">Be happy</a></h2>
                                <div class="tag-row">
                                    <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                                </div>
                            </div>
                        </div>
                        <a class="img-box img-scale-up" href="#">
                            <img src="~/Areas/Root/images/gallery/image-3.jpg" alt="">
                        </a>
                        <p class="excerpt">
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunto.
                        </p>
                        <a class="btn btn-sm" href="#">Read more</a>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>TESTIMONIALS</h5>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-4">
                    <div class="advs-box advs-box-top-icon niche-box-testimonails">
                        <i class="fa text-xl circle onlycover" style="background-image:url('~/Areas/Root/images/users/user-11.jpg')"></i>
                        <p>
                            Etiam feugiat. Libero tincidunt, ac magni porttitor fugit laboriosam sed, condimentum tellus. Diam, quas laboriosam, quisque.
                        </p>
                        <h5>Mary Groot <span>Google</span></h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="advs-box advs-box-top-icon niche-box-testimonails">
                        <i class="fa text-xl circle onlycover" style="background-image:url('~/Areas/Root/images/users/user-2.jpg')"></i>
                        <p>
                            Etiam feugiat. Libero tincidunt, ac magni porttitor fugit laboriosam sed, condimentum tellus. Diam, quas laboriosam, quisque.
                        </p>
                        <h5>Luca Dalla Cort <span>Fintech</span></h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="advs-box advs-box-top-icon niche-box-testimonails">
                        <i class="fa text-xl circle onlycover" style="background-image:url('~/Areas/Root/images/users/user-3.jpg')"></i>
                        <p>
                            Etiam feugiat. Libero tincidunt, ac magni porttitor fugit laboriosam sed, condimentum tellus. Diam, quas laboriosam, quisque.
                        </p>
                        <h5>Elisa Elsa <span>Telwin</span></h5>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>TESTIMONIALS 2</h5>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-4">
                    <div class="advs-box niche-box-testimonails-cloud">
                        <p>
                            Etiam feugiat. Libero tincidunt, ac magni porttitor fugit laboriosam sed, condimentum tellus. Diam, quas laboriosam, quisque porta praesentium.
                        </p>
                        <div class="name-box vertical-row">
                            <i class="vertical-col fa text-l circle onlycover" style="background-image:url('~/Areas/Root/images/users/user-11.jpg')"></i>
                            <h5 class="vertical-col subtitle">Federico Schiocchet<span class="subtxt">Marketing expert</span></h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="advs-box niche-box-testimonails-cloud">
                        <p>
                            Etiam feugiat. Libero tincidunt, ac magni porttitor fugit laboriosam sed, condimentum tellus. Diam, quas laboriosam, quisque porta praesentium.
                        </p>
                        <div class="name-box vertical-row">
                            <i class="vertical-col fa text-l circle onlycover" style="background-image:url('~/Areas/Root/images/users/user-2.jpg')"></i>
                            <h5 class="vertical-col subtitle">David Patrick<span class="subtxt">Web developer</span></h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="advs-box niche-box-testimonails-cloud">
                        <p>
                            Etiam feugiat. Libero tincidunt, ac magni porttitor fugit laboriosam sed, condimentum tellus. Diam, quas laboriosam, quisque porta praesentium.
                        </p>
                        <div class="name-box vertical-row">
                            <i class="vertical-col fa text-l circle onlycover" style="background-image:url('~/Areas/Root/images/users/user-3.jpg')"></i>
                            <h5 class="vertical-col subtitle">Tua madre<span class="subtxt">Tuo padre</span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>TEAM</h5>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-3">
                    <div class="advs-box niche-box-team" data-anima="scale-up" data-trigger="hover">
                        <a class="img-box">
                            <img class="anima" src="~/Areas/Root/images/users/user-11.jpg" alt="" />
                        </a>
                        <div class="content-box">
                            <h2>Jack Stone</h2>
                            <h4>Founder</h4>
                            <hr class="e" />
                            <div class="btn-group social-group">
                                <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and industry. Lorem has been the industry.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="advs-box niche-box-team" data-anima="scale-up" data-trigger="hover">
                        <a class="img-box">
                            <img class="anima" src="~/Areas/Root/images/users/user-2.jpg" alt="" />
                        </a>
                        <div class="content-box">
                            <h2>Oliver Andrew</h2>
                            <h4>Collaboration</h4>
                            <hr class="e" />
                            <div class="btn-group social-group">
                                <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and industry. Lorem has been the industry.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="advs-box niche-box-team" data-anima="scale-up" data-trigger="hover">
                        <a class="img-box">
                            <img class="anima" src="~/Areas/Root/images/users/user-3.jpg" alt="" />
                        </a>
                        <div class="content-box">
                            <h2>Alex Franz</h2>
                            <h4>Marketing</h4>
                            <hr class="e" />
                            <div class="btn-group social-group">
                                <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and industry. Lorem has been the industry.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="advs-box niche-box-team" data-anima="scale-up" data-trigger="hover">
                        <a class="img-box">
                            <img class="anima" src="~/Areas/Root/images/users/user-4.jpg" alt="" />
                        </a>
                        <div class="content-box">
                            <h2>Alex Franz</h2>
                            <h4>Security</h4>
                            <hr class="e" />
                            <div class="btn-group social-group">
                                <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and industry. Lorem has been the industry.</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>PRICING TABLE</h5>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-4">
                    <div class="list-group pricing-table">
                        <div class="list-group-item pricing-price">
                            20 <span>$</span>
                        </div>
                        <div class="list-group-item pricing-name">
                            <h3>
                                JUST CHECKING
                            </h3>
                        </div>
                        <div class="list-group-item">
                            General contracting
                        </div>
                        <div class="list-group-item">
                            Pre-Framework Y services
                        </div>
                        <div class="list-group-item">
                            Framework Y consulting
                        </div>
                        <div class="list-group-item">
                            Design-build
                        </div>
                        <div class="list-group-item">
                            24/7 support
                        </div>
                        <div class="list-group-item">
                            <a class="btn btn-sm btn-default" href="#"> Order now </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="list-group pricing-table pricing-table-big">
                        <div class="list-group-item pricing-price">
                            85 <span>$</span>
                        </div>
                        <div class="list-group-item pricing-name">
                            <h3>PLUS PLAN</h3>
                        </div>
                        <div class="list-group-item">
                            General contracting
                        </div>
                        <div class="list-group-item">
                            Pre-Framework Y services
                        </div>
                        <div class="list-group-item">
                            businesss
                        </div>
                        <div class="list-group-item">
                            Design-build
                        </div>
                        <div class="list-group-item">
                            24/7 support
                        </div>
                        <div class="list-group-item">
                            <a class="btn btn-sm btn-default" href="#"> Order now </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="list-group pricing-table">
                        <div class="list-group-item pricing-price">
                            200 <span>$</span>
                        </div>
                        <div class="list-group-item pricing-name">
                            <h3>ADD INSURANCE</h3>
                        </div>
                        <div class="list-group-item">
                            General contracting
                        </div>
                        <div class="list-group-item">
                            Pre-Framework Y services
                        </div>
                        <div class="list-group-item">
                            Framework Y consulting
                        </div>
                        <div class="list-group-item">
                            Metal roofing
                        </div>
                        <div class="list-group-item">
                            24/7 support
                        </div>
                        <div class="list-group-item">
                            <a class="btn btn-sm btn-default" href="#"> Order now </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>CALL TO ACTION</h5>
            <hr class="space m" />
            <div class="advs-box call-action-box vertical-row white">
                <div class="col-md-1">
                    <i class="fa fa-facebook-f action-icon"></i>
                </div>
                <div class="col-md-8">
                    <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-sm" href="#">GET A QUOTE </a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <div class="section-empty text-center section-doc">
        <div class="container content">
            <h4 class="text-normal">Documentation</h4>
            <p>This template is built with HTWF and more variants<br /> are available, check the official documentation for more details.</p>
            <hr class="space xs" />
            <a href="http://html.framework-y.com/components/content-box/" target="_blank" class="circle-button btn btn-sm">Go to documentation</a>
        </div>
    </div>
    
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/features/components/content-box.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:11:38 GMT -->



