
@{
    ViewBag.Title = "Counters";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

    <meta name="description" content="HTML5/CSS3 template components for Framework Y and business industries, based on Framework Y.">

<body>
    
    <div class="header-base">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="title-base text-left">
                        <h1>Counters and countdowns</h1>
                        <p>This template come with lot of innovative features and an awesome and extensive documentation.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <ol class="breadcrumb b white">
                        <li><a href="#">Home</a></li>
                        <li class="active">Features</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty section-item text-center">
        <div class="container content">
            <h5>COUNTERS</h5>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-3">
                    <div class="icon-box icon-box-top-bottom">
                        <div class="icon-box-cell">
                            <i class="fa fa-dot-circle-o text-xl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <b><label class="counter text-l" data-speed="5000" data-to="850034"></label></b>
                            <p>Works completes</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box icon-box-top-bottom">
                        <div class="icon-box-cell">
                            <i class="fa-address-book fa text-xl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <b><label class="counter text-l" data-speed="5000" data-to="150"></label></b>
                            <p>Projects reserved</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box icon-box-top-bottom">
                        <div class="icon-box-cell">
                            <i class="fa fa-angle-double-right text-xl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <b><label class="counter text-l" data-speed="5000" data-to="1505"></label></b>
                            <p>Clients</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box icon-box-top-bottom">
                        <div class="icon-box-cell">
                            <i class="fa fa-picture-o text-xl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <b><label class="counter text-l" data-speed="5000" data-to="128"></label></b>
                            <p>Pizzas</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <div class="row">
                <div class="col-md-3">
                    <div class="icon-box counter-box-icon">
                        <div class="icon-box-cell">
                            <i class="fa fa-comments-o text-xl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="counter text-l" data-speed="5000" data-to="1203">1203</label>
                            <p>Relashinships</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box counter-box-icon">
                        <div class="icon-box-cell">
                            <i class="fa-address-book fa text-xl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="counter text-l" data-speed="5000" data-to="50020">50020</label>
                            <p>Happy fonts</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box counter-box-icon">
                        <div class="icon-box-cell">
                            <i class="fa fa-ruble text-xl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="counter text-l" data-speed="5000" data-to="7523">7523</label>
                            <p>Great projects</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box counter-box-icon">
                        <div class="icon-box-cell">
                            <i class="fa fa-ravelry text-xl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="counter text-l" data-speed="5000" data-to="1000">1000</label>
                            <p>Pizzas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-bg-color text-center">
        <div class="container content">
            <h5>COUNTDOWN</h5>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-12">
                    <div class="countdown" data-time="2022 10:30:00" data-utc-offset="-5">
                        <span class="days countdown-values text-l">00</span><span class="countdown-label"> Days</span>
                        <span class="hours countdown-values text-l">00</span><span class="countdown-label"> Hours</span>
                        <span class="minutes countdown-values text-l">00</span><span class="countdown-label"> Minutes</span>
                        <span class="seconds countdown-values text-l">00</span><span class="countdown-label"> Seconds</span>
                    </div>
                </div>
            </div>
            <hr class="space" />
            <div class="row">
                <div class="col-md-6">
                    <div class="icon-box icon-box-top-bottom col-center">
                        <div class="icon-box-cell">
                            <label class="text-m">Estimated deadline</label>
                            <i class="fa fa-crop text-xl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <p class="countdown" data-time="2020 01:30:00" data-utc-offset="-5">
                                <span class="days countdown-values text-m">00</span><span class="countdown-label"> Days</span>
                                <span class="hours countdown-values text-m">00</span><span class="countdown-label"> Hours</span>
                                <span class="minutes countdown-values text-m">00</span><span class="countdown-label"> Minutes</span>
                                <span class="seconds countdown-values text-m">00</span><span class="countdown-label"> Seconds</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="icon-box icon-box-top-bottom col-center">
                        <div class="icon-box-cell">
                            <label class="text-m">Countdown status</label>
                            <i class="fa fa-diamond text-xl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <p class="countdown" data-time="2020 10:30:00" data-utc-offset="-5">
                                <span class="days countdown-values text-m">00</span><span class="countdown-label"> Days</span>
                                <span class="hours countdown-values text-m">00</span><span class="countdown-label"> Hours</span>
                                <span class="minutes countdown-values text-m">00</span><span class="countdown-label"> Minutes</span>
                                <span class="seconds countdown-values text-m">00</span><span class="countdown-label"> Seconds</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space" />
            <div class="row">
                <div class="col-md-6">
                    <div class="countdown" data-time="2020 10:30:00" data-utc-offset="-5">
                        <div>
                            <span class="days countdown-values text-m">00</span><br /><span class="countdown-label">Days</span>
                        </div>
                        <div>
                            <span class="hours countdown-values text-m">00</span><br /><span class="countdown-label">Hours</span>
                        </div>
                        <div>
                            <span class="minutes countdown-values text-m">00</span><br /><span class="countdown-label">Mins</span>
                        </div>
                        <div>
                            <span class="seconds countdown-values text-m">00</span><br /><span class="countdown-label">Secs</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="countdown" data-time="2020 10:30:00" data-utc-offset="-5">
                        <div>
                            <span class="days countdown-values text-m">00</span><br /><span class="countdown-label">Days</span>
                        </div>
                        <div>
                            <span class="hours countdown-values text-m">00</span><br /><span class="countdown-label">Hours</span>
                        </div>
                        <div>
                            <span class="minutes countdown-values text-m">00</span><br /><span class="countdown-label">Mins</span>
                        </div>
                        <div>
                            <span class="seconds countdown-values text-m">00</span><br /><span class="countdown-label">Secs</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty text-center">
        <div class="container content">
            <h4 class="text-normal">Documentation</h4>
            <p>This template is built with HTWF and more variants<br /> are available, check the official documentation for more details.</p>
            <hr class="space xs" />
            <a href="http://html.framework-y.com/components/#countdown" target="_blank" class="circle-button btn btn-sm">Go to documentation</a>
        </div>
    </div>
    
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/features/components/counters-countdown.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:11:23 GMT -->



