
@{
    ViewBag.Title = "GoogleMaps";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

    <meta name="description" content="HTML5/CSS3 template components for Framework Y and business industries, based on Framework Y.">

<body>
  
    <div class="header-base">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="title-base text-left">
                        <h1>Google maps</h1>
                        <p>This template come with lot of innovative features and an awesome and extensive documentation.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <ol class="breadcrumb b white">
                        <li><a href="#">Home</a></li>
                        <li class="active">Features</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty section-item text-center">
        <div class="container content">
            <h5>GOOGLE MAP</h5>
            <hr class="space m" />
            <div class="google-map" data-coords="28.6139391,77.20902120000005"></div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>GOOGLE MAP - BLACK</h5>
            <hr class="space m" />
            <div class="google-map" data-marker-pos-top="30" data-coords="28.6139391,77.20902120000005" data-skin="black"></div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>GOOGLE MAP - GRAY</h5>
            <hr class="space m" />
            <div class="google-map" data-marker-pos-top="30" data-coords="28.6139391,77.20902120000005" data-skin="gray"></div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>GOOGLE MAP - GREEN</h5>
            <hr class="space m" />
            <div class="google-map" data-marker-pos-top="30" data-coords="28.6139391,77.20902120000005" data-skin="green"></div>
        </div>
    </div>

    <div class="section-empty text-center section-doc">
        <div class="container content">
            <h4 class="text-normal">Documentation</h4>
            <p>This template is built with HTWF and more variants<br /> are available, check the official documentation for more details.</p>
            <hr class="space xs" />
            <a href="http://html.framework-y.com/components/#google-maps" target="_blank" class="circle-button btn btn-sm">Go to documentation</a>
        </div>
    </div>
    
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

</body>




