
@{
    ViewBag.Title = "Icons";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

    <meta name="description" content="HTML5/CSS3 template components for Framework Y and business industries, based on Framework Y.">

<body>
   
    <div class="header-base">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="title-base text-left">
                        <h1>Icons</h1>
                        <p>This template come with lot of innovative features and an awesome and extensive documentation.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <ol class="breadcrumb b white">
                        <li><a href="#">Home</a></li>
                        <li class="active">Features</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty section-item text-center">
        <div class="container content">
            <h5>DEFAULT ICONS</h5>
            <hr class="space m" />
            <i class="fa fa-question-circle text-xl"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-warning text-xl"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-ellipsis-h text-xl"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-refresh text-xl"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-tablet text-xl"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-yc-square text-xl"></i>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>CIRCLE ICONS</h5>
            <hr class="space m" />
            <i class="fa fa-qrcode circle text-xl"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-wechat circle text-xl"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-exclamation-triangle circle text-xl"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-reorder circle text-xl"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-times circle text-xl"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-hacker-news circle text-xl"></i>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>CIRCLE IMAGES</h5>
            <hr class="space m" />
            <i class="fa text-xl circle onlycover" style="background-image: url('~/Areas/Root/images/users/user-11.jpg')"></i><span class="space"></span><span class="space"></span>
            <i class="fa text-xl circle onlycover" style="background-image: url('~/Areas/Root/images/users/user-2.jpg')"></i><span class="space"></span><span class="space"></span>
            <i class="fa text-xl circle onlycover" style="background-image:url('~/Areas/Root/images/users/user-3.jpg')"></i><span class="space"></span><span class="space"></span>
            <i class="fa text-xl circle onlycover" style="background-image:url('~/Areas/Root/images/users/user-4.jpg')"></i><span class="space"></span><span class="space"></span>
            <i class="fa text-xl circle onlycover" style="background-image:url('~/Areas/Root/images/users/user-5.jpg')"></i><span class="space"></span><span class="space"></span>
            <i class="fa text-xl circle onlycover" style="background-image: url('~/Areas/Root/images/users/user-2.jpg')"></i>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>CIRCLE IMAGES ICONS</h5>
            <hr class="space m" />
            <i class="fa fa-ambulance text-xl circle cover" style="background-image: url('~/Areas/Root/images/users/user-11.jpg')"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-s15 text-xl circle cover" style="background-image: url('~/Areas/Root/images/users/user-2.jpg')"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-dashcube text-xl circle cover" style="background-image: url('~/Areas/Root/images/users/user-3.jpg')"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-file-movie-o text-xl circle cover" style="background-image: url('~/Areas/Root/images/users/user-11.jpg')"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-gbp text-xl circle cover" style="background-image: url('~/Areas/Root/images/users/user-2.jpg')"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-hand-grab-o text-xl circle cover" style="background-image: url('~/Areas/Root/images/users/user-3.jpg')"></i>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>SQUARE ICONS</h5>
            <hr class="space m" />
            <i class="fa fa-file-image-o square text-xl"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-gg-circle square text-xl"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-facebook-f square text-xl"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-yahoo square text-xl"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-vcard-o square text-xl"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-newspaper-o square text-xl"></i>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>SQUARE IMAGES</h5>
            <hr class="space m" />
            <i class="fa text-xl square onlycover" style="background-image:url('~/Areas/Root/images/users/user-11.jpg')"></i><span class="space"></span><span class="space"></span>
            <i class="fa text-xl square onlycover" style="background-image:url('~/Areas/Root/images/users/user-2.jpg')"></i><span class="space"></span><span class="space"></span>
            <i class="fa text-xl square onlycover" style="background-image:url('~/Areas/Root/images/users/user-3.jpg')"></i><span class="space"></span><span class="space"></span>
            <i class="fa text-xl square onlycover" style="background-image:url('~/Areas/Root/images/users/user-4.jpg')"></i><span class="space"></span><span class="space"></span>
            <i class="fa text-xl square onlycover" style="background-image:url('~/Areas/Root/images/users/user-5.jpg')"></i><span class="space"></span><span class="space"></span>
            <i class="fa text-xl square onlycover" style="background-image: url('~/Areas/Root/images/users/user-3.jpg')"></i>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>SQUARE IMAGES ICONS</h5>
            <hr class="space m" />
            <i class="fa fa-beer text-xl square cover" style="background-image: url('~/Areas/Root/images/users/user-11.jpg')"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-fax text-xl square cover" style="background-image: url('~/Areas/Root/images/users/user-2.jpg')"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-battery-half text-xl square cover" style="background-image: url('~/Areas/Root/images/users/user-3.jpg')"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-file-zip-o text-xl square cover" style="background-image: url('~/Areas/Root/images/users/user-4.jpg')"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-gitlab text-xl square cover" style="background-image: url('~/Areas/Root/images/users/user-5.jpg')"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-gavel text-xl square cover" style="background-image: url('~/Areas/Root/images/users/user-3.jpg')"></i>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>ICON SIZES</h5>
            <hr class="space m" />
            <i class="fa fa-bandcamp text-xl"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-file-zip-o text-xl"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-clone text-xl"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-ravelry text-xl"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-file-archive-o text-xl"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-balance-scale text-xl"></i>
            <br /><br />
            <i class="fa fa-table text-l"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-thermometer-2 text-l"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-toggle-off text-l"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-facebook-official text-l"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-toggle-down text-l"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-upload text-l"></i>
            <br /><br />
            <i class="fa fa-get-pocket text-m"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-gg-circle text-m"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-gear text-m"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-gift text-m"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-google-plus text-m"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-glass text-m"></i>
            <br /><br />
            <i class="fa fa-h-square text-s"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-hourglass-2 text-s"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-hourglass-2 text-s"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-hacker-news text-s"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-hourglass-3 text-s"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-hand-lizard-o text-s"></i>
            <br /><br />
            <i class="fa fa-joomla text-xs"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-jpy text-xs"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-jsfiddle text-xs"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-language text-xs"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-align-justify text-xs"></i><span class="space"></span><span class="space"></span>
            <i class="fa fa-cc-jcb text-xs"></i>
            <hr />
            <hr class="space s" />
            <h5>ICON LIST</h5>
            <hr class="space m" />
            <div class="icon-list text-left">
                <div class="list-item">
                    <label class="">Item text</label><i class="fa fa-address-book text-l"></i>
                </div>
                <div class="list-item">
                    <label class="">Item text</label><i class="fa fa-address-card-o text-l"></i>
                </div>
                <div class="list-item">
                    <label class="">Item text</label><i class="fa fa-adn text-l"></i>
                </div>
                <div class="list-item">
                    <label class="">Item text</label><i class="fa fa-amazon text-l"></i>
                </div>
            </div>
            <hr class="space m">
            <div class="icon-list text-right">
                <div class="list-item">
                    <i class="fa fa-share-square text-l"></i><label class="">Item text</label>
                </div>
                <div class="list-item">
                    <i class="fa fa-shekel text-l"></i><label class="">Item text</label>
                </div>
                <div class="list-item">
                    <i class="fa fa-shield text-l"></i><label class="">Item text</label>
                </div>
                <div class="list-item">
                    <i class="fa fa-scissors text-l"></i><label class="">Item text</label>
                </div>
            </div>
            <hr class="space">
            <div class="icon-list text-center">
                <div class="list-item">
                    <label class="">Item text</label><i class="fa fa-dollar text-l"></i>
                </div>
                <div class="list-item">
                    <label class="">Item text</label><i class="fa fa-get-pocket text-l"></i>
                </div>
                <div class="list-item">
                    <label class="">Item text</label><i class="fa fa-hand-rock-o text-l"></i>
                </div>
                <div class="list-item">
                    <label class="">Item text</label><i class="fa fa-heartbeat text-l"></i>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>ICON LIST VERTICAL</h5>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-4">
                    <ul class="fa-ul text-left">
                        <li><i class="fa-li fa fa-table"></i> List item text</li>
                        <li><i class="fa-li fa fa-tachometer"></i> List item text</li>
                        <li><i class="fa-li fa fa-tag"></i> List item text</li>
                        <li><i class="fa-li fa fa-thermometer-2"></i> List item text</li>
                        <li><i class="fa-li fa fa-y-combinator"></i> List item text</li>
                        <li><i class="fa-li fa fa-joomla"></i> List item text</li>
                        <li><i class="fa-li fa fa-twitch"></i> List item text</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="fa-ul text-left">
                        <li><i class="fa-li fa fa-git-square"></i> List item text</li>
                        <li><i class="fa-li fa fa-glide"></i> List item text</li>
                        <li><i class="fa-li fa fa-group"></i> List item text</li>
                        <li><i class="fa-li fa fa-hospital-o"></i> List item text</li>
                        <li><i class="fa-li fa fa-keyboard-o"></i> List item text</li>
                        <li><i class="fa-li fa fa-leanpub"></i> List item text</li>
                        <li><i class="fa-li fa fa-th-large"></i> List item text</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="fa-ul text-left">
                        <li><i class="fa-li fa fa-file-zip-o"></i> List item text</li>
                        <li><i class="fa-li fa fa-xing"></i> List item text</li>
                        <li><i class="fa-li fa fa-certificate"></i> List item text</li>
                        <li><i class="fa-li fa fa-vcard-o"></i> List item text</li>
                        <li><i class="fa-li fa fa-battery-3"></i> List item text</li>
                        <li><i class="fa-li fa fa-sticky-note"></i> List item text</li>
                        <li><i class="fa-li fa fa-mars-stroke"></i> List item text</li>
                    </ul>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>ICON BOX</h5>
            <hr class="space m" />
            <div class="row text-left">
                <div class="col-md-3">
                    <div class="icon-box">
                        <div class="icon-box-cell">
                            <i class="text-xl fa fa-gavel"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="text-m">Icon box</label>
                            <p>Lorem ipsum</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box">
                        <div class="icon-box-cell">
                            <i class="text-xl fa fa-backward"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="text-m">Icon box</label>
                            <p>Lorem ipsum</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box">
                        <div class="icon-box-cell">
                            <i class="text-xl fa fa-neuter"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="text-m">Icon box</label>
                            <p>Lorem ipsum</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box">
                        <div class="icon-box-cell">
                            <i class="text-xl fa fa-navicon"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="text-m">Icon box</label>
                            <p>Lorem ipsum</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-3">
                    <div class="icon-box icon-box-right">
                        <div class="icon-box-cell">
                            <label class="text-m">Icon box</label>
                            <p>Lorem ipsum</p>
                        </div>
                        <div class="icon-box-cell">
                            <i class="text-xl fa fa-balance-scale"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box icon-box-right">
                        <div class="icon-box-cell">
                            <label class="text-m">Icon box</label>
                            <p>Lorem ipsum</p>
                        </div>
                        <div class="icon-box-cell">
                            <i class="text-xl fa fa-facebook-official"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box icon-box-right">
                        <div class="icon-box-cell">
                            <label class="text-m">Icon box</label>
                            <p>Lorem ipsum</p>
                        </div>
                        <div class="icon-box-cell">
                            <i class="text-xl fa fa-behance"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box icon-box-right">
                        <div class="icon-box-cell">
                            <label class="text-m">Icon box</label>
                            <p>Lorem ipsum</p>
                        </div>
                        <div class="icon-box-cell">
                            <i class="text-xl fa fa-xing"></i>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-3">
                    <div class="icon-box icon-box-top-bottom">
                        <div class="icon-box-cell">
                            <i class="text-xl fa fa-balance-scale"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="text-m">Icon box</label>
                            <p>Lorem ipsum dolor</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box icon-box-top-bottom">
                        <div class="icon-box-cell">
                            <i class="text-xl fa fa-credit-card"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="text-m">Icon box</label>
                            <p>Lorem ipsum dolor</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box icon-box-top-bottom">
                        <div class="icon-box-cell">
                            <i class="text-xl fa fa-mail-reply-all"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="text-m">Icon box</label>
                            <p>Lorem ipsum dolor</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box icon-box-top-bottom">
                        <div class="icon-box-cell">
                            <i class="text-xl fa fa-object-group"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="text-m">Icon box</label>
                            <p>Lorem ipsum dolor</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-3">
                    <div class="icon-box icon-box-top-bottom">
                        <div class="icon-box-cell">
                            <label class="text-m">Icon box</label>
                            <p>Lorem ipsum dolor</p>
                        </div>
                        <div class="icon-box-cell">
                            <i class="text-xl fa fa-ellipsis-h"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box icon-box-top-bottom">
                        <div class="icon-box-cell">
                            <label class="text-m">Icon box</label>
                            <p>Lorem ipsum dolor</p>
                        </div>
                        <div class="icon-box-cell">
                            <i class="text-xl fa fa-handshake-o"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box icon-box-top-bottom">
                        <div class="icon-box-cell">
                            <label class="text-m">Icon box</label>
                            <p class="text">Lorem ipsum dolor</p>
                        </div>
                        <div class="icon-box-cell">
                            <i class="text-xl fa fa-facebook-square"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box icon-box-top-bottom">
                        <div class="icon-box-cell">
                            <label class="text-m">Icon box</label>
                            <p class="text">Lorem ipsum dolor</p>
                        </div>
                        <div class="icon-box-cell">
                            <i class="text-xl fa fa-file-sound-o"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty text-center section-doc">
        <div class="container content">
            <h4 class="text-normal">Documentation</h4>
            <p>This template is built with HTWF and more variants<br /> are available, check the official documentation for more details.</p>
            <hr class="space xs" />
            <a href="http://html.framework-y.com/components/" target="_blank" class="circle-button btn btn-sm">Go to documentation</a>
        </div>
    </div>
    
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/features/components/icons.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:11:23 GMT -->



