
@{
    ViewBag.Title = "ImageBoxes";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

    <meta name="description" content="HTML5/CSS3 template components for Framework Y and business industries, based on Framework Y.">

<body>
  
    <div class="header-base">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="title-base text-left">
                        <h1>Image boxes</h1>
                        <p>This template come with lot of innovative features and an awesome and extensive documentation.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <ol class="breadcrumb b white">
                        <li><a href="#">Home</a></li>
                        <li class="active">Features</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty section-item text-center">
        <div class="container content">
            <h5>IMAGE BOX</h5>
            <hr class="space m" />
            <div class="text-center">
                <div class="row">
                    <div class="col-md-3">
                        <a class="img-box" href="#">
                            <img src="~/Areas/Root/images/gallery/image-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="img-box" href="#">
                            <img src="~/Areas/Root/images/gallery/image-2.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="img-box" href="#">
                            <img src="~/Areas/Root/images/gallery/image-3.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="img-box" href="#">
                            <img src="~/Areas/Root/images/gallery/image-4.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>IMAGE BOX WITH THUMBNAIL</h5>
            <hr class="space m" />
            <div class="text-center">
                <div class="row">
                    <div class="col-md-3">
                        <a class="img-box thumbnail" href="#">
                            <img src="~/Areas/Root/images/gallery/image-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="img-box thumbnail" href="#">
                            <img src="~/Areas/Root/images/gallery/image-2.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="img-box thumbnail" href="#">
                            <img src="~/Areas/Root/images/gallery/image-3.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="img-box thumbnail" href="#">
                            <img src="~/Areas/Root/images/gallery/image-4.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>CIRCLE IMAGE BOX</h5>
            <hr class="space m" />
            <div class="text-center">
                <div class="row">
                    <div class="col-md-3">
                        <a class="img-box circle" href="#">
                            <img src="~/Areas/Root/images/gallery/square-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="img-box circle" href="#">
                            <img src="~/Areas/Root/images/gallery/square-2.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="img-box circle" href="#">
                            <img src="~/Areas/Root/images/gallery/square-3.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="img-box circle" href="#">
                            <img src="~/Areas/Root/images/gallery/square-4.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>CIRCLE IMAGE BOX WITH THUMBNAIL</h5>
            <hr class="space m" />
            <div class="text-center">
                <div class="row">
                    <div class="col-md-3">
                        <a class="img-box thumbnail circle" href="#">
                            <img src="~/Areas/Root/images/gallery/square-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="img-box thumbnail circle" href="#">
                            <img src="~/Areas/Root/images/gallery/square-2.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="img-box thumbnail circle" href="#">
                            <img src="~/Areas/Root/images/gallery/square-3.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="img-box thumbnail circle" href="#">
                            <img src="~/Areas/Root/images/gallery/square-4.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>IMAGE BOX WITH CAPTION</h5>
            <hr class="space m" />
            <div class="text-center">
                <div class="row">
                    <div class="col-md-6">
                        <a class="img-box inner" href="#">
                            <span><img src="~/Areas/Root/images/gallery/image-1.jpg" alt="" /></span>
                            <span class="caption-box">
                                <span class="caption">
                                    Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a class="img-box inner" href="#">
                            <span><img src="~/Areas/Root/images/gallery/image-2.jpg" alt="" /></span>
                            <span class="caption-box">
                                <span class="caption">
                                    Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>CIRCLE IMAGE BOX WITH CAPTION</h5>
            <hr class="space m" />
            <div class="text-center">
                <div class="row">
                    <div class="col-md-6">
                        <a class="img-box circle inner" href="#">
                            <img src="~/Areas/Root/images/gallery/square-1.jpg" alt="" />
                            <span class="caption">
                                Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod
                            </span>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a class="img-box circle inner" href="#">
                            <img src="~/Areas/Root/images/gallery/square-2.jpg" alt="" />
                            <span class="caption">
                                Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>IMAGE BOX WITH ICON</h5>
            <hr class="space m" />
            <div class="text-center">
                <div class="row">
                    <div class="col-md-3">
                        <a class="img-box" href="#">
                            <i class="im-computer"></i>
                            <img src="~/Areas/Root/images/gallery/image-1.jpg" alt="" />
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="img-box i-top-right" href="#">
                            <i class="im-contrast"></i>
                            <img src="~/Areas/Root/images/gallery/image-2.jpg" alt="" />
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="img-box i-bottom" href="#">
                            <i class="im-consulting"></i>
                            <img src="~/Areas/Root/images/gallery/image-3.jpg" alt="" />
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="img-box i-bottom-left" href="#">
                            <i class="im-cookies"></i>
                            <img src="~/Areas/Root/images/gallery/image-4.jpg" alt="" />
                        </a>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>CIRCLE IMAGE BOX WITH ICON</h5>
            <hr class="space m" />
            <div class="text-center">
                <div class="row">
                    <div class="col-md-3">
                        <a class="img-box circle i-center" href="#">
                            <i class="fa fa-crop"></i>
                            <img src="~/Areas/Root/images/gallery/square-1.jpg" alt="" />
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="img-box circle i-center" href="#">
                            <i class="fa fa-database"></i>
                            <img src="~/Areas/Root/images/gallery/square-2.jpg" alt="" />
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="img-box circle i-center" href="#">
                            <i class="fa fa-deaf"></i>
                            <img src="~/Areas/Root/images/gallery/square-3.jpg" alt="" />
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="img-box circle i-center" href="#">
                            <i class="fa fa-download"></i>
                            <img src="~/Areas/Root/images/gallery/square-4.jpg" alt="" />
                        </a>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>ANIMATIONS</h5>
            <hr class="space m" />
            <div class="text-center">
                <div class="row">
                    <div class="col-md-3">
                        <a class="img-box thumbnail img-scale-up" data-anima="fade-left" data-trigger="hover" data-anima-out="hide" href="#">
                            <span>
                                <i class="fa fa-android anima"></i>
                                <img src="~/Areas/Root/images/gallery/image-1.jpg" alt="" />
                            </span>
                            <span class="caption-box anima anima-fade-in">
                                <span class="caption">
                                    Lorem ipsum dolor sit amet consectetur adipiscing
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="img-box img-scale-up" data-anima="fade-left" data-trigger="hover" href="#">
                            <span>
                                <i class="fa fa-amazon anima"></i>
                                <img src="~/Areas/Root/images/gallery/image-2.jpg" alt="" />
                            </span>
                            <span class="caption-box">
                                <span class="caption">
                                    Lorem ipsum dolor sit amet consectetur adipiscing
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="img-box" data-anima="fade-bottom" data-trigger="hover" data-anima-out="hide" href="#">
                            <i class="im-cookie-man anima "></i>
                            <img src="~/Areas/Root/images/gallery/image-3.jpg" alt="" />
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="img-box img-scale-up" href="#">
                            <img src="~/Areas/Root/images/gallery/image-4.jpg" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty text-center section-doc">
        <div class="container content">
            <h4 class="text-normal">Documentation</h4>
            <p>This template is built with HTWF and more variants<br /> are available, check the official documentation for more details.</p>
            <hr class="space xs" />
            <a href="http://html.framework-y.com/components/image-box/" target="_blank" class="circle-button btn btn-sm">Go to documentation</a>
        </div>
    </div>
    
</body>




