
@{
    ViewBag.Title = "LightBox";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

    <meta name="description" content="HTML5/CSS3 template components for Framework Y and business industries, based on Framework Y.">
 
<body>
    
    <div class="header-base">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="title-base text-left">
                        <h1>Lightbox</h1>
                        <p>This template come with lot of innovative features and an awesome and extensive documentation.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <ol class="breadcrumb b white">
                        <li><a href="#">Home</a></li>
                        <li class="active">Features</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty section-item text-center">
        <div class="container content">
            <h5 class="text-center">LIGHTBOX TYPES</h5>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-2">
                    <h5 class="text-s">Image</h5>
                    <a class="img-box lightbox thumbnail" href="~/Areas/Root/www.framework-y.com/images/large/large_wide_1.jpg" data-lightbox-anima="show-scale">
                        <span>
                            <img alt="" src="~/Areas/Root/www.framework-y.com/images/lightbox-thumb.jpg">
                        </span>
                    </a>
                </div>
                <div class="col-md-2">
                    <h5 class="text-s">Youtube</h5>
                    <a class="img-box lightbox thumbnail" href="https://www.youtube.com/watch?v=bpqhStV2_rc" data-lightbox-anima="show-scale">
                        <span>
                            <img alt="" src="~/Areas/Root/www.framework-y.com/images/lightbox-thumb.jpg">
                        </span>
                    </a>
                </div>
                <div class="col-md-2">
                    <h5 class="text-s">Vimeo</h5>
                    <a class="img-box lightbox thumbnail" href="https://vimeo.com/122626364" data-lightbox-anima="show-scale">
                        <span>
                            <img alt="" src="~/Areas/Root/www.framework-y.com/images/lightbox-thumb.jpg">
                        </span>
                    </a>
                </div>
                <div class="col-md-2">
                    <h5 class="text-s">MP4 video</h5>
                    <a class="img-box lightbox thumbnail" href="http://www.framework-y.com/images/chameleon-footage.mp4" data-lightbox-anima="show-scale">
                        <span>
                            <img alt="" src="~/Areas/Root/www.framework-y.com/images/lightbox-thumb.jpg">
                        </span>
                    </a>
                </div>
                <div class="col-md-2">
                    <h5 class="text-s">Google Map</h5>
                    <a class="img-box lightbox thumbnail" href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&amp;hl=en&amp;t=v&amp;hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom" data-lightbox-anima="show-scale">
                        <span>
                            <img alt="" src="~/Areas/Root/www.framework-y.com/images/lightbox-thumb.jpg">
                        </span>
                    </a>
                </div>
                <div class="col-md-2">
                    <h5 class="text-s">Custom HTML</h5>
                    <a class="img-box lightbox thumbnail" href="#lb2" data-lightbox-anima="show-scale">
                        <span>
                            <img alt="" src="~/Areas/Root/www.framework-y.com/images/lightbox-thumb.jpg">
                        </span>
                    </a>
                    <div id="lb2" class="box-lightbox" style="padding:25px">
                        <div class="subtitle g">
                            <h4>CUSTOM HTML FOR LIGHTBOX</h4>
                            <hr>
                            <p class="sub">This is a custom HTML element</p>
                        </div> mkk+ fd f gf
                        L'orem ipsum dolor "sitamet", consectetur 'adipisici sd ng' elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                        sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa quae ab illo inventore veritatis et quasi architecto beatae
                        vitae dicta sunt explicabo.
                    </div>
                </div>
                <div class="col-md-2">
                    <hr class="space m" />
                    <h5 class="text-s">Scroll box</h5>
                    <a class="img-box lightbox thumbnail" href="#lb3" data-lightbox-anima="show-scale">
                        <span>
                            <img alt="" src="~/Areas/Root/www.framework-y.com/images/lightbox-thumb.jpg">
                        </span>
                    </a>
                    <div id="lb3" class="box-lightbox m" style="padding:25px">
                        <div class="scroll-content scroll-mobile-disabled" data-height=".box-lightbox">
                            <div class="subtitle g">
                                <h4>CUSTOM HTML SCROLL BOX FOR LIGHTBOX</h4>
                                <hr>
                                <p class="sub">This is a custom HTML element with scroll box</p>
                            </div>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                            beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                            sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
                            ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                            dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                            laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit
                            esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?

                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                            beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                            sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
                            ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                            dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                            laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit
                            esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?

                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                            beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                            sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
                            ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                            dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                            laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit
                            esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?

                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                            beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                            sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
                            ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                            dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                            laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit
                            esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <hr class="space m" />
                    <h5 class="text-s">Slider</h5>
                    <a class="img-box lightbox thumbnail" href="#sl-1" data-lightbox-anima="show-scale">
                        <span>
                            <img alt="" src="~/Areas/Root/www.framework-y.com/images/lightbox-thumb.jpg">
                        </span>
                    </a>
                    <div id="sl-1" class="box-lightbox white">
                        <div class="flexslider white" id="slider-nav-thumb" data-trigger="manual" data-options="controlNav:false,animationLoop:false,slideshow:false,sync:#carousel-nav-thumb">
                            <ul class="slides">
                                <li>
                                    <img alt="" src="~/Areas/Root/www.framework-y.com/images/large/large_wide_1.jpg" />
                                </li>
                                <li>
                                    <img alt="" src="~/Areas/Root/www.framework-y.com/images/large/large_wide_2.jpg" />
                                </li>
                                <li>
                                    <img alt="" src="~/Areas/Root/www.framework-y.com/images/large/large_wide_3.jpg" />
                                </li>
                                <li>
                                    <img alt="" src="~/Areas/Root/www.framework-y.com/images/large/large_wide_4.jpg" />
                                </li>
                                <li>
                                    <img alt="" src="~/Areas/Root/www.framework-y.com/images/large/large_wide_5.jpg" />
                                </li>
                                <li>
                                    <img alt="" src="~/Areas/Root/www.framework-y.com/images/large/large_wide_1.jpg" />
                                </li>
                                <li>
                                    <img alt="" src="~/Areas/Root/www.framework-y.com/images/large/large_wide_2.jpg" />
                                </li>
                                <li>
                                    <img alt="" src="~/Areas/Root/www.framework-y.com/images/large/large_wide_3.jpg" />
                                </li>
                                <li>
                                    <img alt="" src="~/Areas/Root/www.framework-y.com/images/large/large_wide_4.jpg" />
                                </li>
                                <li>
                                    <img alt="" src="~/Areas/Root/www.framework-y.com/images/large/large_wide_5.jpg" />
                                </li>
                                <li>
                                    <img alt="" src="~/Areas/Root/www.framework-y.com/images/large/large_wide_1.jpg" />
                                </li>
                            </ul>
                        </div>
                        <div id="carousel-nav-thumb" data-trigger="manual" class="flexslider carousel nav-thumb" data-options="controlNav:false,animationLoop:false,slideshow:false,asNavFor:#slider-nav-thumb,minWidth:80,numItems:4">
                            <ul class="slides">
                                <li class="flex-active-slide">
                                    <img alt="" src="~/Areas/Root/www.framework-y.com/images/thumbs/thumb_wide_1.jpg" />
                                </li>
                                <li>
                                    <img alt="" src="~/Areas/Root/www.framework-y.com/images/thumbs/thumb_wide_2.jpg" />
                                </li>
                                <li>
                                    <img alt="" src="~/Areas/Root/www.framework-y.com/images/thumbs/thumb_wide_3.jpg" />
                                </li>
                                <li>
                                    <img alt="" src="~/Areas/Root/www.framework-y.com/images/thumbs/thumb_wide_4.jpg" />
                                </li>
                                <li>
                                    <img alt="" src="~/Areas/Root/www.framework-y.com/images/thumbs/thumb_wide_5.jpg" />
                                </li>
                                <li>
                                    <img alt="" src="~/Areas/Root/www.framework-y.com/images/thumbs/thumb_wide_1.jpg" />
                                </li>
                                <li>
                                    <img alt="" src="~/Areas/Root/www.framework-y.com/images/thumbs/thumb_wide_2.jpg" />
                                </li>
                                <li>
                                    <img alt="" src="~/Areas/Root/www.framework-y.com/images/thumbs/thumb_wide_3.jpg" />
                                </li>
                                <li>
                                    <img alt="" src="~/Areas/Root/www.framework-y.com/images/thumbs/thumb_wide_4.jpg" />
                                </li>
                                <li>
                                    <img alt="" src="~/Areas/Rootwww.framework-y.com/images/thumbs/thumb_wide_5.jpg" />
                                </li>
                                <li>
                                    <img alt="" src="~/Areas/Rootwww.framework-y.com/images/thumbs/thumb_wide_1.jpg" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <hr class="space m" />
                    <h5 class="text-s">Text caption</h5>
                    <a class="img-box lightbox thumbnail" href="~/Areas/Root/www.framework-y.com/images/large/large_wide_1.jpg" title="This is the text caption of image" data-lightbox-anima="show-scale">
                        <span>
                            <img alt="" src="~/Areas/Root/www.framework-y.com/images/lightbox-thumb.jpg">
                        </span>
                    </a>
                </div>
                <div class="col-md-2">
                    <hr class="space m" />
                    <h5 class="text-s">Inner text caption</h5>
                    <a class="img-box lightbox thumbnail" href="~/Areas/Root/www.framework-y.com/images/large/large_wide_1.jpg" data-options="mainClass:inner" title="This is the text caption of image" data-lightbox-anima="show-scale">
                        <span>
                            <img alt="" src="~/Areas/Root/www.framework-y.com/images/lightbox-thumb.jpg">
                        </span>
                    </a>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>LIGHTBOX GALLERY</h5>
            <hr class="space m" />
            <div class="grid-list gallery thumb-xs">
                <div class="grid-box row" data-lightbox-anima="show-scale">
                    <div class="grid-item col-md-2">
                        <a class="img-box thumbnail" href="~/Areas/Root/www.framework-y.com/images/large/large_wide_1.jpg">
                            <span><img alt="" src="~/Areas/Root/www.framework-y.com/images/thumbs/thumb_wide_1.jpg"></span>
                        </a>
                    </div>
                    <div class="grid-item col-md-2">
                        <a class="img-box thumbnail mfp-iframe" href="https://www.youtube.com/watch?v=bpqhStV2_rc">
                            <span><img alt="" src="~/Areas/Root/www.framework-y.com/images/thumbs/thumb_wide_2.jpg"></span>
                        </a>
                    </div>
                    <div class="grid-item col-md-2">
                        <a class="img-box thumbnail" href="~/Areas/Root/www.framework-y.com/images/large/large_wide_3.jpg">
                            <span><img alt="" src="~/Areas/Root/www.framework-y.com/images/thumbs/thumb_wide_3.jpg"></span>
                        </a>
                    </div>
                    <div class="grid-item col-md-2">
                        <a class="img-box thumbnail" href="~/Areas/Root/www.framework-y.com/images/large/large_wide_4.jpg">
                            <span><img alt="" src="~/Areas/Root/www.framework-y.com/images/thumbs/thumb_wide_4.jpg"></span>
                        </a>
                    </div>
                    <div class="grid-item col-md-2">
                        <a class="img-box thumbnail" href="~/Areas/Root/www.framework-y.com/images/large/large_wide_5.jpg">
                            <span><img alt="" src="~/Areas/Root/www.framework-y.com/images/thumbs/thumb_wide_5.jpg"></span>
                        </a>
                    </div>
                    <div class="grid-item grid-item col-md-2">
                        <a class="img-box thumbnail mfp-iframe" href="https://www.youtube.com/watch?v=bpqhStV2_rc">
                            <span><img alt="" src="~/Areas/Root/www.framework-y.com/images/thumbs/thumb_wide_6.jpg"></span>
                        </a>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>POPUPS</h5>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-3">
                    <a class="btn btn-primary nav-justified btn-default popup-trigger documentation-button" href="#popup-1">
                        Top Left
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-primary nav-justified btn-default popup-trigger documentation-button" href="#popup-2">
                        Top Right
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-primary nav-justified btn-default popup-trigger documentation-button" href="#popup-3">
                        Bottom Left
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-primary nav-justified btn-default popup-trigger documentation-button" href="#popup-4">
                        Bottom Right
                    </a>
                </div>
            </div>
            <hr class="space xs" />
            <div class="row">
                <div class="col-md-3">
                    <a class="btn btn-primary nav-justified btn-default popup-trigger documentation-button" href="#popup-5">
                        Full Width Up
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-primary nav-justified  btn-default popup-trigger documentation-button" href="#popup-6">
                        Full Width Down
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-primary nav-justified btn-default popup-trigger documentation-button" href="#popup-4">
                        Default
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-primary nav-justified  btn-default popup-trigger documentation-button" href="#popup-7">
                        No title
                    </a>
                </div>
            </div>
            <hr class="space xs" />
            <div class="row">
                <div class="col-md-3">
                    <a class="btn btn-primary nav-justified btn-default popup-trigger documentation-button" href="#popup-8">
                        With image
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div id="popup-1" class="popup-banner popup-top-left" data-popup-anima="fade-left">
            <i class="fa fa-times popup-close"></i>
            <div class="bs-panel panel-default">
                <div class="panel-heading">Panel heading</div>
                <div class="panel-body">
                    L'orem ipsum dolor, consectetur adipisicing elit, sed do eiusmod.
                </div>
            </div>
        </div>
        <div id="popup-2" class="popup-banner popup-top-right" data-popup-anima="fade-right">
            <i class="fa fa-times popup-close"></i>
            <div class="bs-panel panel-default">
                <div class="panel-heading">Panel heading</div>
                <div class="panel-body">
                    L'orem ipsum dolor, consectetur adipisicing elit, sed do eiusmod.
                </div>
            </div>
        </div>
        <div id="popup-3" class="popup-banner popup-bottom-left" data-popup-anima="fade-left">
            <i class="fa fa-times popup-close"></i>
            <div class="bs-panel panel-default">
                <div class="panel-heading">Panel heading</div>
                <div class="panel-body">
                    L'orem ipsum dolor, consectetur adipisicing elit, sed do eiusmod.
                </div>
            </div>
        </div>
        <div id="popup-4" class="popup-banner popup-bottom-right" data-popup-anima="fade-right">
            <i class="fa fa-times popup-close"></i>
            <div class="bs-panel panel-default">
                <div class="panel-heading">Panel heading</div>
                <div class="panel-body">
                    L'orem ipsum dolor, consectetur adipisicing elit, sed do eiusmod.
                </div>
            </div>
        </div>
        <div id="popup-5" class="popup-banner full-width-top" data-popup-anima="fade-top">
            <i class="fa fa-times popup-close"></i>
            L'orem ipsum dolor, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
        </div>
        <div id="popup-6" class="popup-banner full-width-bottom" data-popup-anima="fade-bottom">
            <i class="fa fa-times popup-close"></i>
            L'orem ipsum dolor, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
        </div>
        <div id="popup-7" class="popup-banner popup-bottom-right" data-popup-anima="fade-right">
            <i class="fa fa-times popup-close"></i>
            <div class="bs-panel panel-default">
                <div class="panel-body">
                    L'orem ipsum dolor, consectetur adipisicing elit, sed do eiusmod.
                </div>
            </div>
        </div>
        <div id="popup-8" class="popup-banner popup-bottom-right" data-popup-anima="fade-right">
            <i class="fa fa-times popup-close"></i>
            <div class="bs-panel panel-default">
                <div class="panel-heading">Panel heading</div>
                <div class="panel-body">
                    <a class="img-box"><img src="~/Areas/Root/../../www.framework-y.com/images/lightbox-thumb.jpg" alt=""></a>
                    L'orem ipsum dolor, consectetur adipisicing elit, sed do eiusmod.
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty text-center section-doc">
        <div class="container content">
            <h4 class="text-normal">Documentation</h4>
            <p>This template is built with HTWF and more variants<br /> are available, check the official documentation for more details.</p>
            <hr class="space xs" />
            <a href="http://html.framework-y.com/containers/lightbox/" target="_blank" class="circle-button btn btn-sm">Go to documentation</a>
        </div>
    </div>
    
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/features/containers/lightbox.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:11:51 GMT -->



