
@{
    ViewBag.Title = "Lists";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

    <meta name="description" content="HTML5/CSS3 template components for Framework Y and business industries, based on Framework Y.">

<body>
   
    <div class="header-base">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="title-base text-left">
                        <h1>Lists</h1>
                        <p>This template come with lot of innovative features and an awesome and extensive documentation.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <ol class="breadcrumb b white">
                        <li><a href="#">Home</a></li>
                        <li class="active">Features</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty section-item text-center">
        <div class="container content">
            <h5>TEXT LIST</h5>
            <hr class="space m" />
            <div class="list-items text-left">
                <div class="list-item">
                    <div class="row">
                        <div class="col-md-10">
                            <h3>Good list title here</h3>
                            <p>
                                Suspendisse veritatis eu velit! Pariatur facilis magna montes nonummy illum scelerisque vestibulum tortor autem?
                                Lectus reiciendis, blandit pretium rhoncus, eaaspernatur voluptatibus maiores earum quo amet.
                            </p>
                        </div>
                        <div class="col-md-2">
                            <span>21$</span>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="row">
                        <div class="col-md-10">
                            <h3>Good list title here</h3>
                            <p>
                                Suspendisse veritatis eu velit! Pariatur facilis magna montes nonummy illum scelerisque vestibulum tortor autem?
                                Lectus reiciendis, blandit pretium rhoncus, eaaspernatur voluptatibus maiores earum quo amet.
                            </p>
                        </div>
                        <div class="col-md-2">
                            <span>21$</span>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="row">
                        <div class="col-md-10">
                            <h3>Good list title here</h3>
                            <p>
                                Suspendisse veritatis eu velit! Pariatur facilis magna montes nonummy illum scelerisque vestibulum tortor autem?
                                Lectus reiciendis, blandit pretium rhoncus, eaaspernatur voluptatibus maiores earum quo amet.
                            </p>
                        </div>
                        <div class="col-md-2">
                            <span>21$</span>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="row">
                        <div class="col-md-10">
                            <h3>Good list title here</h3>
                            <p>
                                Suspendisse veritatis eu velit! Pariatur facilis magna montes nonummy illum scelerisque vestibulum tortor autem?
                                Lectus reiciendis, blandit pretium rhoncus, eaaspernatur voluptatibus maiores earum quo amet.
                            </p>
                        </div>
                        <div class="col-md-2">
                            <span>21$</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>TEXT LIST 2</h5>
            <hr class="space m" />
            <div class="list-items list-items-justified text-left">
                <div class="list-item">
                    <div class="row">
                        <div class="col-md-10">
                            <h3>Good list title here</h3>
                            <p>
                                Suspendisse veritatis eu velit! Pariatur facilis magna montes nonummy illum scelerisque vestibulum tortor autem?
                                Lectus reiciendis, blandit pretium rhoncus, eaaspernatur voluptatibus maiores earum quo amet.
                            </p>
                        </div>
                        <div class="col-md-2">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="row">
                        <div class="col-md-10">
                            <h3>Good list title here</h3>
                            <p>
                                Suspendisse veritatis eu velit! Pariatur facilis magna montes nonummy illum scelerisque vestibulum tortor autem?
                                Lectus reiciendis, blandit pretium rhoncus, eaaspernatur voluptatibus maiores earum quo amet.
                            </p>
                        </div>
                        <div class="col-md-2">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="row">
                        <div class="col-md-10">
                            <h3>Good list title here</h3>
                            <p>
                                Suspendisse veritatis eu velit! Pariatur facilis magna montes nonummy illum scelerisque vestibulum tortor autem?
                                Lectus reiciendis, blandit pretium rhoncus, eaaspernatur voluptatibus maiores earum quo amet.
                            </p>
                        </div>
                        <div class="col-md-2">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="row">
                        <div class="col-md-10">
                            <h3>Good list title here</h3>
                            <p>
                                Suspendisse veritatis eu velit! Pariatur facilis magna montes nonummy illum scelerisque vestibulum tortor autem?
                                Lectus reiciendis, blandit pretium rhoncus, eaaspernatur voluptatibus maiores earum quo amet.
                            </p>
                        </div>
                        <div class="col-md-2">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>TEXT LIST 3</h5>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-6">
                    <div class="list-items text-left">
                        <div class="list-item list-item-img">
                            <div class="row">
                                <div class="col-md-9">
                                    <i class="onlycover circle icon" style="        background-image: url(~/Areas/Root/images/gallery/square-1.jpg)"></i>
                                    <h3>Steamed king crab</h3>
                                    <p>
                                        Duis aute irure dolo irure dolor in reprehenderit in voluptate velito esse cillume.
                                    </p>
                                </div>
                                <div class="col-md-3">
                                    <span>9$</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-item list-item-img">
                            <div class="row">
                                <div class="col-md-9">
                                    <i class="onlycover circle icon" style="        background-image: url(~/Areas/Root/images/gallery/square-2.jpg)"></i>
                                    <h3>Roast partridge</h3>
                                    <p>
                                        Duis aute irure dolo irure dolor in reprehenderit in voluptate velito esse cillume.
                                    </p>
                                </div>
                                <div class="col-md-3">
                                    <span>9$</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-item list-item-img">
                            <div class="row">
                                <div class="col-md-9">
                                    <i class="onlycover circle icon" style="        background-image: url(~/Areas/Root/images/gallery/square-3.jpg)"></i>
                                    <h3>Salad of shaved fenne</h3>
                                    <p>
                                        Duis aute irure dolo irure dolor in reprehenderit in voluptate velito esse cillume.
                                    </p>
                                </div>
                                <div class="col-md-3">
                                    <span>10$</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-item list-item-img">
                            <div class="row">
                                <div class="col-md-9">
                                    <i class="onlycover circle icon" style="        background-image: url(~/Areas/Root/images/gallery/square-4.jpg)"></i>
                                    <h3>Slow roasted white</h3>
                                    <p>
                                        Duis aute irure dolo irure dolor in reprehenderit in voluptate velito esse cillume.
                                    </p>
                                </div>
                                <div class="col-md-3">
                                    <span>9.5$</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="list-items text-left">
                        <div class="list-item list-item-img">
                            <div class="row">
                                <div class="col-md-9">
                                    <i class="onlycover circle icon" style="        background-image: url(~/Areas/Root/images/gallery/square-5.jpg)"></i>
                                    <h3>Steamed king crab</h3>
                                    <p>
                                        Duis aute irure dolo irure dolor in reprehenderit in voluptate velito esse cillume.
                                    </p>
                                </div>
                                <div class="col-md-3">
                                    <span>9$</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-item list-item-img">
                            <div class="row">
                                <div class="col-md-9">
                                    <i class="onlycover circle icon" style="        background-image: url(~/Areas/Root/images/gallery/square-1.jpg)"></i>
                                    <h3>Roast partridge</h3>
                                    <p>
                                        Duis aute irure dolo irure dolor in reprehenderit in voluptate velito esse cillume.
                                    </p>
                                </div>
                                <div class="col-md-3">
                                    <span>9$</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-item list-item-img">
                            <div class="row">
                                <div class="col-md-9">
                                    <i class="onlycover circle icon" style="        background-image: url(~/Areas/Root/images/gallery/square-2.jpg)"></i>
                                    <h3>Salad of shaved fenne</h3>
                                    <p>
                                        Duis aute irure dolo irure dolor in reprehenderit in voluptate velito esse cillume.
                                    </p>
                                </div>
                                <div class="col-md-3">
                                    <span>10$</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-item list-item-img">
                            <div class="row">
                                <div class="col-md-9">
                                    <i class="onlycover circle icon" style="        background-image: url(~/Areas/Root/images/gallery/square-3.jpg)"></i>
                                    <h3>Slow roasted white</h3>
                                    <p>
                                        Duis aute irure dolo irure dolor in reprehenderit in voluptate velito esse cillume.
                                    </p>
                                </div>
                                <div class="col-md-3">
                                    <span>9.5$</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>TEXT LIST 4</h5>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-4">
                    <ul class="list-texts text-left">
                        <li><b>Client:</b>   Awesome Company</li>
                        <li><b>Location:</b>   Mountain View CA 94043</li>
                        <li><b>Surface Area:</b> 450,000 m2</li>
                        <li><b>Year Completed:</b>   2014</li>
                        <li><b>Value:</b> $250.000</li>
                        <li><b>Architect:</b>   Jason & Perry</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-texts text-left">
                        <li><b>Client:</b>   Awesome Company</li>
                        <li><b>Location:</b>   Mountain View CA 94043</li>
                        <li><b>Surface Area:</b> 450,000 m2</li>
                        <li><b>Year Completed:</b>   2014</li>
                        <li><b>Value:</b> $250.000</li>
                        <li><b>Architect:</b>   Jason & Perry</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-texts text-left">
                        <li><b>Client:</b>   Awesome Company</li>
                        <li><b>Location:</b>   Mountain View CA 94043</li>
                        <li><b>Surface Area:</b> 450,000 m2</li>
                        <li><b>Year Completed:</b>   2014</li>
                        <li><b>Value:</b> $250.000</li>
                        <li><b>Architect:</b>   Jason & Perry</li>
                    </ul>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>TEXT LIST 5</h5>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-4">
                    <ul class="list-texts list-texts-justified text-left">
                        <li><b>Client:</b>   <span>Awesome Company</span></li>
                        <li><b>Location:</b>   <span>Mountain View CA 94043</span></li>
                        <li><b>Surface Area:</b> <span>450,000 m2</span></li>
                        <li><b>Year Completed:</b>   <span>2014</span></li>
                        <li><b>Value:</b> <span>$250.000</span></li>
                        <li><b>Architect:</b>   <span>Jason & Perry</span></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-texts list-texts-justified text-left">
                        <li><b>Client:</b>   <span>Awesome Company</span></li>
                        <li><b>Location:</b>   <span>Mountain View CA 94043</span></li>
                        <li><b>Surface Area:</b> <span>450,000 m2</span></li>
                        <li><b>Year Completed:</b>   <span>2014</span></li>
                        <li><b>Value:</b> <span>$250.000</span></li>
                        <li><b>Architect:</b>   <span>Jason & Perry</span></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-texts list-texts-justified text-left">
                        <li><b>Client:</b>   <span>Awesome Company</span></li>
                        <li><b>Location:</b>   <span>Mountain View CA 94043</span></li>
                        <li><b>Surface Area:</b><span> 450,000 m2</span></li>
                        <li><b>Year Completed:</b>   <span>2014</span></li>
                        <li><b>Value:</b> <span>$250.000</span></li>
                        <li><b>Architect:</b>  <span> Jason & Perry</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty text-center section-doc">
        <div class="container content">
            <h4 class="text-normal">Documentation</h4>
            <p>This template is built with HTWF and more variants<br /> are available, check the official documentation for more details.</p>
            <hr class="space xs" />
            <a href="http://html.framework-y.com/components/#lists" target="_blank" class="circle-button btn btn-sm">Go to documentation</a>
        </div>
    </div>
    
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/features/components/lists.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:11:38 GMT -->



