
@{
    ViewBag.Title = "Slider";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

    <meta name="description" content="HTML5/CSS3 template components for Framework Y and business industries, based on Framework Y.">

<body>
   
    <div class="section-slider">
        <div class="flexslider slider white">
            <ul class="slides">
                <li>
                    <div class="bg-cover" style="background-image: url('~/Areas/Root/images/bg-img-11.jpg')"></div>
                </li>
                <li>
                    <div class="bg-cover" style="background-image: url('~/Areas/Root/images/bg-img-12.jpg')"></div>
                </li>
                <li>
                    <div class="bg-cover" style="background-image: url('~/Areas/Root/images/bg-img-13.jpg')"></div>
                </li>
            </ul>
        </div>
        <div class="container content overlay-content text-center white">
            <hr class="space" />
            <div class="title-base">
                <hr />
                <h2>Section slider</h2>
                <p>Ased do eiusmod tempor incididunt ut</p>
            </div>
            <p>
                L'orem ipsum dolor, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut<br /> labore et dolore magna aliqua.
                Ut enim ad minim veniam.
            </p>
            <hr class="space" />
        </div>
    </div>

    <div class="section-slider">
        <div class="flexslider slider">
            <ul class="slides">
                <li>
                    <div class="bg-cover" style="background-image: url('~/Areas/Root/images/hd-3.jpg')"></div>
                </li>
                <li>
                    <div class="bg-cover" style="background-image: url('~/Areas/Root/images/hd-3.jpg')"></div>
                </li>
                <li>
                    <div class="bg-cover" style="background-image: url('~/Areas/Root/images/hd-3.jpg')"></div>
                </li>
            </ul>
        </div>
        <div class="container content overlay-content text-center">
            <hr class="space" />
            <div class="title-base">
                <hr />
                <h2>Section slider</h2>
                <p>Ased do eiusmod tempor incididunt ut</p>
            </div>
            <p>
                L'orem ipsum dolor, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore<br /> et dolore magna aliqua.
                Ut enim ad minim veniam.
            </p>
            <hr class="space" />
        </div>
    </div>

    <div class="section-empty text-center section-doc">
        <div class="container content">
            <h4 class="text-normal">Documentation</h4>
            <p>This template is built with HTWF and more variants<br /> are available, check the official documentation for more details.</p>
            <hr class="space xs" />
            <a href="http://html.framework-y.com/sections/slider/" target="_blank" class="circle-button btn btn-sm">Go to documentation</a>
        </div>
    </div>
    
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/features/containers/section-slider.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:11:53 GMT -->



