
@{
    ViewBag.Title = "SlidersAndCarousels";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

    <meta name="description" content="HTML5/CSS3 template components for Framework Y and business industries, based on Framework Y.">

<body>
   
    <div class="header-base">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="title-base text-left">
                        <h1>Sliders</h1>
                        <p>This template come with lot of innovative features and an awesome and extensive documentation.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <ol class="breadcrumb b white">
                        <li><a href="#">Home</a></li>
                        <li class="active">Features</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty section-item text-center">
        <div class="container content">
            <h5 class="text-center">IMAGE SLIDERS</h5>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-4">
                    <div class="flexslider slider">
                        <ul class="slides">
                            <li>
                                <a class="img-box img-scale-up lightbox" href="~/Areas/Root/images/gallery/image-1.jpg" data-lightbox-anima="show-scale">
                                    <img alt="" src="~/Areas/Root/images/gallery/image-1.jpg" />
                                </a>
                            </li>
                            <li>
                                <a class="img-box img-scale-up lightbox" title="The lightbox caption" href="~/Areas/Root/images/gallery/image-2.jpg" data-lightbox-anima="show-scale">
                                    <img alt="" src="~/Areas/Root/images/gallery/image-2.jpg" />
                                </a>
                            </li>
                            <li>
                                <a class="img-box img-scale-up lightbox" href="~/Areas/Root/images/gallery/image-3.jpg" data-lightbox-anima="show-scale">
                                    <img alt="" src="~/Areas/Root/images/gallery/image-3.jpg" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="flexslider slider">
                        <ul class="slides">
                            <li>
                                <a class="img-box img-scale-up lightbox" href="~/Areas/Root/images/gallery/image-1.jpg" data-lightbox-anima="show-scale">
                                    <img alt="" src="~/Areas/Root/images/gallery/image-1.jpg" />
                                </a>
                            </li>
                            <li>
                                <a class="img-box img-scale-up lightbox" title="The lightbox caption" href="~/Areas/Root/images/gallery/image-2.jpg" data-lightbox-anima="show-scale">
                                    <img alt="" src="~/Areas/Root/images/gallery/image-2.jpg" />
                                </a>
                            </li>
                            <li>
                                <a class="img-box img-scale-up lightbox" href="~/Areas/Root/images/gallery/image-3.jpg" data-lightbox-anima="show-scale">
                                    <img alt="" src="~/Areas/Root/images/gallery/image-3.jpg" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="flexslider slider">
                        <ul class="slides">
                            <li>
                                <a class="img-box img-scale-up lightbox" href="~/Areas/Root/images/gallery/image-1.jpg" data-lightbox-anima="show-scale">
                                    <img alt="" src="~/Areas/Root/images/gallery/image-1.jpg" />
                                </a>
                            </li>
                            <li>
                                <a class="img-box img-scale-up lightbox" title="The lightbox caption" href="~/Areas/Root/images/gallery/image-2.jpg" data-lightbox-anima="show-scale">
                                    <img alt="" src="~/Areas/Root/images/gallery/image-2.jpg" />
                                </a>
                            </li>
                            <li>
                                <a class="img-box img-scale-up lightbox" href="~/Areas/Root/images/gallery/image-3.jpg" data-lightbox-anima="show-scale">
                                    <img alt="" src="~/Areas/Root/images/gallery/image-3.jpg" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>ADVANCED IMAGE BOX SLIDER</h5>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-6">
                    <div class="flexslider slider outer-navs" data-options="">
                        <ul class="slides">
                            <li>
                                <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                                    <i class="fa fa-balance-scale anima"></i>
                                    <a href="#" class="img-box anima-scale-up anima">
                                        <img alt="" src="~/Areas/Root/images/gallery/image-1.jpg">
                                    </a>
                                    <div class="caption">
                                        <h2>Stay hungry</h2>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                                    <i class="fa fa-battery-2 anima"></i>
                                    <a href="#" class="img-box anima-scale-up anima">
                                        <img alt="" src="~/Areas/Root/images/gallery/image-2.jpg">
                                    </a>
                                    <div class="caption">
                                        <h2>Stay foolish</h2>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                                    <i class="fa fa-bandcamp anima"></i>
                                    <a href="#" class="img-box anima-scale-up anima">
                                        <img alt="" src="~/Areas/Root/images/gallery/image-3.jpg">
                                    </a>
                                    <div class="caption">
                                        <h2>Be happy</h2>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                                    <i class="fa fa-xing anima"></i>
                                    <a href="#" class="img-box anima-scale-up anima">
                                        <img alt="" src="~/Areas/Root/images/gallery/image-4.jpg">
                                    </a>
                                    <div class="caption">
                                        <h2>Don't worry</h2>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                                    <i class="fa fa-wikipedia-w anima"></i>
                                    <a href="#" class="img-box anima-scale-up anima">
                                        <img alt="" src="~/Areas/Root/images/gallery/image-5.jpg">
                                    </a>
                                    <div class="caption">
                                        <h2>Keep calm</h2>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit.
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="flexslider slider outer-navs" data-options="">
                        <ul class="slides">
                            <li>
                                <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                                    <i class="fa fa-balance-scale anima"></i>
                                    <a href="#" class="img-box anima-scale-up anima">
                                        <img alt="" src="~/Areas/Root/images/gallery/image-1.jpg">
                                    </a>
                                    <div class="caption">
                                        <h2>Stay hungry</h2>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                                    <i class="fa fa-battery-2 anima"></i>
                                    <a href="#" class="img-box anima-scale-up anima">
                                        <img alt="" src="~/Areas/Root/images/gallery/image-2.jpg">
                                    </a>
                                    <div class="caption">
                                        <h2>Stay foolish</h2>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                                    <i class="fa fa-bandcamp anima"></i>
                                    <a href="#" class="img-box anima-scale-up anima">
                                        <img alt="" src="~/Areas/Root/images/gallery/image-3.jpg">
                                    </a>
                                    <div class="caption">
                                        <h2>Be happy</h2>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                                    <i class="fa fa-xing anima"></i>
                                    <a href="#" class="img-box anima-scale-up anima">
                                        <img alt="" src="~/Areas/Root/images/gallery/image-4.jpg">
                                    </a>
                                    <div class="caption">
                                        <h2>Don't worry</h2>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit.
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                                    <i class="fa fa-wikipedia-w anima"></i>
                                    <a href="#" class="img-box anima-scale-up anima">
                                        <img alt="" src="~/Areas/Root/images/gallery/image-5.jpg">
                                    </a>
                                    <div class="caption">
                                        <h2>Keep calm</h2>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit.
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>CONTENT BOX SLIDER</h5>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-4">
                    <div class="flexslider slider">
                        <ul class="slides">
                            <li>
                                <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="scale-up" data-trigger="hover">
                                    <i class="fa fa-safari icon circle anima"></i>
                                    <h3>Top services</h3>
                                    <p>
                                        Interdum iusto pulvinar consequuntur augue optio repellat fuga. Purus expedita fusce temporibus.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="scale-up" data-trigger="hover">
                                    <i class="fa fa-save icon circle anima"></i>
                                    <h3>24/7 support</h3>
                                    <p>
                                        Interdum iusto pulvinar consequuntur augue optio repellat fuga. Purus expedita fusce temporibus.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="scale-up" data-trigger="hover">
                                    <i class="fa fa-shower icon circle anima"></i>
                                    <h3>Free quote</h3>
                                    <p>
                                        Interdum iusto pulvinar consequuntur augue optio repellat fuga. Purus expedita fusce temporibus.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="flexslider slider">
                        <ul class="slides">
                            <li>
                                <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="scale-up" data-trigger="hover">
                                    <i class="fa fa-cube icon circle anima"></i>
                                    <h3>Room services</h3>
                                    <p>
                                        Interdum iusto pulvinar consequuntur augue optio repellat fuga. Purus expedita fusce temporibus.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="scale-up" data-trigger="hover">
                                    <i class="fa fa-chevron-circle-down icon circle anima"></i>
                                    <h3>Fast gameplay</h3>
                                    <p>
                                        Interdum iusto pulvinar consequuntur augue optio repellat fuga. Purus expedita fusce temporibus.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="scale-up" data-trigger="hover">
                                    <i class="fa fa-dashcube icon circle anima"></i>
                                    <h3>Progress chart</h3>
                                    <p>
                                        Interdum iusto pulvinar consequuntur augue optio repellat fuga. Purus expedita fusce temporibus.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="flexslider slider">
                        <ul class="slides">
                            <li>
                                <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="scale-up" data-trigger="hover">
                                    <i class="fa fa-data-signal icon circle anima"></i>
                                    <h3>Room services</h3>
                                    <p>
                                        Interdum iusto pulvinar consequuntur augue optio repellat fuga. Purus expedita fusce temporibus.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="scale-up" data-trigger="hover">
                                    <i class="fa fa-facebook-square icon circle anima"></i>
                                    <h3>Fast gameplay</h3>
                                    <p>
                                        Interdum iusto pulvinar consequuntur augue optio repellat fuga. Purus expedita fusce temporibus.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="scale-up" data-trigger="hover">
                                    <i class="fa fa-flag-checkered icon circle anima"></i>
                                    <h3>Progress chart</h3>
                                    <p>
                                        Interdum iusto pulvinar consequuntur augue optio repellat fuga. Purus expedita fusce temporibus.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>IMAGE CAROUSEL</h5>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-6">
                    <div class="flexslider carousel">
                        <ul class="slides">
                            <li>
                                <a class="img-box img-scale-up lightbox" href="~/Areas/Root/images/gallery/image-1.jpg" data-lightbox-anima="show-scale">
                                    <img alt="" src="~/Areas/Root/images/gallery/image-1.jpg" />
                                </a>
                            </li>
                            <li>
                                <a class="img-box img-scale-up lightbox" title="The lightbox caption" href="https://www.youtube.com/watch?v=bpqhStV2_rc" data-lightbox-anima="show-scale">
                                    <img alt="" src="~/Areas/Root/images/gallery/image-5.jpg" />
                                </a>
                            </li>
                            <li>
                                <a class="img-box img-scale-up lightbox" href="~/Areas/Root/images/gallery/image-2.jpg" data-lightbox-anima="show-scale">
                                    <img alt="" src="~/Areas/Root/images/gallery/image-2.jpg" />
                                </a>
                            </li>
                            <li>
                                <a class="img-box img-scale-up lightbox" href="~/Areas/Root/images/gallery/image-3.jpg" data-lightbox-anima="show-scale">
                                    <img alt="" src="~/Areas/Root/images/gallery/image-3.jpg" />
                                </a>
                            </li>
                            <li>
                                <a class="img-box img-scale-up lightbox" title="The lightbox caption" href="~/Areas/Root/images/gallery/image-4.jpg" data-lightbox-anima="show-scale">
                                    <img alt="" src="~/Areas/Root/images/gallery/image-4.jpg" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="flexslider carousel">
                        <ul class="slides">
                            <li>
                                <a class="img-box img-scale-up lightbox" href="~/Areas/Root/images/gallery/image-1.jpg" data-lightbox-anima="show-scale">
                                    <img alt="" src="~/Areas/Root/images/gallery/image-1.jpg" />
                                </a>
                            </li>
                            <li>
                                <a class="img-box img-scale-up lightbox" title="The lightbox caption" href="https://www.youtube.com/watch?v=bpqhStV2_rc" data-lightbox-anima="show-scale">
                                    <img alt="" src="~/Areas/Root/images/gallery/image-5.jpg" />
                                </a>
                            </li>
                            <li>
                                <a class="img-box img-scale-up lightbox" href="~/Areas/Root/images/gallery/image-2.jpg" data-lightbox-anima="show-scale">
                                    <img alt="" src="~/Areas/Root/images/gallery/image-2.jpg" />
                                </a>
                            </li>
                            <li>
                                <a class="img-box img-scale-up lightbox" href="~/Areas/Root/images/gallery/image-3.jpg" data-lightbox-anima="show-scale">
                                    <img alt="" src="~/Areas/Root/images/gallery/image-3.jpg" />
                                </a>
                            </li>
                            <li>
                                <a class="img-box img-scale-up lightbox" title="The lightbox caption" href="~/Areas/Root/images/gallery/image-4.jpg" data-lightbox-anima="show-scale">
                                    <img alt="" src="~/Areas/Root/images/gallery/image-4.jpg" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>COVERFLOW</h5>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-6">
                    <div class="coverflow-slider">
                        <ul>
                            <li><img src="~/Areas/Root/images/gallery/image-1.jpg" alt="coverflow"></li>
                            <li><img src="~/Areas/Root/images/gallery/image-2.jpg" alt="coverflow"></li>
                            <li><img src="~/Areas/Root/images/gallery/image-3.jpg" alt="coverflow"></li>
                            <li><img src="~/Areas/Root/images/gallery/image-4.jpg" alt="coverflow"></li>
                            <li><img src="~/Areas/Root/images/gallery/image-5.jpg" alt="coverflow"></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="coverflow-slider">
                        <ul>
                            <li><img src="~/Areas/Root/images/gallery/image-1.jpg" alt="coverflow"></li>
                            <li><img src="~/Areas/Root/images/gallery/image-2.jpg" alt="coverflow"></li>
                            <li><img src="~/Areas/Root/images/gallery/image-3.jpg" alt="coverflow"></li>
                            <li><img src="~/Areas/Root/images/gallery/image-4.jpg" alt="coverflow"></li>
                            <li><img src="~/Areas/Root/images/gallery/image-5.jpg" alt="coverflow"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty text-center section-doc">
        <div class="container content">
            <h4 class="text-normal">Documentation</h4>
            <p>This template is built with HTWF and more variants<br /> are available, check the official documentation for more details.</p>
            <hr class="space xs" />
            <a href="http://html.framework-y.com/containers/sliders/" target="_blank" class="circle-button btn btn-sm">Go to documentation</a>
        </div>
    </div>
    
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/features/containers/sliders.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:11:51 GMT -->



