
@{
    ViewBag.Title = "SocialMedia";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

    <meta name="description" content="HTML5/CSS3 template components for Framework Y and business industries, based on Framework Y.">

<body>
   
    <div class="header-base">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="title-base text-left">
                        <h1>Social media</h1>
                        <p>This template come with lot of innovative features and an awesome and extensive documentation.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <ol class="breadcrumb b white">
                        <li><a href="#">Home</a></li>
                        <li class="active">Features</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty section-item">
        <div class="container content">
            <h5 class="text-center">FACEBOOK FEEDS</h5>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-6">
                    <div class="social-feed-fb no-comments" data-social-id="6798562721" data-options="limit:2"></div>
                </div>
                <div class="col-md-6">
                    <div class="scroll-content well" data-height="450">
                        <div class="social-feed-fb" data-social-id="6798562721" data-options="limit:8"></div>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5 class="text-center">FACEBOOK FEEDS - SLIDER AND CAROUSEL</h5>
            <hr class="space" />
            <div class="row">
                <div class="col-md-6">
                    <div class="social-feed-fb flexslider no-comments outer-navs" data-social-id="6798562721"></div>
                </div>
                <div class="col-md-6">
                    <div id="fb-carousel-demo" class="social-feed-fb flexslider carousel outer-navs  no-comments" data-social-id="6798562721" data-options="minWidth:250,limit:8"></div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5 class="text-center">TWITTER FEEDS</h5>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-6">
                    <div class="social-feed-tw" data-social-id="envato" data-options="limit:3"></div>
                </div>
                <div class="col-md-6">
                    <div class="scroll-content well" data-height="250">
                        <div class="social-feed-tw" data-social-id="breakingbad_amc" data-options="limit:8"></div>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5 class="text-center">TWITTER FEEDS - SLIDER AND CAROUSEL</h5>
            <hr class="space" />
            <div class="row">
                <div class="col-md-6">
                    <div class="social-feed-tw flexslider outer-navs" data-social-id="breakingbad_amc" data-options="show_media:false"></div>
                </div>
                <div class="col-md-6">
                    <div class="social-feed-tw flexslider carousel outer-navs" data-social-id="envato" data-options="minWidth:250,show_media:false,limit:10"></div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5 class="text-center">SOCIAL BUTTONS</h5>
            <hr class="space m" />
            <div class="row text-center">
                <div class="col-md-4">
                    <span><b>SHARE</b> </span>
                    <span class="space"></span>
                    <div class="btn-group btn-group-icons" role="group">
                        <a data-social="share-facebook" class="btn btn-default"><i class="fa fa-facebook"></i></a>
                        <a data-social="share-twitter" class="btn btn-default"><i class="fa fa-twitter"></i></a>
                        <a data-social="share-google" class="btn btn-default"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="btn-group btn-group-lg btn-group-icons" role="group">
                        <a data-social="share-facebook" class="btn b"><i class="fa fa-facebook"></i></a>
                        <a data-social="share-google" class="btn btn-default"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="btn-group social-group">
                        <a target="_blank" href="#" data-social="share-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook text-s circle"></i></a>
                        <a target="_blank" href="#" data-social="share-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter text-s circle"></i></a>
                        <a target="_blank" href="#" data-social="share-google" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google+"><i class="fa fa-google-plus text-s circle"></i></a>
                        <a target="_blank" href="#" data-social="share-linkedin" data-toggle="tooltip" data-placement="top" title="" data-original-title="LinkedIn"><i class="fa fa-linkedin text-s circle"></i></a>
                    </div>
                </div>
            </div>
            <hr class="space m">
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="social-group-button social-line">
                        <div class="social-button" data-anima="pulse-vertical" data-trigger="hover"><i class="fa fa-share-alt circle text-s"></i></div>
                        <div class="btn-group social-group">
                            <a target="_blank" href="#gfhfh"><i data-social="share-facebook" class="fa fa-facebook circle"></i></a>
                            <a target="_blank" href="#"><i data-social="share-twitter" class="fa fa-twitter circle"></i></a>
                            <a target="_blank" href="#"><i data-social="share-google" class="fa fa-google circle"></i></a>
                            <a target="_blank" href="#"><i data-social="share-linkedin" class="fa fa-linkedin circle"></i></a>
                        </div>
                    </div>
                    <div class="social-group-button bottom-icons">
                        <div class="social-button" data-anima="pulse-vertical" data-trigger="hover"><i class="fa fa-share-alt circle text-s"></i></div>
                        <div class="btn-group social-group">
                            <a target="_blank" href="#"><i data-social="share-facebook" class="fa fa-facebook circle"></i></a>
                            <a target="_blank" href="#"><i data-social="share-twitter" class="fa fa-twitter circle"></i></a>
                            <a target="_blank" href="#"><i data-social="share-google" class="fa fa-google circle"></i></a>
                            <a target="_blank" href="#"><i data-social="share-linkedin" class="fa fa-linkedin circle"></i></a>
                        </div>
                    </div>
                    <div class="social-group-button">
                        <div class="social-button" data-anima="pulse-vertical" data-trigger="hover"><i class="fa fa-share-alt circle text-s"></i></div>
                        <div class="btn-group social-group">
                            <a target="_blank" href="#"><i data-social="share-facebook" class="fa fa-facebook circle"></i></a>
                            <a target="_blank" href="#"><i data-social="share-twitter" class="fa fa-twitter circle"></i></a>
                            <a target="_blank" href="#"><i data-social="share-google" class="fa fa-google circle"></i></a>
                            <a target="_blank" href="#"><i data-social="share-linkedin" class="fa fa-linkedin circle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="btn-group social-group social-colors">
                        <a target="_blank" href="#" data-social="share-facebook"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="#" data-social="share-twitter"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="#" data-social="share-google"><i class="fa fa-instagram"></i></a>
                        <a target="_blank" href="#" data-social="share-linkedin"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="btn-group social-group">
                        <a target="_blank" href="#" data-social="share-facebook"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="#" data-social="share-twitter"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="#" data-social="share-google"><i class="fa fa-instagram"></i></a>
                        <a target="_blank" href="#" data-social="share-linkedin"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty text-center section-doc">
        <div class="container content">
            <h4 class="text-normal">Documentation</h4>
            <p>This template is built with HTWF and more variants<br /> are available, check the official documentation for more details.</p>
            <hr class="space xs" />
            <a href="http://html.framework-y.com/components/social/" target="_blank" class="circle-button btn btn-sm">Go to documentation</a>
        </div>
    </div>
    
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/features/components/social-media.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:11:38 GMT -->



