
@{
    ViewBag.Title = "Tabs";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

    <meta name="description" content="HTML5/CSS3 template components for Framework Y and business industries, based on Framework Y.">

<body>
    
    <div class="header-base">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="title-base text-left">
                        <h1>Tabs</h1>
                        <p>This template come with lot of innovative features and an awesome and extensive documentation.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <ol class="breadcrumb b white">
                        <li><a href="#">Home</a></li>
                        <li class="active">Features</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty section-item">
        <div class="container content">
            <h5 class="text-center">TABS</h5>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-6">
                    <div class="tab-box" id="tab-classic" data-tab-anima="fade-right">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Messages</a></li>
                        </ul>
                        <div class="panel active">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                        <div class="panel">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                        <div class="panel">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="tab-box inverse" data-tab-anima="fade-right">
                        <div class="panel active">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                        <div class="panel">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                        <div class="panel">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#"><i class="fa fa-floppy-o"></i>Home</a></li>
                            <li><a href="#"><i class="fa fa-folder-open"></i>Profile</a></li>
                            <li><a href="#"><i class="fa fa-ambulance"></i>Messages</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-6">
                    <div class="tab-box" data-tab-anima="fade-left">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Messages</a></li>
                        </ul>
                        <div class="panel active">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                        <div class="panel">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                        <div class="panel">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="tab-box inverse" data-tab-anima="fade-top">
                        <div class="panel active">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                        <div class="panel">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                        <div class="panel">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Messages</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-6">
                    <div class="tab-box" data-tab-anima="fade-in">
                        <ul class="nav nav-tabs nav-center">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Messages</a></li>
                        </ul>
                        <div class="panel active">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                        <div class="panel">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                        <div class="panel">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="tab-box inverse" data-tab-anima="fade-right">
                        <div class="panel active">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                        <div class="panel">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                        <div class="panel">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                        <ul class="nav nav-tabs nav-center">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Messages</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-6">
                    <div class="tab-box" data-tab-anima="fade-right">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active"><a href="#t1">Home</a></li>
                            <li><a href="#t2">Profile</a></li>
                            <li><a href="#t3">Messages</a></li>
                        </ul>
                        <div id="t1" class="panel active">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                        <div id="t2" class="panel">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                        <div id="t3" class="panel ">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="tab-box" data-tab-anima="show-scale">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Messages</a></li>
                        </ul>
                        <div class="panel active">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                        <div class="panel">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                        <div class="panel">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-4">
                    <div class="tab-box" data-tab-anima="fade-right">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active"><a href="#"><i class="fa fa-git-square"></i> Home</a></li>
                            <li><a href="#"><i class="fa fa-glide-g"></i>  Profile</a></li>
                        </ul>
                        <div class="panel active">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                        <div class="panel">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tab-box" data-tab-anima="fade-bottom">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active"><a href="#">Save</a></li>
                            <li><a href="#">Love</a></li>
                            <li><a href="#">Energy</a></li>
                        </ul>
                        <div class="panel active">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                        <div class="panel">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tab-box" data-tab-anima="fade-right">
                        <ul class="nav nav-tabs nav-center">
                            <li class="active" data-anima="slide-right-left" data-trigger="hover"><a href="#">Home</a></li>
                            <li><a href="#" data-anima="slide-right-left" data-trigger="hover">Profile</a></li>
                        </ul>
                        <div class="panel active">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                        <div class="panel">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-6">
                    <div class="tab-box pills" data-tab-anima="fade-right">
                        <ul class="nav nav-pills nav-justified">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Messages</a></li>
                        </ul>
                        <div class="panel active">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                        <div class="panel">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                        <div class="panel">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="tab-box pills" data-tab-anima="fade-left">
                        <ul class="nav nav-pills nav-center">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Messages</a></li>
                        </ul>
                        <div class="panel active">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                        <div class="panel">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                        <div class="panel">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5 class="text-center">TABS VERTICAL</h5>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-6">
                    <div class="tab-box left" data-tab-anima="fade-left">
                        <ul class="nav nav-tabs col-md-4">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Messages</a></li>
                        </ul>
                        <div class="panel-box col-md-8">
                            <div class="panel active">
                                Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                            </div>
                            <div class="panel">
                                Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                            </div>
                            <div class="panel">
                                Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="tab-box right" data-tab-anima="fade-left">
                        <div class="panel-box col-md-8">
                            <div class="panel active">
                                Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                            </div>
                            <div class="panel">
                                Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                            </div>
                            <div class="panel">
                                Lorem ipsum dolor sitamet consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                            </div>
                        </div>
                        <ul class="nav nav-tabs col-md-4">
                            <li class="active"><a href="#"><i class="fa fa-google"></i> Home</a></li>
                            <li><a href="#"><i class="fa fa-gratipay"></i> Profile</a></li>
                            <li><a href="#"><i class="fa fa-hospital-o"></i> Messages</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-6">
                    <div class="tab-box left" data-tab-anima="fade-right">
                        <ul class="nav nav-tabs nav-justified-v col-md-4">
                            <li class="active"><a href="#">Home  </a></li>
                            <li><a href="#">Profile </a></li>
                            <li><a href="#">Messages </a></li>
                        </ul>
                        <div class="panel-box col-md-8">
                            <div class="panel active">
                                L'orem ipsum dolor sitamet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </div>
                            <div class="panel">
                                L'orem ipsum dolor sitamet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </div>
                            <div class="panel">
                                L'orem ipsum dolor sitamet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="tab-box right" data-tab-anima="fade-in">
                        <div class="panel-box col-md-8">
                            <div class="panel active">
                                L'orem ipsum dolor sitamet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.perspiciatis unde omnis iste natus error sit voluptatem
                            </div>
                            <div class="panel">
                                L'orem ipsum dolor sitamet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.perspiciatis unde omnis iste natus error sit voluptatem
                            </div>
                            <div class="panel">
                                L'orem ipsum dolor sitamet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.perspiciatis unde omnis iste natus error sit voluptatem
                            </div>
                        </div>
                        <ul class="nav nav-tabs nav-justified-v col-md-4">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Messages</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="space m" />
            <div class="row">
                <div class="col-md-6">
                    <div class="tab-box left pills" data-tab-anima="fade-right">
                        <ul class="nav nav-pills col-md-4">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Messages</a></li>
                        </ul>
                        <div class="panel-box col-md-8">
                            <div class="panel active">
                                L'orem ipsum dolor sitamet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                            </div>
                            <div class="panel">
                                L'orem ipsum dolor sitamet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                            </div>
                            <div class="panel">
                                L'orem ipsum dolor sitamet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="tab-box right pills" data-tab-anima="fade-in">
                        <div class="panel-box col-md-8">
                            <div class="panel active">
                                L'orem ipsum dolor sitamet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                            </div>
                            <div class="panel">
                                L'orem ipsum dolor sitamet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                            </div>
                            <div class="panel">
                                L'orem ipsum dolor sitamet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                            </div>
                        </div>
                        <ul class="nav nav-pills col-md-4">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Messages</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty text-center section-doc">
        <div class="container content">
            <h4 class="text-normal">Documentation</h4>
            <p>This template is built with HTWF and more variants<br /> are available, check the official documentation for more details.</p>
            <hr class="space xs" />
            <a href="http://html.framework-y.com/containers/others/#tabs" target="_blank" class="circle-button btn btn-sm">Go to documentation</a>
        </div>
    </div>
    
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/features/containers/tabs.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:11:51 GMT -->



