
@{
    ViewBag.Title = "Typography";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

    <meta name="description" content="HTML5/CSS3 template components for Framework Y and business industries, based on Framework Y.">

<body>
   
    <div class="header-base">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="title-base text-left">
                        <h1>Typography</h1>
                        <p>This template come with lot of innovative features and an awesome and extensive documentation.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <ol class="breadcrumb b white">
                        <li><a href="#">Home</a></li>
                        <li class="active">Features</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty section-item text-center">
        <div class="container content">
            <h5>TITLES</h5>
            <hr class="space m" />
            <div class="title-base text-center">
                <hr />
                <h2>Title presentation text</h2>
                <p>Lorem Ipsum is simply dummy text of the printing.</p>
            </div>
            <hr class="space m" />
            <div class="title-base title-small">
                <h2>Title presentation text</h2>
                <hr />
                <p>Lorem Ipsum is simply dummy text of the printing.</p>
                <i class="fa fa-angle-up scroll-top"></i>
            </div>
            <hr class="space m" />
            <div class="title-icon">
                <h2>Title presentation text</h2>
                <p>Lorem Ipsum is simply dummy text of the printing.</p>
                <i class="fa fa-behance"></i>
            </div>
            <hr class="space m" />
            <div class="title-icon title-icon-bg">
                <h2>Title presentation text</h2>
                <p>Lorem Ipsum is simply dummy text of the printing.</p>
                <i class="im-bow"></i>
            </div>
            <hr class="space m" />
            <div class="title-modern title-modern-2 st-icon text-center">
                <h2>Title presentation text</h2>
                <hr />
                <p>Great from any side</p>
            </div>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>QUOTES</h5>
            <hr class="space m" />
            <p class="block-quote quote-1">
                It is better to lead from behind and to put others in front,
                especially when you celebrate victory when nice things occur.
                You take the front line when there is danger. Then people will appreciate your leadership.
            </p>
            <hr class="space m" />
            <p class="block-quote quote-2">
                It is better to lead from behind and to put others in front,
                especially when you celebrate victory when nice things occur.
                You take the front line when there is danger. Then people will appreciate your leadership.
                <span class="quote-author">JASON SANTA MARIA</span>
            </p>
            <hr class="space s" />
            <hr />
            <hr class="space s" />
            <h5>SEPARATORS</h5>
            <hr class="space m" />
            <!-- EXAMPLE 1 -->
            <hr />
            <!-- EXAMPLE 2 -->
            <hr class="a" />
            <!-- EXAMPLE 3 -->
            <hr class="b" />
            <!-- EXAMPLE 4 -->
            <hr class="c" />
            <!-- EXAMPLE 5 -->
            <hr class="d" />
            <!-- EXAMPLE 6 -->
            <hr class="d-dark" />
            <!-- EXAMPLE 7 -->
            <hr class="e" />
            <!-- EXAMPLE 8 -->
            <hr class="f-top" />
            <!-- EXAMPLE 9 -->
            <hr class="f" />
            <!-- EXAMPLE 10 -->
            <hr class="f-top f-dark" />
            <!-- EXAMPLE 11 -->
            <hr class="f f-dark" />
            <!-- EXAMPLE 12 -->
            <hr class="g" />
            <!-- EXAMPLE 13 -->
            <hr class="h" />
            <!-- EXAMPLE 14 -->
            <hr class="i" />
        </div>
    </div>

    <div class="section-empty text-center section-doc">
        <div class="container content">
            <h4 class="text-normal">Documentation</h4>
            <p>This template is built with HTWF and more variants<br /> are available, check the official documentation for more details.</p>
            <hr class="space xs" />
            <a href="http://html.framework-y.com/components/typography/" target="_blank" class="circle-button btn btn-sm">Go to documentation</a>
        </div>
    </div>
    
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/features/components/typography.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:11:38 GMT -->



