
@{
    ViewBag.Title = "Minimal";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

    <meta name="description" content="Blog archive with sliders post, video post and image post boxes.">

<body class="home">
   
    <div class="header-title" style="        background-image: url(~/Areas/Root/images/bg-img-3.png)">
        <div class="container">
            <div class="title-base">
                <hr class="anima" />
                <h1>Minimal blog</h1>
                <p>Latest news from our blog and our social channels</p>
            </div>
        </div>
    </div>

    <div class="section-empty section-item">
        <div class="container content">
            <div class="row">
                <div class="col-md-8 col-center col-sm-12">
                    <div class="grid-list one-row-list">
                        <div class="grid-box row">
                            <div class="grid-item col-md-12">
                                <div class="advs-box niche-box-blog">
                                    <div class="block-top">
                                        <div class="block-infos">
                                            <div class="block-data">
                                                <p class="bd-day">10</p>
                                                <p class="bd-month">July</p>
                                            </div>
                                            <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                        </div>
                                        <div class="block-title">
                                            <h2><a href="blog-single-1.html">Celebs guess real or fake tech news</a></h2>
                                            <div class="tag-row">
                                                <span><i class="fa fa-bookmark"></i> <a href="#">Business</a></span>
                                                <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="img-box" href="blog-single-1.html">
                                        <img src="~/Areas/Root/images/gallery/image-1.jpg" alt="">
                                    </a>
                                    <p class="excerpt">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat duis aute irure dolor.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo.
                                    </p>
                                </div>
                                <hr class="space m" />
                            </div>
                            <div class="grid-item col-md-12">
                                <div class="advs-box niche-box-blog">
                                    <div class="block-top">
                                        <div class="block-infos">
                                            <div class="block-data">
                                                <p class="bd-day">25</p>
                                                <p class="bd-month">July</p>
                                            </div>
                                            <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                        </div>
                                        <div class="block-title">
                                            <h2><a href="blog-single-1.html">On mentorship and finding your way around</a></h2>
                                            <div class="tag-row">
                                                <span><i class="fa fa-bookmark"></i> <a href="#">Consulting</a></span>
                                                <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="img-box" href="blog-single-1.html">
                                        <img src="~/Areas/Root/images/gallery/image-2.jpg" alt="">
                                    </a>
                                    <p class="excerpt">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat duis aute irure dolor.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisio.
                                    </p>
                                </div>
                                <hr class="space m" />
                            </div>
                            <div class="grid-item col-md-12">
                                <div class="advs-box niche-box-blog">
                                    <div class="block-top">
                                        <div class="block-infos">
                                            <div class="block-data">
                                                <p class="bd-day">05</p>
                                                <p class="bd-month">May</p>
                                            </div>
                                            <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                        </div>
                                        <div class="block-title">
                                            <h2><a href="blog-single-1.html">Google offers more control, after ads on offensive content leads to brand boycott</a></h2>
                                            <div class="tag-row">
                                                <span><i class="fa fa-bookmark"></i> <a href="#">Web</a></span>
                                                <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="img-box" href="blog-single-1.html">
                                        <img src="~/Areas/Root/images/gallery/image-3.jpg" alt="">
                                    </a>
                                    <p class="excerpt">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat duis aute irure dolor.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo.
                                    </p>
                                </div>
                                <hr class="space m" />
                            </div>
                            <div class="grid-item col-md-12">
                                <div class="advs-box niche-box-blog">
                                    <div class="block-top">
                                        <div class="block-infos">
                                            <div class="block-data">
                                                <p class="bd-day">15</p>
                                                <p class="bd-month">July</p>
                                            </div>
                                            <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                        </div>
                                        <div class="block-title">
                                            <h2><a href="blog-single-1.html">Piede Piper shrinking algorhitm is applying to drive lifestyle ecommerce.</a></h2>
                                            <div class="tag-row">
                                                <span><i class="fa fa-bookmark"></i> <a href="#">Financial</a></span>
                                                <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="img-box" href="blog-single-1.html">
                                        <img src="~/Areas/Root/images/gallery/image-4.jpg" alt="">
                                    </a>
                                    <p class="excerpt">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat duis aute irure dolor.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo consequo.
                                    </p>
                                </div>
                                <hr class="space m" />
                            </div>
                            <div class="grid-item col-md-12">
                                <div class="advs-box niche-box-blog">
                                    <div class="block-top">
                                        <div class="block-infos">
                                            <div class="block-data">
                                                <p class="bd-day">25</p>
                                                <p class="bd-month">July</p>
                                            </div>
                                            <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                        </div>
                                        <div class="block-title">
                                            <h2><a href="blog-single-1.html">Marine Corps updates social media guidance to address online misconduct</a></h2>
                                            <div class="tag-row">
                                                <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                                <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="img-box" href="blog-single-1.html">
                                        <img src="~/Areas/Root/images/gallery/image-5.jpg" alt="">
                                    </a>
                                    <p class="excerpt">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat duis aute irure dolor.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo consequa.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="list-nav">
                            <ul class="pagination pagination-grid hide-first-last pagination-sm" data-page-items="3" data-pagination-anima="show-scale" data-options="scrollTop:true"></ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
   
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/blog-minimal.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:11:14 GMT -->



