
@{
    ViewBag.Title = "PortFive";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

    <meta name="description" content="Portfolio with categories and filters, cunstruction HTML template.">

<body>
   
    <div class="section-empty">
        <div class="container content">
            <div class="row vertical-row">
                <div class="col-md-6">
                    <div class="title-base text-left">
                        <hr />
                        <h2>Portfolio five</h2>
                        <p>If you're trying to create a company, it's like baking a cake. You have to have all the ingredients in the right proportion.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="~/Areas/Root/images/mk-17.png" alt="" />
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty section-item">
        <div class="container content">
            <div class="grid-list gallery list-sm-6">
                <div class="grid-box row">
                    <div class="grid-item col-md-4 col-sm-6">
                        <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="scale-up" data-trigger="hover">
                            <i class="fa fa-hand-grab-o icon circle anima"></i>
                            <h3>Web design</h3>
                            <p>
                                Interdum iusto pulvinar consequuntur augue optio, repellat maleri fuga! Purus expedita fusce temporibus est odit.
                            </p>
                            <a class="btn btn-sm circle-button" href="#">Enter now </a>
                        </div>
                    </div>
                    <div class="grid-item col-md-4 col-sm-6">
                        <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="scale-up" data-trigger="hover">
                            <i class="fa fa-wordpress icon circle anima"></i>
                            <h3>Web development</h3>
                            <p>
                                Interdum iusto pulvinar consequuntur augue optio, repellat maleri fuga! Purus expedita fusce temporibus est odit.
                            </p>
                            <a class="btn btn-sm circle-button" href="#">Enter now </a>
                        </div>
                    </div>
                    <div class="grid-item col-md-4 col-sm-6">
                        <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="scale-up" data-trigger="hover">
                            <i class="fa fa-battery-3 icon circle anima"></i>
                            <h3>SEO and marketing</h3>
                            <p>
                                Interdum iusto pulvinar consequuntur augue optio, repellat maleri fuga! Purus expedita fusce temporibus est odit.
                            </p>
                            <a class="btn btn-sm circle-button" href="#">Enter now </a>
                        </div>
                    </div>
                    <div class="grid-item col-md-4 col-sm-6">
                        <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="scale-up" data-trigger="hover">
                            <i class="fa fa-google-plus-official icon circle anima"></i>
                            <h3>Viral marketing</h3>
                            <p>
                                Interdum iusto pulvinar consequuntur augue optio, repellat maleri fuga! Purus expedita fusce temporibus est odio.
                            </p>
                            <a class="btn btn-sm circle-button" href="#">Enter now </a>
                        </div>
                    </div>
                    <div class="grid-item col-md-4 col-sm-6">
                        <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="scale-up" data-trigger="hover">
                            <i class="fa fa-newspaper-o icon circle anima"></i>
                            <h3>Guerrilla marketing</h3>
                            <p>
                                Interdum iusto pulvinar consequuntur augue optio, repellat maleri fuga! Purus expedita fusce temporibus est odit.
                            </p>
                            <a class="btn btn-sm circle-button" href="#">Enter now </a>
                        </div>
                    </div>
                    <div class="grid-item col-md-4 col-sm-6">
                        <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="scale-up" data-trigger="hover">
                            <i class="fa fa-keyboard-o icon circle anima"></i>
                            <h3>Photo manipulation</h3>
                            <p>
                                Interdum iusto pulvinar consequuntur augue optio, repellat maleri fuga! Purus expedita fusce temporibus est odit.
                            </p>
                            <a class="btn btn-sm circle-button" href="#">Enter now </a>
                        </div>
                    </div>
                    <div class="grid-item col-md-4 col-sm-6">
                        <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="scale-up" data-trigger="hover">
                            <i class="fa fa-vcard-o icon circle anima"></i>
                            <h3>Promotional video</h3>
                            <p>
                                Interdum iusto pulvinar consequuntur augue optio, repellat maleri fuga! Purus expedita fusce temporibus est odit.
                            </p>
                            <a class="btn btn-sm circle-button" href="#">Enter now </a>
                        </div>
                    </div>
                    <div class="grid-item col-md-4 col-sm-6">
                        <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="scale-up" data-trigger="hover">
                            <i class="fa fa-calendar-o icon circle anima"></i>
                            <h3>Web sites</h3>
                            <p>
                                Interdum iusto pulvinar consequuntur augue optio, repellat maleri fuga! Purus expedita fusce temporibus est oditiilpo.
                            </p>
                            <a class="btn btn-sm circle-button" href="#">Enter now </a>
                        </div>
                    </div>
                    <div class="grid-item col-md-4 col-sm-6">
                        <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="scale-up" data-trigger="hover">
                            <i class="fa fa-xing-square icon circle anima"></i>
                            <h3>Social marketing</h3>
                            <p>
                                Interdum iusto pulvinar consequuntur augue optio, repellat maleri fuga! Purus expedita fusce temporibus est odit mi.
                            </p>
                            <a class="btn btn-sm circle-button" href="#">Enter now </a>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <ul class="pagination-sm pagination-grid" data-page-items="6" data-pagination-anima="show-scale"></ul>
                </div>
            </div>
        </div>
    </div>
 
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/portfolio-5.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:11:13 GMT -->



