
@{
    ViewBag.Title = "SinglePortTwo";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

    <meta name="description" content="Constrution and business template, HTML5.">
  
<body>
   
    <div class="header-title white ken-burn" data-parallax="scroll" data-position="top" data-natural-height="950" data-natural-width="1920" data-image-src="~/Areas/Root/images/bg-img-12.jpg">
        <div class="container">
            <div class="title-base">
                <hr class="anima" />
                <h1>Portfolio single two</h1>
                <p>Success is no accident. It is hard work, perseverance, studying, sacrifice and most of all, love of what you are doing or learning to do.</p>
            </div>
        </div>
    </div>

    <div class="section-empty section-item">
        <div class="container content">
            <div class="flexslider carousel outer-navs" data-options="numItems:4,controlNav:false,itemMargin:30">
                <ul class="slides">
                    <li>
                        <a class="img-box lightbox" href="~/Areas/Root/images/gallery/image-1.jpg" data-lightbox-anima="fade-top">
                            <img src="~/Areas/Root/images/gallery/image-8.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-box lightbox" href="~/Areas/Root/images/gallery/image-2.jpg" data-lightbox-anima="fade-top">
                            <img src="~/Areas/Root/images/gallery/image-9.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-box lightbox" href="~/Areas/Root/images/gallery/image-3.jpg" data-lightbox-anima="fade-top">
                            <img src="~/Areas/Root/images/gallery/image-3.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-box lightbox" href="~/Areas/Root/images/gallery/image-4.jpg" data-lightbox-anima="fade-top">
                            <img src="~/Areas/Root/images/gallery/image-4.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-box lightbox" href="~/Areas/Root/images/gallery/image-5.jpg" data-lightbox-anima="fade-top">
                            <img src="~/Areas/Root/images/gallery/image-5.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-box lightbox" href="~/Areas/Root/images/gallery/image-6.jpg" data-lightbox-anima="fade-top">
                            <img src="~/Areas/Root/images/gallery/image-6.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-box lightbox" href="~/Areas/Root/images/gallery/image-7.jpg" data-lightbox-anima="fade-top">
                            <img src="~/Areas/Root/images/gallery/image-7.jpg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <hr class="space" />
            <div class="row">
                <div class="col-md-8">
                    <p>
                        Lorem ipsum dolor sit amet, cons
                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat duis aute irure dolorquis nostrud exercitation ullamco laboris   hendrerit incidunt pulvinar litora eleisto.
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet acliquamo
                        sit amet justo nunc temporo metus velo.
                    </p>
                    <hr class="space m" />
                    <div class="btn-group social-group btn-group-icons social-colors">
                        <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="list-texts">
                        <li><b>Client.</b>   Awesome Company</li>
                        <li><b>Location.</b>   Mountain View CA 94043</li>
                        <li><b>Surface Area.</b> 450,000 m2</li>
                        <li><b>Year.</b>   2014</li>
                        <li><b>Value.</b> $250.000</li>
                        <li><b>Architect.</b>   Jason & Perry</li>
                    </ul>
                    <hr class="space s" />
                    <a href="#" class="btn circle-button btn-sm"><i class="fa fa-paper-plane-o"></i>Visit website</a>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty">
        <div class="container content">
            <div class="row porfolio-bar">
                <div class="col-md-2">
                    <div class="icon-box" data-anima="scale-up" data-trigger="hover">
                        <i class="fa fa-arrow-left text-m"></i><label class="text-s"><a href="#">Previous</a></label>
                    </div>
                </div>
                <div class="col-md-8 text-center">
                    <a href="#" data-anima="scale-up" data-trigger="hover"><i class="fa fa-th anima"></i></a>
                </div>
                <div class="col-md-2 text-right">
                    <div class="icon-box icon-box-right" data-anima="scale-up" data-trigger="hover">
                        <label class="text-s"><a href="#">Next</a></label><i class="fa fa-arrow-right text-m"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/portfolio-single-2.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:11:13 GMT -->



