
@{
    ViewBag.Title = "SinglePortFive";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

    <meta name="description" content="Constrution and business template, HTML5.">

<body>
    
    <div class="section-empty">
        <div class="container content">
            <div class="row proporzional-row">
                <div class="col-md-8 col-sm-12">
                    <div class="flexslider slider nav-inner white">
                        <ul class="slides">
                            <li>
                                <a class="img-box lightbox" href="~/Areas/Root/images/gallery/image-7.jpg" data-lightbox-anima="fade-top">
                                    <img src="~/Areas/Root/images/gallery/image-7.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="img-box lightbox" href="~/Areas/Root/images/gallery/image-3.jpg" data-lightbox-anima="fade-top">
                                    <img src="~/Areas/Root/images/gallery/image-3.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="img-box lightbox" href="~/Areas/Root/images/gallery/image-10.jpg" data-lightbox-anima="fade-top">
                                    <img src="~/Areas/Root/images/gallery/image-10.jpg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 portfolio-details">
                    <h4 class="text-xl">Portfolio<br />single five</h4>
                    <hr class="space m" />
                    <ul class="fa-ul ">
                        <li><i class="fa-li fa fa-user"></i>Adidas</li>
                        <li><i class="fa-li fa fa-folder-open-o"></i>Marketing</li>
                        <li><i class="fa-li fa fa-calendar"></i>20-02-2018</li>
                        <li><i class="fa-li fa fa-copyright"></i>Company Name</li>
                    </ul>
                    <hr class="space l" />
                    <a href="#" class="btn btn-lg">Client website</a>
                </div>
            </div>
            <hr class="space" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus
                error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qui
                s nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulree laudantium, totam rem aperiam, eaque ipsa quae.
            </p>
            <hr class="space m" />
            <div class="btn-group social-group">
                <a target="_blank" href="#" data-social="share-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                    <i class="fa fa-facebook text-s circle"></i>
                </a>
                <a target="_blank" href="#" data-social="share-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                    <i class="fa fa-twitter text-s circle"></i>
                </a>
                <a target="_blank" href="#" data-social="share-google" data-toggle="tooltip" data-placement="top" title="Google+">
                    <i class="fa fa-google-plus text-s circle"></i>
                </a>
                <a target="_blank" href="#" data-social="share-linkedin" data-toggle="tooltip" data-placement="top" title="LinkedIn">
                    <i class="fa fa-linkedin text-s circle"></i>
                </a>
            </div>
            <hr class="space" />
            <div class="row porfolio-bar">
                <div class="col-md-2">
                    <div class="icon-box" data-anima="scale-up" data-trigger="hover">
                        <i class="fa fa-arrow-left text-m"></i><label class="text-s"><a href="#">PREVIOUS</a></label>
                    </div>
                </div>
                <div class="col-md-8 text-center">
                    <a href="#" data-anima="scale-up" data-trigger="hover"><i class="fa fa-th anima"></i></a>
                </div>
                <div class="col-md-2 text-right">
                    <div class="icon-box icon-box-right" style="float: right" data-anima="scale-up" data-trigger="hover">
                        <label class="text-s"><a href="#">NEXT</a></label><i class="fa fa-arrow-right text-m"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/portfolio-single-5.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:11:13 GMT -->



