
@{
    ViewBag.Title = "SinglePortFour";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

    <meta name="description" content="Constrution and business template, HTML5.">
  
<body>
   
    <div class="header-title white ken-burn" data-parallax="scroll" data-position="top" data-natural-height="950" data-natural-width="1920" data-image-src="~/Areas/Root/images/bg-img-11.jpg">
        <div class="container">
            <div class="title-base">
                <hr class="anima" />
                <h1>Portfolio single four</h1>
                <p>Success is no accident. It is hard work, perseverance, studying, sacrifice and most of all, love of what you are doing or learning to do.</p>
            </div>
        </div>
    </div>

    <div class="section-empty">
        <div class="container content">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="row">
                        <div class="col-md-12 boxed-inverse fixed-area" data-topscroll="80" data-bottom="400">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <hr class="space s" />
                            <ul class="list-texts">
                                <li><b>Client.</b>   Building Company</li>
                                <li><b>Location.</b>   Mountain View CA 94043</li>
                                <li><b>Date.</b>   January 2014</li>
                                <li><b>Architect.</b>   Jason &amp; Perry</li>
                            </ul>
                            <hr class="space s" />
                            <div class="btn-group social-group">
                                <a target="_blank" href="#" data-social="share-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                    <i class="fa fa-facebook text-s circle"></i>
                                </a>
                                <a target="_blank" href="#" data-social="share-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                    <i class="fa fa-twitter text-s circle"></i>
                                </a>
                                <a target="_blank" href="#" data-social="share-google" data-toggle="tooltip" data-placement="top" title="Google+">
                                    <i class="fa fa-google-plus text-s circle"></i>
                                </a>
                                <a target="_blank" href="#" data-social="share-linkedin" data-toggle="tooltip" data-placement="top" title="LinkedIn">
                                    <i class="fa fa-linkedin text-s circle"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="grid-list gallery">
                        <div class="grid-box row" data-lightbox-anima="fade-bottom">
                            <div class="grid-item col-md-6">
                                <a class="img-box i-bottom-left img-scale-up" href="~/Areas/Root/images/gallery/image-1.jpg">
                                    <span>
                                        <i class="fa fa-photo"></i>
                                        <img src="~/Areas/Root/images/gallery/image-1.jpg" alt="" />
                                    </span>
                                </a>
                            </div>
                            <div class="grid-item col-md-6">
                                <a class="img-box i-bottom-left img-scale-up mfp-iframe" href="https://www.youtube.com/watch?v=Xxv2gMAGtUc">
                                    <span>
                                        <i class="fa fa-play"></i>
                                        <img src="~/Areas/Root/images/gallery/image-2.jpg" alt="" />
                                    </span>
                                </a>
                            </div>
                            <div class="grid-item col-md-6">
                                <a class="img-box i-bottom-left img-scale-up" href="~/Areas/Root/images/gallery/image-3.jpg">
                                    <span>
                                        <i class="fa fa-photo"></i>
                                        <img src="~/Areas/Root/images/gallery/image-3.jpg" alt="" />
                                    </span>
                                </a>
                            </div>
                            <div class="grid-item col-md-6">
                                <a class="img-box i-bottom-left img-scale-up mfp-iframe" href="https://www.youtube.com/watch?v=Xxv2gMAGtUc">
                                    <span>
                                        <i class="fa fa-play"></i>
                                        <img src="~/Areas/Root/images/gallery/image-4.jpg" alt="" />
                                    </span>
                                </a>
                            </div>
                            <div class="grid-item col-md-6">
                                <a class="img-box i-bottom-left img-scale-up mfp-iframe" href="https://www.youtube.com/watch?v=Xxv2gMAGtUc">
                                    <span>
                                        <i class="fa fa-play"></i>
                                        <img src="~/Areas/Root/images/gallery/image-5.jpg" alt="" />
                                    </span>
                                </a>
                            </div>
                            <div class="grid-item col-md-6">
                                <a class="img-box i-bottom-left img-scale-up" href="~/Areas/Root/images/gallery/image-6.jpg">
                                    <span>
                                        <i class="fa fa-photo"></i>
                                        <img src="~/Areas/Root/images/gallery/image-6.jpg" alt="" />
                                    </span>
                                </a>
                            </div>
                            <div class="grid-item col-md-6">
                                <a class="img-box i-bottom-left img-scale-up" href="~/Areas/Root/images/gallery/image-7.jpg">
                                    <span>
                                        <i class="fa fa-photo"></i>
                                        <img src="~/Areas/Root/images/gallery/image-7.jpg" alt="" />
                                    </span>
                                </a>
                            </div>
                            <div class="grid-item col-md-6">
                                <a class="img-box i-bottom-left img-scale-up" href="~/Areas/Root/images/gallery/image-8.jpg">
                                    <span>
                                        <i class="fa fa-photo"></i>
                                        <img src="~/Areas/Root/images/gallery/image-8.jpg" alt="" />
                                    </span>
                                </a>
                            </div>
                            <div class="grid-item col-md-6">
                                <a class="img-box i-bottom-left img-scale-up" href="~/Areas/Root/images/gallery/image-9.jpg">
                                    <span>
                                        <i class="fa fa-photo"></i>
                                        <img src="~/Areas/Root/images/gallery/image-9.jpg" alt="" />
                                    </span>
                                </a>
                            </div>
                            <div class="grid-item col-md-6">
                                <a class="img-box i-bottom-left img-scale-up" href="~/Areas/Root/images/gallery/image-10.jpg">
                                    <span>
                                        <i class="fa fa-photo"></i>
                                        <img src="~/Areas/Root/images/gallery/image-10.jpg" alt="" />
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty">
        <div class="container content">
            <div class="row porfolio-bar">
                <div class="col-md-2">
                    <div class="icon-box" data-anima="scale-up" data-trigger="hover">
                        <i class="fa fa-arrow-left text-m"></i><label class="text-s"><a href="#">PREVIOUS</a></label>
                    </div>
                </div>
                <div class="col-md-8 text-center">
                    <a href="#" data-anima="scale-up" data-trigger="hover"><i class="fa fa-th anima"></i></a>
                </div>
                <div class="col-md-2 text-right">
                    <div class="icon-box icon-box-right" style="float:right" data-anima="scale-up" data-trigger="hover">
                        <label class="text-s"><a href="#">NEXT</a></label><i class="fa fa-arrow-right text-m"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/portfolio-single-4.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:11:13 GMT -->



