
@{
    ViewBag.Title = "SinglePortOne";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

    <meta name="description" content="Constrution and business template, HTML5.">

<body>
    
    <div class="header-title white ken-burn" data-parallax="scroll" data-position="top" data-natural-height="950" data-natural-width="1920" data-image-src="~/Areas/Root/images/bg-img-11.jpg">
        <div class="container">
            <div class="title-base">
                <hr class="anima" />
                <h1>Portfolio single one</h1>
                <p>Success is no accident. It is hard work, perseverance, studying, sacrifice and most of all, love of what you are doing or learning to do.</p>
            </div>
        </div>
    </div>

    <div class="section-empty section-item">
        <div class="container content">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="grid-list gallery">
                        <div class="grid-box row" data-lightbox-anima="fade-top">
                            <div class="grid-item col-md-6">
                                <a class="img-box i-center" href="~/Areas/Root/images/gallery/image-1.jpg" data-anima="fade-top" data-trigger="hover" data-anima-out="hide">
                                    <i class="fa fa-camera anima"></i>
                                    <img src="~/Areas/Root/images/gallery/image-1.jpg" alt="" />
                                </a>
                            </div>
                            <div class="grid-item col-md-6">
                                <a class="img-box i-center" href="~/Areas/Root/images/gallery/image-2.jpg" data-anima="fade-top" data-trigger="hover" data-anima-out="hide">
                                    <i class="fa fa-camera anima"></i>
                                    <img src="~/Areas/Root/images/gallery/image-2.jpg" alt="" />
                                </a>
                            </div>
                            <div class="grid-item col-md-6">
                                <a class="img-box i-center" href="~/Areas/Root/images/gallery/image-3.jpg" data-anima="fade-top" data-trigger="hover" data-anima-out="hide">
                                    <i class="fa fa-camera anima"></i>
                                    <img src="~/Areas/Root/images/gallery/image-3.jpg" alt="" />
                                </a>
                            </div>
                            <div class="grid-item col-md-6">
                                <a class="img-box i-center" href="~/Areas/Root/images/gallery/image-4.jpg" data-anima="fade-top" data-trigger="hover" data-anima-out="hide">
                                    <i class="fa fa-camera anima"></i>
                                    <img src="~/Areas/Root/images/gallery/image-4.jpg" alt="" />
                                </a>
                            </div>
                            <div class="grid-item col-md-6">
                                <a class="img-box i-center" href="~/Areas/Root/images/gallery/image-5.jpg" data-anima="fade-top" data-trigger="hover" data-anima-out="hide">
                                    <i class="fa fa-camera anima"></i>
                                    <img src="~/Areas/Root/images/gallery/image-5.jpg" alt="" />
                                </a>
                            </div>
                            <div class="grid-item col-md-6">
                                <a class="img-box i-center" href="~/Areas/Root/images/gallery/image-6.jpg" data-anima="fade-top" data-trigger="hover" data-anima-out="hide">
                                    <i class="fa fa-camera anima"></i>
                                    <img src="~/Areas/Root/images/gallery/image-6.jpg" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <p>
                        Tincidunt integer
                        euaugue augue nunc elit dolor luctus placerat scelerisque euismod lorem. Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elite sit amet justo nunc tempore.
                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                    </p>
                    <hr class="space m" />
                    <ul class="fa-ul text-color-2">
                        <li><i class="fa-li fa fa-user"></i>Adidas</li>
                        <li><i class="fa-li fa fa-folder-open-o"></i>Interior renovation</li>
                        <li><i class="fa-li fa fa-calendar"></i>20 / 12 / 2018</li>
                        <li><i class="fa-li fa fa-copyright"></i>Company Name</li>
                    </ul>
                    <hr class="space m" />
                    <div class="btn-group social-group btn-group-icons ">
                        <a target="_blank" href="#" data-social="share-facebook">
                            <i class="fa fa-facebook text-s circle"></i>
                        </a>
                        <a target="_blank" href="#" data-social="share-twitter">
                            <i class="fa fa-twitter text-s circle"></i>
                        </a>
                        <a target="_blank" href="#" data-social="share-google">
                            <i class="fa fa-google-plus text-s circle"></i>
                        </a>
                        <a target="_blank" href="#" data-social="share-linkedin">
                            <i class="fa fa-linkedin text-s circle"></i>
                        </a>
                    </div>
                    <hr class="space m" />
                    <a href="#" class="circle-button btn btn-sm">Visit website</a>
                </div>
            </div>
            <hr class="space" />
            <div class="row porfolio-bar">
                <div class="col-md-2">
                    <div class="icon-box" data-anima="scale-up" data-trigger="hover">
                        <i class="fa fa-arrow-left text-m"></i><label class="text-s"><a href="#">Previous</a></label>
                    </div>
                </div>
                <div class="col-md-8 text-center">
                    <a href="#" data-anima="scale-up" data-trigger="hover"><i class="fa fa-th anima"></i></a>
                </div>
                <div class="col-md-2 text-right">
                    <div class="icon-box icon-box-right pull-right" data-anima="scale-up" data-trigger="hover">
                        <label class="text-s"><a href="#">Next</a></label><i class="fa fa-arrow-right text-m"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/portfolio-single-1.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:11:13 GMT -->



