
@{
    ViewBag.Title = "Social";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

    <meta name="description" content="Blog list with pagination in JQuery.">
  
<body>
   
    <div class="header-title" style="background-image: url('~/Areas/Root/images/bg-img-1.png');">
        <div class="container">
            <div class="title-base">
                <hr class="anima" />
                <h1>Social blog</h1>
                <p>We must let go of the life we have planned, so as to accept the one that is waiting for us.</p>
            </div>
        </div>
    </div>

    <div class="section-empty">
        <div class="container content">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="grid-list one-row-list">
                        <div class="grid-box">
                            <div class="grid-item">
                                <div class="advs-box advs-box-top-icon-img niche-box-post" data-anima="scale-rotate" data-trigger="hover">
                                    <div class="block-infos">
                                        <div class="block-data">
                                            <p class="bd-day">15</p>
                                            <p class="bd-month">July 2018</p>
                                        </div>
                                        <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                    </div>
                                    <a class="img-box"><img class="anima" src="~/Areas/Root/images/gallery/image-8.jpg" alt="" /></a>
                                    <div class="advs-box-content">
                                        <h2><a href="#">Coinbase says it will support Bitcoin Cash after all — but it isn’t committed to trading yet</a></h2>
                                        <div class="tag-row">
                                            <span><i class="fa fa-bookmark"></i> <a href="#">Business</a>, <a href="#">Financial</a></span>
                                            <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                                        </div>
                                        <p class="niche-box-content">
                                            Etcupiditate quisquam quos elit quaerat natoque tenetur porta elementum ut architecto nihil perspiciatis abitasse.
                                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismodatoque tenetur porta elementum ut architiaculis eu lacus nunc mi elito
                                            vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus velo.
                                        </p>
                                    </div>
                                </div>
                                <hr class="space m" />
                            </div>
                            <div class="grid-item">
                                <div class="advs-box advs-box-top-icon-img niche-box-post" data-anima="scale-rotate" data-trigger="hover">
                                    <div class="block-infos">
                                        <div class="block-data">
                                            <p class="bd-day">27</p>
                                            <p class="bd-month">July 2018</p>
                                        </div>
                                        <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                    </div>
                                    <a class="img-box"><img class="anima" src="~/Areas/Root/images/gallery/image-3.jpg" alt="" /></a>
                                    <div class="advs-box-content">
                                        <h2><a href="#">Mamoon Hamid is heading from Social Capital to Kleiner Perkins</a></h2>
                                        <div class="tag-row">
                                            <span><i class="fa fa-bookmark"></i> <a href="#">Business</a>, <a href="#">Financial</a></span>
                                            <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                                        </div>
                                        <p class="niche-box-content">
                                            Etcupiditate quisquam quos elit quaerat natoque tenetur porta elementum ut architecto nihil perspiciatis abitasse.
                                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismodatoque tenetur porta elementum ut architiaculis eu lacus nunc mi elito
                                            vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus velo.
                                        </p>
                                    </div>
                                </div>
                                <hr class="space m" />
                            </div>
                            <div class="grid-item">
                                <div class="advs-box advs-box-top-icon-img niche-box-post" data-anima="scale-rotate" data-trigger="hover">
                                    <div class="block-infos">
                                        <div class="block-data">
                                            <p class="bd-day">28</p>
                                            <p class="bd-month">July 2018</p>
                                        </div>
                                        <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                    </div>
                                    <a class="img-box"><img class="anima" src="~/Areas/Root/images/gallery/image-9.jpg" alt="" /></a>
                                    <div class="advs-box-content">
                                        <h2><a href="#">Etesy lives to fight another day as new leadership shaves costs and delivers an earnings beat</a></h2>
                                        <div class="tag-row">
                                            <span><i class="fa fa-bookmark"></i> <a href="#">Business</a>, <a href="#">Financial</a></span>
                                            <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                                        </div>
                                        <p class="niche-box-content">
                                            Etcupiditate quisquam quos elit quaerat natoque tenetur porta elementum ut architecto nihil perspiciatis abitasse.
                                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismodatoque tenetur porta elementum ut architiaculis eu lacus nunc mi elito
                                            vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus velo.
                                        </p>
                                    </div>
                                </div>
                                <hr class="space m" />
                            </div>
                            <div class="grid-item">
                                <div class="advs-box advs-box-top-icon-img niche-box-post" data-anima="scale-rotate" data-trigger="hover">
                                    <div class="block-infos">
                                        <div class="block-data">
                                            <p class="bd-day">30</p>
                                            <p class="bd-month">July 2018</p>
                                        </div>
                                        <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                    </div>
                                    <a class="img-box"><img class="anima" src="~/Areas/Root/images/gallery/image-6.jpg" alt="" /></a>
                                    <div class="advs-box-content">
                                        <h2><a href="#">Yelp is selling material to space due the stock is skyrocketing at a fast speed</a></h2>
                                        <div class="tag-row">
                                            <span><i class="fa fa-bookmark"></i> <a href="#">Business</a>, <a href="#">Financial</a></span>
                                            <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                                        </div>
                                        <p class="niche-box-content">
                                            Etcupiditate quisquam quos elit quaerat natoque tenetur porta elementum ut architecto nihil perspiciatis abitasse.
                                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismodatoque tenetur porta elementum ut architiaculis eu lacus nunc mi elito
                                            vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus velo.
                                        </p>
                                    </div>
                                </div>
                                <hr class="space m" />
                            </div>
                            <div class="grid-item">
                                <div class="advs-box advs-box-top-icon-img niche-box-post" data-anima="scale-rotate" data-trigger="hover">
                                    <div class="block-infos">
                                        <div class="block-data">
                                            <p class="bd-day">02</p>
                                            <p class="bd-month">August 2018</p>
                                        </div>
                                        <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                    </div>
                                    <a class="img-box"><img class="anima" src="~/Areas/Root/images/gallery/image-4.jpg" alt="" /></a>
                                    <div class="advs-box-content">
                                        <h2><a href="#">Federal fills vacant seats as Jessica Rosenworcel and Brendan Carr are confirmed by Senate</a></h2>
                                        <div class="tag-row">
                                            <span><i class="fa fa-bookmark"></i> <a href="#">Business</a>, <a href="#">Financial</a></span>
                                            <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                                        </div>
                                        <p class="niche-box-content">
                                            Etcupiditate quisquam quos elit quaerat natoque tenetur porta elementum ut architecto nihil perspiciatis abitasse.
                                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismodatoque tenetur porta elementum ut architiaculis eu lacus nunc mi elito
                                            vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus velo.
                                        </p>
                                    </div>
                                </div>
                                <hr class="space m" />
                            </div>
                        </div>
                        <div class="list-nav text-left">
                            <ul class="pagination-lg pagination-grid hide-first-last" data-page-items="3" data-pagination-anima="show-scale" data-options="scrollTop:true"></ul>
                        </div>
                    </div>
                    <hr class="space visible-sm" />
                </div>
                <div class="col-md-4 col-sm-12 boxed-inverse shadow-1">
                    <h4>Twitter feeds</h4>
                    <p class="no-margins text-color">Latest news from our best and most followed social network.</p>
                    <hr class="space m" />
                    <div class="social-feed-tw" data-social-id="slack" data-options="minWidth:250,show_media:false,limit:13"></div>
                    <hr class="space m" />
                    <a href="#" class="circle-button btn btn-sm"><i class="fa fa-twitter"></i>Twitter official</a>
                </div>
            </div>
        </div>
    </div>
   
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/blog-social.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:11:14 GMT -->


