
@{
    ViewBag.Title = "ImageParallex";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

    <meta name="description" content="Background image parallax title for build modern and awesome HTML pages.">

<body>
 
    <div class="header-title" data-parallax="scroll" data-position="top" data-natural-height="950" data-natural-width="1920" data-image-src="~/Areas/Root/images/bg-img-10.png">
        <div class="container">
            <div class="title-base">
                <hr class="anima" />
                <h1>Title image fullscreen</h1>
                <p>Things don't have to change the world to be important</p>
            </div>
        </div>
    </div>

    <div class="section-empty section-item">
        <div class="container content">
            <div class="row proporzional-row">
                <div class="col-md-6">
                    <p>
                        Proin augue neque, vestibulum vitae urna quis, ornare lobortis sem. Maecenas sit amet gravida neque, in mollis nulla. Aenean vel nulla at
                        enim maximus varius vitae in tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    </p>
                    <p class="block-quote quote-1">
                        It is better to lead from behind and to put others in front,
                        especially when you celebrate victory when nice things occur.
                    </p>
                    <p>
                        Vulputate nobis impedit aute unde exercitation quod quidem! Hymenaeos placerat, temporibus quas incidunt, dicta proin ea quas morbi. Cursus eos, quidem. Soluta?
                        Iste repellendus. Tenetur, natoque saepe facere odio sed. Fuga provident, exercitation dolorum minus tempor.
                    </p>
                </div>
                <div class="col-md-3 boxed-inverse middle-content text-center">
                    <h4 class="text-m">FOR CREATE AWESOME WEBSITES</h4>
                </div>
                <div class="col-md-3 middle-content boxed white text-center">
                    <h4 class="text-m">MAGNIFIC AND UNIQUE DESIGN</h4>
                </div>
            </div>
        </div>
    </div>
    
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/features/titles/image-parallax.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:12:23 GMT -->



