<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<!-- Mirrored from templates.framework-y.com/signflow/pages/features/menus/side.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:12:22 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Menu side | Components | Signflow</title>
    <meta name="description" content="Side lateral menu with scroll box and drodowns.">
    <script src="~/Areas/Root/HTWF/scripts/jquery.min.js"></script>
    <link rel="stylesheet" href="~/Areas/Root/HTWF/scripts/bootstrap/css/bootstrap.css">
    <script src="~/Areas/Root/HTWF/scripts/script.js"></script>
    <link rel="stylesheet" href="~/Areas/Root/HTWF/style.css">
    <link rel="stylesheet" href="~/Areas/Root/HTWF/scripts/flexslider/flexslider.css">
    <link rel="stylesheet" href="~/Areas/Root/HTWF/css/content-box.css">
    <link rel="stylesheet" href="~/Areas/Root/HTWF/css/components.css">
    <link rel="stylesheet" href="~/Areas/Root/HTWF/css/animations.css">
    <link rel="stylesheet" href="~/Areas/Root/skin.css">
    <link rel="icon" href="~/Areas/Root/images/favicon.png">
</head>
<body class="side-menu-container">
    <div id="preloader"></div>
    <header class="side-menu-header" data-menu-anima="default">
        <div class="navbar-header">
            <a class="hamburger-button" data-menu-anima="fade-left">
                <i class="fa fa-bars"></i>
            </a>
            <a class="navbar-brand" href="/Account/Index"><img src="~/Areas/Root/images/logo.png" alt="logo" /> </a>
        </div>
        <div class="side-menu-fixed">
            <div class="top-area">
                <a class="brand" href="/Account/Index">
                    <img src="~/Areas/Root/images/logo-mini.png" alt="logo">
                </a>
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">GO</button>
                        </span>
                    </div>
                </form>
            </div>
            <aside class="sidebar mi-menu">
                <nav class="sidebar-nav scroll-content">
                    <ul class="side-menu">
                        <li>
                            <a href="#">Home<span class="fa arrow"></span></a>
                            <ul class="collapse">
                                <li><a href="/Account/IndexMain">Main</a></li>
                                <li><a href="/Account/IndexFreelancer">Freelancer</a></li>
                                <li><a href="/Account/IndexBusiness">Business</a></li>
                                <li><a href="/Account/IndexVideo">Video</a></li>
                                <li><a href="/Account/IndexCooworking">Cooworking</a></li>
                                <li><a href="/Account/IndexFullpage">Fullpage</a></li>
                                <li><a href="/Account/IndexMobile">Mobile</a></li>
                                <li><a href="/Account/IndexApplication">Application</a></li>
                                <li><a href="/Account/IndexIntro">Intro</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Pages <span class="fa arrow"></span></a>
                            <ul class="collapse">
                                <li><a href="/Account/AboutUsOne">About us one</a></li>
                                <li><a href="/Account/AboutUsTwo">About us two</a></li>
                                <li><a href="/Account/AboutUsThree">About us three</a></li>
                                <li><a href="/Account/AboutUsFour">About us four</a></li>
                                <li><a href="/Account/ServiceOne">Services one</a></li>
                                <li><a href="/Account/ServiceTwo">Services two</a></li>
                                <li><a href="/Account/ServiceThree">Services three</a></li>
                                <li><a href="/Account/ServiceFour">Services four</a></li>
                                <li><a href="/Account/ContactOne">Contacts one</a></li>
                                <li><a href="/Account/ContactTwo">Contacts two</a></li>
                                <li><a href="/Account/ContactThree">Contacts three</a></li>
                                <li><a href="/Account/ContactFour">Contacts four</a></li>
                                <li><a href="/Account/Pricing">Pricing</a></li>
                                <li><a href="/Account/Faq">Faq</a></li>
                                <li><a href="/Account/Team">Team</a></li>
                                <li><a href="/Account/TeamTwo">Team two</a></li>
                                <li><a href="/Account/Videos">Photo & video</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Portfolio <span class="fa arrow"></span></a>
                            <ul class="collapse">
                                <li><a href="/Port/PortOneGutted">Gutted boxed</a></li>
                                <li><a href="/Port/PortOneGuttedInverse">Gutted boxed inverse</a></li>
                                <li><a href="/Port/PortTwoGutted">Gutted boxed</a></li>
                                <li><a href="/Port/PortTwoGuttedInverse">Gutted boxed inverse</a></li>
                                <li><a href="/Port/PortThree">Portfolio three</a></li>
                                <li><a href="/Port/PortFour">Portfolio four</a></li>
                                <li><a href="/Port/PortFive">Portfolio five</a></li>
                                <li><a href="/Port/SinglePortOne">Portfolio single 1</a></li>
                                <li><a href="/Port/SinglePortTwo">Portfolio single 2</a></li>
                                <li><a href="/Port/SinglePortThree">Portfolio single 3</a></li>
                                <li><a href="/Port/SinglePortFour">Portfolio single 4</a></li>
                                <li><a href="/Port/SinglePortFive">Portfolio single 5</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Blog <span class="fa arrow"></span></a>
                            <ul class="collapse">
                                <li><a href="/Port/Grid">Grid</a></li>
                                <li><a href="/Port/Social">Social</a></li>
                                <li><a href="/Port/Minimal">Minimal</a></li>
                                <li><a href="/Port/SinglePostOne">Post single 1</a></li>
                                <li><a href="/Port/SinglePostTwo">Post single 2</a></li>
                                <li><a href="/Port/SinglePostThree">Post single 3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Elements <span class="fa arrow"></span></a>
                            <ul class="collapse">
                                <li> <a href="/Component/Icons">Icons</a></li>
                                <li><a href="/Component/Counters">Counters</a></li>
                                <li> <a href="/Component/Countdown">Countdowns</a></li>
                                <li> <a href="/Component/ProgressBars">Progress bars</a></li>
                                <li> <a href="/Component/CircleProgress">Circle progress bars</a></li>
                                <li> <a href="/Component/Timeline">Timeline</a></li>
                                <li> <a href="/Component/GoogleMaps">Google maps</a></li>
                                <li> <a href="/Component/AdvancedTable">Advanced table</a></li>
                                <li> <a href="/Component/ContactForm">Contact form</a></li>
                                <li> <a href="/Component/Button">Buttons</a></li>
                                <li> <a href="/Component/ImageBoxes">Image boxes</a></li>
                                <li> <a href="/Component/AdvImageBox">Advanced image boxes</a></li>
                                <li> <a href="/Component/ContentBox">Content boxes</a></li>
                                <li> <a href="/Component/SocialMedia">Social media</a></li>
                                <li> <a href="/Component/Lists">Lists</a></li>
                                <li> <a href="/Component/Typography">Typography</a></li>
                                <li> <a href="/Component/Grid">Grid</a></li>
                                <li><a href="/Component/Masonry">Masonry</a></li>
                                <li><a href="/Component/LightBox">Lightbox and popups</a></li>
                                <li> <a href="/Component/SlidersAndCarousels">Sliders and carousels</a></li>
                                <li> <a href="/Component/ScrollBox">Scroll box</a></li>
                                <li> <a href="/Component/CollapseBox">Collapse box</a></li>
                                <li> <a href="/Component/Tabs">Tabs</a></li>
                                <li> <a href="/Component/According">Accordions</a></li>
                                <li> <a href="/Component/FotterParallex">Footer parallax</a></li>
                                <li> <a href="/Component/FooterMinimul">Footer minimal</a></li>
                                <li> <a href="/Component/FooterBase">Footer base</a></li>
                                <li> <a href="/Component/BackgroundImage">Background image</a></li>
                                <li> <a href="/Component/BackgroundParallex">Background parallax</a></li>
                                <li> <a href="/Component/Slider">Slider</a></li>
                                <li> <a href="/Component/BackgroundVideo">Background video</a></li>
                                <li> <a href="/Component/BgAnimations">Bg animations</a></li>
                                <li> <a href="/Component/BgAnimationsParallex">Bg animations parallax</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </aside>
            <div class="bottom-area">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    <img src="~/Areas/Root/images/en.png" alt="lan" />
                </a>
                <span class="space"></span>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    <img src="~/Areas/Root/images/it.png" alt="lan" />
                </a>
                <hr class="space xs" />
                <div class="social-group">
                    <a target="_blank" href="www.facebook.com"><i class="fa fa-facebook"></i></a>
                    <a target="_blank" href="www.twitter.com"><i class="fa fa-twitter"></i></a>
                    <a target="_blank" href="www.instagram.com"><i class="fa fa-instagram"></i></a>
                    <a target="_blank" href="www.youtube.com"><i class="fa fa-youtube"></i></a>
                </div>
                <p>© Copyright 2018.</p>
            </div>
        </div>
    </header>
    <div class="header-base">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="title-base text-left">
                        <h1>Menu side</h1>
                        <p>This template come with lot of innovative features and an awesome and extensive documentation.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <ol class="breadcrumb b white">
                        <li><a href="#">Home</a></li>
                        <li class="active">Features</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="section-empty section-item">
        <div class="container content">
            <div class="row proporzional-row">
                <div class="col-md-6">
                    <p>
                        Proin augue neque, vestibulum vitae urna quis, ornare lobortis sem. Maecenas sit amet gravida neque, in mollis nulla. Aenean vel nulla at
                        enim maximus varius vitae in tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    </p>
                    <p class="block-quote quote-1">
                        It is better to lead from behind and to put others in front,
                        especially when you celebrate victory when nice things occur.
                    </p>
                    <p>
                        Vulputate nobis impedit aute unde exercitation quod quidem! Hymenaeos placerat, temporibus quas incidunt, dicta proin ea quas morbi. Cursus eos, quidem. Soluta?
                        Iste repellendus. Tenetur, natoque saepe facere odio sed. Fuga provident, exercitation dolorum minus tempor.
                    </p>
                </div>
                <div class="col-md-3 boxed-inverse middle-content text-center">
                    <h4 class="text-m">FOR CREATE AWESOME WEBSITES</h4>
                </div>
                <div class="col-md-3 middle-content boxed white text-center">
                    <h4 class="text-m">MAGNIFIC AND UNIQUE DESIGN</h4>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-base">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 footer-center text-left">
                        <img width="120" src="~/Areas/Root/images/logo.png" alt="" />
                    </div>
                    <div class="col-md-6 footer-left text-left">
                        <p>Collins Street West 8007, San Fransico, United States.</p>
                        <div class="tag-row">
                            <span>support@company.com</span>
                            <span>+02 3205550678</span>
                        </div>
                    </div>
                    <div class="col-md-3 footer-left text-right text-left-sm">
                        <div class="btn-group social-group btn-group-icons">
                            <a target="_blank" href="#" data-social="share-facebook">
                                <i class="fa fa-facebook text-xs circle"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-twitter">
                                <i class="fa fa-twitter text-xs circle"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-google">
                                <i class="fa fa-google-plus text-xs circle"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-linkedin">
                                <i class="fa fa-linkedin text-xs circle"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row copy-row">
                <div class="col-md-12 copy-text">
                    © 2018 Signflow - Multipurpose & Tech Business Template <span>Handmade by <a href="http://schiocco.io/">schiocco.io</a></span>
                </div>
            </div>
        </div>
        <link rel="stylesheet" href="~/Areas/Root/HTWF/scripts/font-awesome/css/font-awesome.min.css">
        <script src="~/Areas/Root/HTWF/scripts/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/Areas/Root/HTWF/scripts/flexslider/jquery.flexslider-min.js"></script>
        <script src="~/Areas/Root/HTWF/scripts/jquery.slimscroll.min.js"></script>
        <script src="~/Areas/Root/HTWF/scripts/jquery.tab-accordion.js"></script>
        <script src="~/Areas/Root/HTWF/scripts/parallax.min.js"></script>
        <script src="~/Areas/Root/HTWF/scripts/metis.menu.min.js"></script>
    </footer>
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/features/menus/side.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:12:23 GMT -->
</html>


