
@{
    ViewBag.Title = "AboutUsOne";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

  
<body>
   
    <div class="section-empty">
        <div class="container content">
            <div class="row vertical-row">
                <div class="col-md-7 col-sm-6">
                    <div class="title-base text-left">
                        <hr />
                        <h2>About us one</h2>
                        <p>The only thing standing between you and your goal is the bullshit story you keep telling yourself as to why you can't achieve it.</p>
                    </div>
                </div>
                <div class="col-md-5 col-sm-6">
                    <img src="~/Areas/Root/images/bg-img-4.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty">
        <div class="container content">
            <div class="row">
                <div class="col-md-3 col-sm-6 boxed-inverse shadow-1">
                    <h4 class="text-m">Stocks markets</h4>
                    <div class="counter-box-simple text-color text-bold"><span class="counter text-l" data-to="7000">7000</span><span class="text-s"> %</span></div>
                    <hr class="space xs" />
                    <p>Stocks from middle 2010.</p>
                </div>
                <div class="col-md-3 col-sm-6 boxed-inverse shadow-1">
                    <h4 class="text-m">Growing scale</h4>
                    <div class="counter-box-simple text-color text-bold"><span class="counter text-l" data-to="300">300</span><span class="text-s"> %</span></div>
                    <hr class="space xs" />
                    <p>Growing of our daily business.</p>
                </div>
                <div class="col-md-3 col-sm-6 boxed-inverse shadow-1">
                    <h4 class="text-m">Employees</h4>
                    <div class="counter-box-simple text-color text-bold"><span class="counter text-l" data-to="900">900</span><span class="text-s"></span></div>
                    <hr class="space xs" />
                    <p>Bumber of employees.</p>
                </div>
                <div class="col-md-3 col-sm-6 boxed-inverse shadow-1">
                    <h4 class="text-m">Projects</h4>
                    <div class="counter-box-simple text-color text-bold"><span class="counter text-l" data-to="2500">2500</span><span class="text-s"></span></div>
                    <hr class="space xs" />
                    <p>Number of projects.</p>
                </div>
            </div>
            <hr class="space" />
            <div class="row vertical-row">
                <div class="col-md-3">
                    <div class="progress-circle" data-color="#5584ff" data-progress="60" data-thickness="5" data-options="lineCap:square">
                        <div class="inner-circle">
                            <div class="inner-center">
                                Dloremque laudantium, totam rem aperiam
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="progress-circle" data-color="#5584ff" data-progress="30" data-thickness="5" data-options="lineCap:round">
                        <div class="inner-circle">
                            <div class="inner-center">
                                Dloremque laudantium, totam rem aperiam
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 text-center-sm">
                    <h2>Perfection is utopia</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
            </div>
            <hr class="space m" />
        </div>
    </div>

    <div class="section-bg-image" style="background-image: url(~/Areas/Root/images/bg-23.jpg)">
        <div class="container content">
            <div class="row">
                <div class="col-md-6 col-center text-center boxed-inverse shadow-1">
                    <h4>Join our services</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adip ullamco laboris nisi utla pariature tempore marto.</p>
                    <a href="#" class="circle-button btn btn-sm">Circle button</a>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty">
        <div class="container content">
            <hr class="space m" />
            <div class="row">
                <div class="col-md-6">
                    <h2>A network of people</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <hr class="space m" />
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="fa-ul">
                                <li><i class="fa-li fa fa-check"></i> Utenim ad minim veniam qui</li>
                                <li><i class="fa-li fa fa-check"></i> Duis aute irure dehenderi</li>
                                <li><i class="fa-li fa fa-check"></i> Consectetur adipiscing</li>
                                <li><i class="fa-li fa fa-check"></i> Ceniam quis nostrud exero </li>
                                <li><i class="fa-li fa fa-check"></i> Consectetur adipisco</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="fa-ul">
                                <li><i class="fa-li fa fa-check"></i> Duis aute irure dolore marto</li>
                                <li><i class="fa-li fa fa-check"></i> Aaboris nisi ut aliqui</li>
                                <li><i class="fa-li fa fa-check"></i> Ceniam quis nostrud exero </li>
                                <li><i class="fa-li fa fa-check"></i> Consectetur adipisco</li>
                                <li><i class="fa-li fa fa-check"></i> Utenim ad minim venia</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 boxed-inverse">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Marketing</td>
                                <td>Euismod parturient curabitur, explicabo etiam quae cillum, sunt pariaturo.</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Constructions</td>
                                <td>Officiis fermentum aut potenti eo nascetur incididunt labore ipsa quoss donec vivamus dictumst qui qui cras ligula.</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Renovation</td>
                                <td>Tenetur scelerisque omnis! Elementum! Laboriosam omnis lorem</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Outdoors</td>
                                <td>Aascetur incididunt labore ipsa quoss donec vivamu scelerisque omnis! Elementum! Laboriosam omnis lorem</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/about-us-1.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:09:55 GMT -->



