
@{
    ViewBag.Title = "AboutUsTwo";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}


    <body>

        <div class="header-title" style="background-image: url('~/Areas/Root/images/bg-img-1.png'); ">
            <div class="container">
                <div class="title-base">
                    <hr class="anima" />
                    <h1>About us two</h1>
                    <p>We must let go of the life we have planned, so as to accept the one that is waiting for us.</p>
                </div>
            </div>
        </div>

        <div class="section-empty">
            <div class="container content">
                <div class="row vertical-row">
                    <div class="col-md-8 col-sm-12">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in voluptate velit esse cillum dolore.  Hisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                    <div class="col-md-4 boxed-inverse shadow-1 col-sm-12">
                        <div class="counter-box-simple text-color"><span class="counter text-l" data-speed="5000" data-to="150000" data-refresh-interval="100">00000</span> <span>OPERATIONS</span></div>
                        <hr class="space s" />
                        <div class="counter-box-simple text-color"><span class="counter text-l" data-speed="5000" data-to="100000" data-refresh-interval="100">00000</span> <span>MEMEBERS</span></div>
                    </div>
                </div>
                <hr class="space" />
                <div class="row vertical-row">
                    <div class="col-md-6 boxed-inverse shadow-1 col-sm-12">
                        <div class="list-items">
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Superior technologies</h3>
                                        <p>construction industry has contracted for the first time since the immediate aftermath.</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Advanced solutions</h3>
                                        <p>The hat places the industry below the 50-point mark separating growth from contraction.</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <h1 class="text-xl text-color">Travel without speed and cost limits around the world free</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrud exercitation ullamco laboris .
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-bg-image bg-top" style="background-image: url('~/Areas/Root/images/bg-20.png');">
            <div class="container content">
                <div class="tab-box left" data-tab-anima="fade-in">
                    <ul class="nav nav-tabs col-md-3">
                        <li class="active">
                            <a href="#">
                                Home
                                <span>
                                    Hisi ut aliquip ex ea commodo consequat loremaute irure dolor in reprehenderit
                                    in voluptate marto.
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Profile
                                <span>
                                    Hisi ut aliquip ex ea commodo consequat loremaute irure dolor in reprehenderit
                                    in voluptate marto.
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Messages
                                <span>
                                    Hisi ut aliquip ex ea commodo consequat loremaute irure dolor in reprehenderit
                                    in voluptate marto.
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div class="panel-box col-md-9">
                        <div class="panel active">
                            <img src="~/Areas/Root/images/mk-12.png" alt="" />
                        </div>
                        <div class="panel">
                            <img src="~/Areas/Root/images/mk-12.png" alt="" />
                        </div>
                        <div class="panel">
                            <img src="~/Areas/Root/images/mk-12.png" alt="" />
                        </div>
                    </div>
                </div>
                <hr class="space" />
                <hr class="space" />
                <div class="row">
                    <div class="col-md-3  boxed-inverse shadow-1">
                        <div class="icon-box icon-box-top-bottom">
                            <div class="icon-box-cell">
                                <i class="fa-heart fa text-xl"></i>
                            </div>
                            <div class="icon-box-cell">
                                <label class="text-m">Big passion</label>
                                <p class="text-s">Lorem ipsum dolore martellato</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3  boxed-inverse shadow-1">
                        <div class="icon-box icon-box-top-bottom">
                            <div class="icon-box-cell">
                                <i class="fa-gears fa text-xl"></i>
                            </div>
                            <div class="icon-box-cell">
                                <label class="text-m">Mobile apps</label>
                                <p class="text-s">Lorem ipsum scatenate l'inferno</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3  boxed-inverse shadow-1">
                        <div class="icon-box icon-box-top-bottom">
                            <div class="icon-box-cell">
                                <i class="fa-users fa text-xl"></i>
                            </div>
                            <div class="icon-box-cell">
                                <label class="text-m">Top team</label>
                                <p class="text-s">Lorem  morte e sangue ma dolore</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3  boxed-inverse shadow-1">
                        <div class="icon-box icon-box-top-bottom">
                            <div class="icon-box-cell">
                                <i class="fa-calendar fa text-xl"></i>
                            </div>
                            <div class="icon-box-cell">
                                <label class="text-m">Big experience</label>
                                <p class="text-s">Lorem ipsum dolore martellato</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/about-us-2.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:10:07 GMT -->



