
@{
    ViewBag.Title = "AboutUsThree";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}


<body>
   
    <div class="header-video white">
        <div class="videobox">
            <video autoplay loop muted poster="~/Areas/Root/images/video-poster.jpg">
                <source src="http://templates.framework-y.com/signflow/images/video.mp4" type="video/mp4">
            </video>
        </div>
        <div class="overlaybox">
            <div class="container">
                <div class="title-base">
                    <hr class="anima" />
                    <h1>About us three</h1>
                    <p>We must let go of the life we have planned, so as to accept the one that is waiting for us.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty" style="background-image: url('~/Areas/Root/images/bg-22.png');">
        <div class="container content">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>

                </div>
                <div class="col-md-4 col-sm-6">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
                <div class="col-md-4 col-sm-6">
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check"></i> Duis aute irure dolor in reprehenderit</li>
                        <li><i class="fa-li fa fa-check"></i> Aaboris nisi ut aliqui</li>
                        <li><i class="fa-li fa fa-check"></i> Consectetur adipiscing elitsed</li>
                        <li><i class="fa-li fa fa-check"></i> Utenim ad minim veniam qui</li>
                        <li><i class="fa-li fa fa-check"></i> Duis aute irure dolore in reprehenderi</li>
                        <li><i class="fa-li fa fa-check"></i> Consectetur adipiscing elitsed</li>
                        <li><i class="fa-li fa fa-check"></i> Ceniam quis nostrud exercitation </li>
                    </ul>
                </div>
            </div>
            <hr class="space" />
            <div class="row">
                <div class="col-md-8">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge"></div>
                            <div class="timeline-label"><h4>2018</h4><p>25 febbruary 2018</p></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Company public listing worldwide</h4>
                                    <p><small class="text-muted"><i class="fa fa-bank"></i> Nasdaq and London index</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>
                                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mio.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge"></div>
                            <div class="timeline-label"><h4>2016</h4><p>10 March 2016</p></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Asia and china markets expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>
                                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismodo.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge"></div>
                            <div class="timeline-label"><h4>2012</h4><p>14 January 2012</p></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Netflex company acquisition </h4>
                                    <p><small class="text-muted"><i class="fa fa-free-code-camp"></i> Capital increasing</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>
                                        Tincidunt integer eu augue augue nunc elit dolor, luctus placera augueto.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2>Company road map with our history</h2>
                    <hr class="space" />
                    <a class="img-box lightbox" href="~/Areas/Root/images/gallery/image-3.jpg" data-lightbox-anima="fade-top">
                        <img src="~/Areas/Root/images/gallery/image-3.jpg" alt="">
                    </a>
                    <hr class="space m" />
                    <a class="img-box lightbox" href="~/Areas/Root/images/gallery/image-10.jpg" data-lightbox-anima="fade-top">
                        <img src="~/Areas/Root/images/gallery/image-10.jpg" alt="">
                    </a>
                    <hr class="space" />
                    <h4>A good team</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempo..</p>
                    <a href="#" class="btn-text">View team</a>
                    <hr class="space m" />
                    <h4>Contact us</h4>
                    <p>Lorem ipsum dolor sit amet consecteaugue nunc elit dolor, piscing elitse.</p>
                    <a href="#" class="btn-text">Contacts page</a>
                </div>
            </div>
        </div>
    </div>
    
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/about-us-3.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:10:08 GMT -->



