
@{
    ViewBag.Title = "AboutUsFour";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

  

<body>
   
    <div class="header-title" style="background-image: url('~/Areas/Root/images/bg-gradient-4.png');">
        <div class="container">
            <div class="title-base">
                <hr class="anima" />
                <h1>About us four</h1>
                <p>We must let go of the life we have planned, so as to accept the one that is waiting for us.</p>
            </div>
        </div>
    </div>

    <div class="section-bg-image bg-top">
        <div class="container content">
            <div class="row">
                <div class="col-md-4 boxed-inverse shadow-1">
                    <div class="advs-box advs-box-side-icon no-icon">
                        <div class="caption-box">
                            <h3>Support board</h3>
                            <p>
                                Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                temporibus est odito.
                            </p>
                            <a href="#" class="btn-text">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 boxed-inverse shadow-1">
                    <div class="advs-box advs-box-side-icon no-icon">
                        <div class="caption-box">
                            <h3>Costumers chat</h3>
                            <p>
                                Interdum iusto pulvinar consequuntur augue optio repelln garus expedita fusce
                                temporibus estoso.
                            </p>
                            <a href="#" class="btn-text">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 boxed-inverse shadow-1">
                    <div class="advs-box advs-box-side-icon no-icon">
                        <div class="caption-box">
                            <h3>Premium line</h3>
                            <p>
                                Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                temporibus esmio.
                            </p>
                            <a href="#" class="btn-text">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space" />
            <div class="row vertical-row">
                <div class="col-md-6">
                    <h2>We love dreams</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehende.

                    </p>
                    <hr class="space m" />
                    <a href="#" class="circle-button btn btn-sm">Learn more</a><span class="space"></span><a href="#" class="btn-text">Request quotation</a>
                </div>
                <div class="col-md-6">
                    <img src="~/Areas/Root/images/box-7.png" alt="" />
                </div>
            </div>
            <hr class="space" />
            <div class="row">
                <div class="col-md-8 col-center text-center">
                    <h2>The points of our success</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                        Utenim ad minim veniam quis nostrud exercitation ullamco
                    </p>
                </div>
            </div>
            <hr class="space" />
            <div class="row">
                <div class="col-md-4 boxed-inverse shadow-1">
                    <div class="icon-box counter-box-icon">
                        <div class="icon-box-cell">
                            <i class="fa fa-bomb text-xl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="counter text-l" data-speed="20000" data-to="850000">850.000</label>
                            <p class="text-s">Subscriptions</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 boxed-inverse shadow-1">
                    <div class="icon-box counter-box-icon">
                        <div class="icon-box-cell">
                            <i class="fa fa-users text-xl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="counter text-l" data-speed="20000" data-to="500000">500.000</label>
                            <p class="text-s">Users</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 boxed-inverse shadow-1">
                    <div class="icon-box counter-box-icon">
                        <div class="icon-box-cell">
                            <i class="fa fa-comment text-xl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="counter text-l" data-speed="20000" data-to="600000">600.000</label>
                            <p class="text-s">Conversations</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="section-empty">
        <div class="container content">
            <div class="grid-list">
                <div class="grid-box row">
                    <div class="grid-item col-md-2">
                        <img src="~/Areas/Root/images/logos/white/logo_1.png" alt="" />
                    </div>
                    <div class="grid-item col-md-2">
                        <img src="~/Areas/Root/images/logos/white/logo_2.png" alt="" />
                    </div>
                    <div class="grid-item col-md-2">
                        <img src="~/Areas/Root/images/logos/white/logo_3.png" alt="" />
                    </div>
                    <div class="grid-item col-md-2">
                        <img src="~/Areas/Root/images/logos/white/logo_4.png" alt="" />
                    </div>
                    <div class="grid-item col-md-2">
                        <img src="~/Areas/Root/images/logos/white/logo_5.png" alt="" />
                    </div>
                    <div class="grid-item col-md-2">
                        <img src="~/Areas/Root/images/logos/white/logo_6.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/about-us-4.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:10:08 GMT -->



