
@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

    <meta name="description" content="Signflow and business HTML template.">

<body data-spy="scroll" data-target="#spy" data-offset="350">
    
    <div class="header-title" style="background-image: url('~/Areas/Root/images/bg-gradient-4.png');">
        <div class="container">
            <div class="title-base">
                <hr class="anima" />
                <h1>Faq</h1>
                <p>Frequantly asked questions, loremullamco laboris nisio uto aliquip exea commodo consequat.</p>
            </div>
        </div>
    </div>

    <div class="section-empty section-item">
        <div class="container content">
            <div class="row">
                <div class="col-md-8">
                    <h2>General questions</h2>
                    <hr class="space l" />
                    <div class="list-group accordion-list" data-time="1000" data-type='accordion'>
                        <div class="list-group-item">
                            <a>  Do you provide product support ? </a>
                            <div class="panel">
                                <div class="inner">
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                    quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                    <hr class="space s" />
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                    quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a> Is your product compactible with Linux Servers ?</a>
                            <div class="panel">
                                <div class="inner">
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                    quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a> Is your product compactible with Linux Servers ?</a>
                            <div class="panel">
                                <div class="inner">
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                    quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                    quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a> Which currencies do you accept ?</a>
                            <div class="panel">
                                <div class="inner">
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a>  What is the product Signflow ? </a>
                            <div class="panel">
                                <div class="inner">
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                    quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                    <hr class="space s" />
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                    quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a> Is health insurance included ?</a>
                            <div class="panel">
                                <div class="inner">
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                    quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a> Health insurance include smoking problems?</a>
                            <div class="panel">
                                <div class="inner">
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                    quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                    quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a> Which currencies do you accept ?</a>
                            <div class="panel">
                                <div class="inner">
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a>  Do you provide product support ? </a>
                            <div class="panel">
                                <div class="inner">
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                    quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                    <hr class="space s" />
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                    quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a> Is your product compactible with Linux Servers ?</a>
                            <div class="panel">
                                <div class="inner">
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                    quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a> Is your product compactible with Linux Servers ?</a>
                            <div class="panel">
                                <div class="inner">
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                    quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                    quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a> Which currencies do you accept ?</a>
                            <div class="panel">
                                <div class="inner">
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus.
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="space" />
                    <h2>Technological issues</h2>
                    <hr class="space l" />
                    <div class="list-group accordion-list" data-time="1000" data-type='accordion'>
                        <div class="list-group-item">
                            <a> Which currencies do you accept ?</a>
                            <div class="panel">
                                <div class="inner">
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a>  What is the product Signflow ? </a>
                            <div class="panel">
                                <div class="inner">
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                    quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                    <hr class="space s" />
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                    quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a> Is health insurance included ?</a>
                            <div class="panel">
                                <div class="inner">
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                    quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a> Health insurance include smoking problems?</a>
                            <div class="panel">
                                <div class="inner">
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                    quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                    quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a> Which currencies do you accept ?</a>
                            <div class="panel">
                                <div class="inner">
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a>  Do you provide product support ? </a>
                            <div class="panel">
                                <div class="inner">
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                    quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                    <hr class="space s" />
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                    quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a> Is your product compactible with Linux Servers ?</a>
                            <div class="panel">
                                <div class="inner">
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error
                                    sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaqueipsa
                                    quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="space" />
                    <h2>Software and apps</h2>
                    <hr class="space l" />
                    <div class="list-group accordion-list" data-time="1000" data-type='accordion'>
                        <div class="list-group-item">
                            <a> Which softwares do you use ?</a>
                            <div class="panel">
                                <div class="inner">
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a> Can I use Remmo Tools? </a>
                            <div class="panel">
                                <div class="inner">
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris

                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a> Is safe engine?</a>
                            <div class="panel">
                                <div class="inner">
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a> Health insurance include smoking problems?</a>
                            <div class="panel">
                                <div class="inner">
                                    L'orem ipsum dolor, consectetur adipisicing elit, sed
                                    quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 boxed-inverse bg-color-2">
                    <h4>Request support</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                    </p>
                    <a href="#" class="btn-text">Contact page</a>
                    <hr class="space" />
                    <h4>Some number</h4>
                    <hr class="space xs" />
                    <div class="counter-box-simple"><span class="counter text-m text-color" data-to="230">230</span><span> Daily requests</span></div>
                    <hr class="space xs" />
                    <div class="counter-box-simple"><span class="counter text-m text-color" data-to="1500">1500</span><span> Support agents</span></div>
                    <hr class="space xs" />
                    <div class="counter-box-simple"><span class="counter text-m text-color" data-to="6">6</span><span> Departmetns</span></div>
                    <hr class="space" />
                    <h4>Contact infos</h4>
                    <hr class="space xs" />
                    <ul class="list-texts">
                        <li><b>Headquarter</b>   Millennium Tower</li>
                        <li><b>Location</b>   Mountain View CA 94043, California, United States</li>
                        <li><b>Phone</b> +2 22255566</li>
                        <li><b>Emergency</b> +2 22255568</li>
                        <li><b>Email</b> info@business.com</li>
                        <li><b>Sales email</b> sales@business.com</li>
                        <li><b>Support email</b> support@business.com</li>
                        <li><b>Skype</b> business.company</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
   
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/faq.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:10:22 GMT -->



