
@{
    ViewBag.Title = "IndexMobile";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

<body>
   
    <div class="section-bg-image text-center bg-bottom" style="        background-image: url(~/Areas/Root/images/hd-2.jpg)">
        <div class="container content">
            <hr class="space" />
            <div class="row">
                <div class="col-md-9 col-center">
                    <h1 class="white">Get the best<br />app at the best price</h1>
                    <p class="text-m">I travel not to go anywhere, but to go. I travel for travel's sake. The great affair is to move.</p>
                </div>
            </div>
            <hr class="space" />
            <div data-anima="fade-bottom" data-anima-time="1000"><img src="~/Areas/Root/images/mk-5.png" alt="" /></div>
        </div>
    </div>

    <div class="section-two-blocks bg-white hidden-sm visible-xs">
        <div class="row vertical-row">
            <div class="col-md-6" data-anima="fade-left">
                <a class="img-box"><img src="~/Areas/Root/images/mk-6.png" alt="" /></a>
            </div>
            <div class="col-md-6">
                <div class="content">
                    <h2>Social community for small niches</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Tincidunt int aculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi uto. Lorem ipsum dolor sit amet consectetur adipiscing elitse.
                    </p>
                    <hr class="space xs" />
                    <hr />
                    <hr class="space s" />
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check"></i> Smart reconition and neural technologies</li>
                        <li><i class="fa-li fa fa-check"></i> State of art hardware applied to the user experience</li>
                        <li><i class="fa-li fa fa-check"></i> Great and experienced team from ten countries</li>
                        <li><i class="fa-li fa fa-check"></i> State of art hardware applied to the user experience</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="section-bg-image text-center" style="        background-image: url(~/Areas/Root/images/bg-6.png)">
        <div class="container content">
            <h2>Social community for small niches</h2>
            <hr class="space" />
            <img src="~/Areas/Root/images/mk-7.png" alt="" />
            <div class="row">
                <div class="col-md-4">
                    <h4>Intel processors</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore emagna.</p>
                </div>
                <div class="col-md-4">
                    <h4>Androis system</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore emagna.</p>
                </div>
                <div class="col-md-4">
                    <h4>Ultra definition</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore emagna.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section-bg-image text-center bg-top" style="        background-image: url(~/Areas/Root/images/bg-2.png)">
        <div class="container content">
            <h2>One engine, infinite possibilities</h2>
            <hr class="space" />
            <div class="row">
                <div class="col-md-4">
                    <div class="advs-box advs-box-top-icon boxed-inverse shadow-1" data-anima="scale-up" data-trigger="hover">
                        <i class="fa fa-hand-paper-o icon circle anima"></i>
                        <h3>This is the title</h3>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio fugarus expedita fusce.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="advs-box advs-box-top-icon boxed-inverse shadow-1" data-anima="scale-up" data-trigger="hover">
                        <i class="fa fa-wpexplorer icon circle anima"></i>
                        <h3>This is the title</h3>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio fugarus expedita fusce.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="advs-box advs-box-top-icon boxed-inverse shadow-1" data-anima="scale-up" data-trigger="hover">
                        <i class="fa fa-newspaper-o icon circle anima"></i>
                        <h3>This is the title</h3>
                        <p>
                            Interdum iusto pulvinar consequuntur augue optio fugarus expedita fusce.
                        </p>
                    </div>
                </div>
            </div>
            <hr class="space" />
            <a href="#" class="circle-button btn-border btn btn-lg btn-color shadow-1">Learn more</a>
            <hr class="space" />
            <hr class="space l" />
            <div class="row">
                <div class="col-md-2 hidden-sm">
                    <img class="abs-image" src="~/Areas/Root/images/mk-8.png" alt="" />
                </div>
                <div class="col-md-8 text-center col-sm-12">
                    <hr class="space" />
                    <h2>Trusted by top companies</h2>
                    <hr class="space" />
                    <div class="flexslider slider visible-dir-nav outer-navs" data-options="controlNav:true,directionNav:true">
                        <ul class="slides">
                            <li>
                                <div class="advs-box niche-box-testimonails-cloud">
                                    <p>
                                        Tincidunt integer wivamus suscipit tortor eget felis porttitor volutpat. Curabitur arcu erat, accumsan id imperdiet eteu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                                    </p>
                                    <div class="name-box vertical-row">
                                        <i class="vertical-col fa text-l circle onlycover" style="background-image: url('~/Areas/Root/images/users/user-17.jpg')"></i>
                                        <h5 class="vertical-col subtitle">Leonardo Smith<span class="subtxt">Google</span></h5>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="advs-box niche-box-testimonails-cloud">
                                    <p>
                                        Tincidunt integer wivamus suscipit tortor eget felis porttitor volutpat. Curabitur arcu erat, accumsan id imperdiet eteu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                                    </p>
                                    <div class="name-box vertical-row">
                                        <i class="vertical-col fa text-l circle onlycover" style="background-image: url('~/Areas/Root/images/users/user-17.jpg')"></i>
                                        <h5 class="vertical-col subtitle">Leonardo Smith<span class="subtxt">Google</span></h5>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="advs-box niche-box-testimonails-cloud">
                                    <p>
                                        Tincidunt integer wivamus suscipit tortor eget felis porttitor volutpat. Curabitur arcu erat, accumsan id imperdiet eteu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                                    </p>
                                    <div class="name-box vertical-row">
                                        <i class="vertical-col fa text-l circle onlycover" style="background-image: url('~/Areas/Root/images/users/user-17.jpg')"></i>
                                        <h5 class="vertical-col subtitle">Leonardo Smith<span class="subtxt">Google</span></h5>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 hidden-sm">
                    <img class="abs-image" src="~/Areas/Root/images/mk-8.png" alt="" />
                </div>
            </div>
        </div>
    </div>

    <div class="section-bg-image bg-top" style="        background-image: url(~/Areas/Root/images/bg-3.png)">
        <div class="container content">
            <div class="row">
                <div class="col-md-6 col-sm-12 text-center-sm">
                    <h2>Build video experiences for the dreamers</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <a class="img-box lightbox shadow-1 i-center" href="https://www.youtube.com/watch?v=mW6hFttt_KE" data-lightbox-anima="fade-right">
                        <i class="fa fa-play"></i>
                        <img src="~/Areas/Root/images/image-1.jpg" alt="">
                    </a>
                </div>
            </div>
            <hr class="space" />
        </div>
    </div>

    <div class="section-bg-color bg-color">
        <div class="container content">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="white text-l">Subscribe to our newsletter</h4>
                </div>
                <div class="col-md-6">
                    <form action="http://www.framework-y.com/scripts/php/contact-form.php" class="form-box form-ajax form-inline white" method="post" data-email="aaa@pixor.it">
                        <input id="email" name="email" placeholder="Your email address" type="email" class="form-control form-value" required>
                        <hr class="space m">
                        <button class="btn btn-sm" type="submit">Sign up</button>
                        <div class="success-box">
                            <div class="alert alert-success">Congratulations. Your message has been sent successfully</div>
                        </div>
                        <div class="error-box">
                            <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="section-bg-image bg-top no-padding-top" style="        background-image: url(~/Areas/Root/images/bg-gradient-3.png)">
        <div class="container content">
            <div class="row">
                <div class="col-md-8 boxed-inverse col-center shadow-1 text-center">
                    <h4 class="text-l">Try the experience now</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris. Commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esso.
                    </p>
                    <a href="#" class="circle-button btn btn-border btn-lg"><i class="fa fa-angle-double-right"></i> Test it now </a>
                </div>
            </div>
            <hr class="space" />
            <hr class="space l" />
            <div class="row">
                <div class="col-md-6">
                    <div class="advs-box advs-box-side-icon">
                        <div class="icon-box">
                            <i class="fa fa-smile-o icon"></i>
                        </div>
                        <div class="caption-box">
                            <h3>Community hub</h3>
                            <p>
                                Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                temporibus est odit mi quoso aliquid sempere veritatis dignissimose.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="advs-box advs-box-side-icon">
                        <div class="icon-box">
                            <i class="fa fa-send-o icon"></i>
                        </div>
                        <div class="caption-box">
                            <h3>Massive integrations</h3>
                            <p>
                                Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                temporibus est odit mi quoso aliquid sempere veritatis dignissimose.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space l" />
            <div class="row">
                <div class="col-md-6">
                    <div class="advs-box advs-box-side-icon">
                        <div class="icon-box">
                            <i class="fa fa-hdd-o icon"></i>
                        </div>
                        <div class="caption-box">
                            <h3>Security & compliance</h3>
                            <p>
                                Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                temporibus est odit mi quoso aliquid sempere veritatis dignissimose.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="advs-box advs-box-side-icon">
                        <div class="icon-box">
                            <i class="fa fa-thumbs-o-up icon"></i>
                        </div>
                        <div class="caption-box">
                            <h3>Future careers</h3>
                            <p>
                                Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                temporibus est odit mi quoso aliquid sempere veritatis dignissimose.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/index-mobile.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:09:40 GMT -->



