
@{
    ViewBag.Title = "IndexBusiness";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}
   
<body>
   
    <div class="section-empty">
        <div class="content text-center">
            <div class="row">
                <div class="col-md-3 hidden-sm">
                    <img class="abs-image margin-negative-50" data-anima="fade-left" data-time="1000" src="~/Areas/Root/images/mk-9.png" alt="" />
                </div>
                <div class="col-md-6 col-sm-12" data-anima="fade-in" data-time="1000">
                    <hr class="space" />
                    <h1 class="text-color">
                        Generate more users<br />
                        and complete more tasks
                    </h1>
                    <hr class="space s" />
                    <p class="width-80">
                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                        Utenim ad minim veniam quis nostrud exercitation ullamcor.
                    </p>
                    <hr class="space m" />
                    <a href="#" class="circle-button btn btn-lg btn-border"><i class="fa fa-play-circle-o"></i>Join now</a>
                    <hr class="space l" />
                </div>
                <div class="col-md-3 hidden-sm">
                    <img class="abs-image pull-right margin-negative-50" data-anima="fade-right" data-time="1000" src="~/Areas/Root/images/mk-10.png" alt="" />
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty text-center">
        <div class="container content">
            <h1 class="text-color text-xl">Built for sales and marketing teams</h1>
            <hr class="space" />
            <table class="grid-table grid-table-sm-12">
                <tbody>
                    <tr>
                        <td>
                            <div class="advs-box advs-box-top-icon boxed-inverse shadow-1" data-anima="pulse" data-trigger="hover">
                                <i class="fa fa-bar-chart-o icon circle anima text-xl"></i>
                                <h3 class="text-m">Generate traffic and revenues</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur repellat fugaruoio.
                                </p>
                            </div>
                        </td>
                        <td>
                            <div class="advs-box advs-box-top-icon boxed-inverse shadow-1" data-anima="pulse" data-trigger="hover">
                                <i class="fa fa-globe icon circle anima text-xl"></i>
                                <h3 class="text-m">Expand your affiliate network</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio relato perco.
                                </p>
                            </div>
                        </td>
                        <td>
                            <div class="advs-box advs-box-top-icon boxed-inverse shadow-1" data-anima="pulse" data-trigger="hover">
                                <i class="fa fa-user-plus icon circle anima text-xl"></i>
                                <h3 class="text-m">Increase the conversions rate</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio repellat fuga.
                                </p>
                            </div>
                        </td>
                        <td>
                            <div class="advs-box advs-box-top-icon boxed-inverse shadow-1" data-anima="pulse" data-trigger="hover">
                                <i class="fa fa-hand-grab-o icon circle anima text-xl"></i>
                                <h3 class="text-m">Automate the repeating processes</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio repella.
                                </p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr class="space" />
            <hr class="space s" />
            <div class="row proporzional-row">
                <div class="col-md-6 text-left">
                    <h4>
                        Live Chat for Sales solution is powered by our Respond and Engage products
                    </h4>
                    <hr class="space s" />
                    <a href="#" class="circle-button btn btn-sm">Pricing tables</a><span class="space"></span>
                    <a href="#" class="circle-button btn btn-sm btn-border">View features</a>
                </div>
                <div class="col-md-6">
                    <div class="flexslider carousel outer-navs visible-dir-nav" data-options="minWidth:200,itemMargin:3,numItems:3,controlNav:false,directionNav:true">
                        <ul class="slides">
                            <li>
                                <a class="img-box lightbox" href="~/Areas/Root/images/image-4.jpg" data-lightbox-anima="fade-top">
                                    <img src="~/Areas/Root/images/image-4.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="img-box lightbox" href="~/Areas/Root/images/image-3.jpg" data-lightbox-anima="fade-top">
                                    <img src="~/Areas/Root/images/image-3.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="img-box lightbox" href="~/Areas/Root/images/image-4.jpg" data-lightbox-anima="fade-top">
                                    <img src="~/Areas/Root/images/image-4.jpg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-bg-image bg-top" style="background-image: url(~/Areas/Root/images/bg-8.jpg)">
        <div class="container content">
            <div class="row vertical-row">
                <div class="col-md-6">
                    <div class="flexslider slider" data-options="controlNav:true,directionNav:false">
                        <ul class="slides">
                            <li>
                                <img src="~/Areas/Root/images/box-1.png" alt="" />
                            </li>
                            <li>
                                <img src="~/Areas/Root/images/box-2.png" alt="" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <h1>Real time bring better conversions</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <hr class="space s" />
                    <a href="#" class="btn-text"> Read the full description</a>
                </div>
            </div>
            <hr class="space" />
            <div class="row">
                <div class="col-md-8 col-center text-center">
                    <h1 class="text-color text-xl">Born for marketing and seo teams</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipi labore et dolore magscing elitsed do<br />eiusmod tempor incididunt utlabore et dolore magna aliqua.
                    </p>
                </div>
            </div>
            <hr class="space" />
            <div class="grid-list">
                <div class="grid-box row">
                    <div class="grid-item col-md-4">
                        <div class="advs-box advs-box-side-icon">
                            <div class="icon-box">
                                <i class="fa fa-cloud icon anima"></i>
                            </div>
                            <div class="caption-box">
                                <h3>Cloud hosting</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item col-md-4">
                        <div class="advs-box advs-box-side-icon">
                            <div class="icon-box">
                                <i class="fa fa-microchip icon anima"></i>
                            </div>
                            <div class="caption-box">
                                <h3>Quantum engine</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item col-md-4">
                        <div class="advs-box advs-box-side-icon">
                            <div class="icon-box">
                                <i class="fa fa-windows anima"></i>
                            </div>
                            <div class="caption-box">
                                <h3>Windows systems</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item col-md-4">
                        <div class="advs-box advs-box-side-icon">
                            <div class="icon-box">
                                <i class="fa fa-pause icon anima"></i>
                            </div>
                            <div class="caption-box">
                                <h3>Paralles processors</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item col-md-4">
                        <div class="advs-box advs-box-side-icon">
                            <div class="icon-box">
                                <i class="fa fa-gears icon anima"></i>
                            </div>
                            <div class="caption-box">
                                <h3>Dedicated panel</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item col-md-4">
                        <div class="advs-box advs-box-side-icon">
                            <div class="icon-box">
                                <i class="fa fa-desktop icon anima"></i>
                            </div>
                            <div class="caption-box">
                                <h3>Desktop solutions</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-bg-image bg-top" style=" background-image: url(~/Areas/Root/images/bg-9.jpg)">
        <div class="container content">
            <div class="row vertical-row">
                <div class="col-md-6">
                    <h1>Software solutions for everyone</h1>
                    <hr class="space m" />
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-circle-o"></i> State of art architecture for faster computing</li>
                        <li><i class="fa-li fa fa-circle-o"></i> Decicated and experiences support team available 24/7</li>
                        <li><i class="fa-li fa fa-circle-o"></i> Download and cloud starege starting from free plans</li>
                        <li><i class="fa-li fa fa-circle-o"></i> Latest languages and development methods for all our solutions</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="flexslider slider outer-navs" data-options="controlNav:false,directionNav:true">
                        <ul class="slides">
                            <li>
                                <a class="img-box lightbox shadow-1" href="~/Areas/Root/images/display-1.jpg" data-lightbox-anima="fade-right">
                                    <img src="~/Areas/Root/images/display-1.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="img-box lightbox shadow-1" href="~/Areas/Root/images/display-1.jpg" data-lightbox-anima="fade-right">
                                    <img src="~/Areas/Root/images/display-1.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="img-box lightbox shadow-1" href="~/Areas/Root/images/display-1.jpg" data-lightbox-anima="fade-right">
                                    <img src="~/Areas/Root/images/display-1.jpg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="space" />
            <div class="row">
                <div class="col-md-8 col-center text-center">
                    <h1 class="text-color text-xl">Born for marketing and seo teams</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipi labore et dolore magscing elitsed do<br />eiusmod tempor incididunt utlabore et dolore magna aliqua.
                    </p>
                </div>
            </div>
            <hr class="space" />
            <table class="grid-table text-center">
                <tbody>
                    <tr>
                        <td>
                            <h4 class="text-m">Personal profile</h4>
                            <p></p>
                            <img src="~/Areas/Root/images/phone-1.png" alt="" />
                        </td>
                        <td>
                            <h4 class="text-m">More devices</h4>
                            <img src="~/Areas/Root/images/phone-2.png" alt="" />
                        </td>
                        <td>
                            <h4 class="text-m">Skills area</h4>
                            <img src="~/Areas/Root/images/phone-3.png" alt="" />
                        </td>
                        <td>
                            <h4 class="text-m">Messages and chat</h4>
                            <img src="~/Areas/Root/images/phone-4.png" alt="" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="section-bg-image bg-top" style="background-image: url(~/Areas/Root/images/bg-10.jpg)">
        <div class="container content">
            <div class="row">
                <div class="col-md-8 col-center boxed-inverse shadow-1 text-center">
                    <h4>Ready to generating more sales?</h4>
                    <hr class="space s" />
                    <div class="icon-list text-center">
                        <div class="list-item">
                            <i class="fa fa-circle-o text-s"></i>
                            <label class="text-s">We don't spam</label>
                        </div>
                        <div class="list-item">
                            <i class="fa fa-circle-o text-s"></i>
                            <label class="text-s">Free cancellation</label>
                        </div>
                        <div class="list-item">
                            <i class="fa fa-circle-o text-s"></i>
                            <label class="text-s">Latest news</label>
                        </div>
                    </div>
                    <hr class="space m" />
                    <form action="http://www.framework-y.com/scripts/php/contact-form.php" class="form-box form-ajax form-inline width-80" method="post" data-email="aaa@pixor.it">
                        <input id="email" name="email" placeholder="Your email address" type="email" class="form-control form-value" required="">
                        <hr class="space m">
                        <button class="btn btn-sm" type="submit">Sign up</button>
                        <div class="success-box">
                            <div class="alert alert-success">Congratulations. Your message has been sent successfully</div>
                        </div>
                        <div class="error-box">
                            <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
                        </div>
                    </form>
                    <hr class="space s" />
                    <div class="tag-row icon-row icon-row-circle text-s">
                        <span>Constant support</span>
                        <span>Easy cancellation</span>
                        <span>Risk free</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/index-business.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:08:17 GMT -->



