
@{
    ViewBag.Title = "IndexFreelancer";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

  
    <body>
        
            <div class="section-bg-image bg-top white" style="background-image: url(~/Areas/Root/images/hd-8.jpg)">
                <div class="container content">
                    <hr class="space" />
                    <hr class="space m" />
                    <div class="row">
                        <div class="col-md-8 col-center text-center">
                            <h1>Join <b>10.000+</b> freelancers that use our services</h1>
                        </div>
                    </div>
                    <hr class="space" />
                    <hr class="space" />
                    <hr class="space" />
                    <hr class="space" />
                    <hr class="space" />
                </div>
            </div>

            <div class="section-empty">
                <div class="container content">
                    <hr class="space" />
                    <div class="row">
                        <div class="col-md-8 col-sm-12">
                            <a class="img-box lightbox inner shadow-1" href="#">
                                <span><img src="~/Areas/Root/images/gallery/image-9.jpg" alt="" draggable="false"></span>
                                <span class="caption-box">
                                    <span class="caption">
                                        Lorem ipsum dolor sit amet consectetur adipiscing. Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                        Utenim ad minim veniam quis nostrud exercitation ullamco.
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <hr class="space m visible-sm" />
                            <p class="block-quote quote-1 no-margins">
                                It is better to lead from behind and to put others in front,
                                especially when you celebrate victory when nice things occur suddenly.
                                You take the front line when there is danger. Then people will appreciate your leadership.
                                <span class="quote-author">Don Jhon</span>
                            </p>
                        </div>
                    </div>
                    <hr class="space" />
                    <div class="row">
                        <div class="col-md-4">
                            <h1>Premium or solutions </h1>
                            <hr class="space m" />
                            <ul class="fa-ul">
                                <li><i class="fa-li fa fa-circle-thin"></i> Maintain the old management</li>
                                <li><i class="fa-li fa fa-circle-thin"></i> Save money with our family plans</li>
                                <li><i class="fa-li fa fa-circle-thin"></i> Be your own advisor with our tutorial</li>
                                <li><i class="fa-li fa fa-circle-thin"></i> You app provide you everything</li>
                                <li><i class="fa-li fa fa-circle-thin"></i> Stay your own advisor with our plans</li>
                            </ul>
                            <hr class="space l" />
                            <a href="#" class="circle-button btn btn-sm">View services</a>
                        </div>
                        <div class="col-md-4">
                            <div class="advs-box advs-box-multiple shadow-1" data-anima="scale-rotate" data-trigger="hover">
                                <a class="img-box"><img class="anima" src="~/Areas/Root/images/image-4.jpg" alt="" /></a>
                                <div class="circle anima-rotate-20 anima">12 <span>Packs</span></div>
                                <div class="advs-box-content">
                                    <h3>Business plans</h3>
                                    <p>
                                        Tincidunt integer eu augue augue nunc elit dolore luctus placerat scelerisque euismod, iaculis eu lacus nunto nunc tempore.
                                    </p>
                                    <a class="btn-text" href="#">Enter now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="advs-box advs-box-multiple shadow-1" data-anima="scale-rotate" data-trigger="hover">
                                <a class="img-box"><img class="anima" src="~/Areas/Root/images/image-3.jpg" alt="" /></a>
                                <div class="circle anima-rotate-20 anima">25 <span>Packs</span></div>
                                <div class="advs-box-content">
                                    <h3>Family plans</h3>
                                    <p>
                                        Tincidunt integer eu augue augue nunc elit dolore luctus placerat scelerisque euismod, iaculis eu lacus nunto nunc tempore.
                                    </p>
                                    <a class="btn-text" href="#">Enter now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-bg-image" style="        background-image: url(~/Areas/Root/images/bg-17.png)">
                <div class="container content">
                    <div class="row">
                        <div class="col-md-10 col-center boxed-inverse text-center shadow-1">
                            <h1 class="text-l">Stay updated with our newsletter</h1>
                            <hr class="space m" />
                            <form action="http://www.framework-y.com/scripts/php/contact-form.php" class="form-box form-ajax form-inline width-80" method="post" data-email="aaa@pixor.it">
                                <input id="email" name="email" placeholder="Your email address" type="email" class="form-control form-value" required="">
                                <hr class="space m">
                                <button class="btn btn-sm" type="submit">Sign up</button>
                                <div class="success-box">
                                    <div class="alert alert-success">Congratulations. Your message has been sent successfully</div>
                                </div>
                                <div class="error-box">
                                    <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
                                </div>
                            </form>
                            <hr class="space s" />
                            <div class="icon-list text-center">
                                <div class="list-item">
                                    <i class="fa fa-circle-o text-s"></i>
                                    <label class="text-s">We don't spam</label>
                                </div>
                                <div class="list-item">
                                    <i class="fa fa-circle-o text-s"></i>
                                    <label class="text-s">Free cancellation</label>
                                </div>
                                <div class="list-item">
                                    <i class="fa fa-circle-o text-s"></i>
                                    <label class="text-s">Latest news</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-empty">
                <div class="container content">
                    <h1 class="text-center">Pricing plans</h1>
                    <hr class="space" />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="list-group pricing-table">
                                <div class="list-group-item pricing-price">
                                    <span>$</span>19<span>/mon</span>
                                </div>
                                <div class="list-group-item pricing-name">
                                    <h3>Bronze plan</h3>
                                </div>
                                <div class="list-group-item">
                                    15 versions
                                </div>
                                <div class="list-group-item">
                                    All files included
                                </div>
                                <div class="list-group-item">
                                    Custom design and coding
                                </div>
                                <div class="list-group-item">
                                    Money back guarante
                                </div>
                                <div class="list-group-item">
                                    24/7 support
                                </div>
                                <div class="list-group-item pricing-btn">
                                    <a class="btn btn-sm btn-border circle-button" href="#"> Order now </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="list-group pricing-table">
                                <div class="list-group-item pricing-price">
                                    <span>$</span>49<span>/mon</span>
                                </div>
                                <div class="list-group-item pricing-name">
                                    <h3>Silver plan</h3>
                                </div>
                                <div class="list-group-item">
                                    15 versions
                                </div>
                                <div class="list-group-item">
                                    All files included
                                </div>
                                <div class="list-group-item">
                                    Custom design and coding
                                </div>
                                <div class="list-group-item">
                                    Money back guarante
                                </div>
                                <div class="list-group-item">
                                    24/7 support
                                </div>
                                <div class="list-group-item pricing-btn">
                                    <a class="btn btn-sm btn-border circle-button" href="#"> Order now </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="list-group pricing-table">
                                <div class="list-group-item pricing-price">
                                    <span>$</span>99<span>/mon</span>
                                </div>
                                <div class="list-group-item pricing-name">
                                    <h3>Gold plan</h3>
                                </div>
                                <div class="list-group-item">
                                    15 versions
                                </div>
                                <div class="list-group-item">
                                    All files included
                                </div>
                                <div class="list-group-item">
                                    Custom design and coding
                                </div>
                                <div class="list-group-item">
                                    Money back guarante
                                </div>
                                <div class="list-group-item">
                                    24/7 support
                                </div>
                                <div class="list-group-item pricing-btn">
                                    <a class="btn btn-sm btn-border circle-button" href="#"> Order now </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="space" />
                    <div class="row vertical-row">
                        <div class="col-md-2">
                            <a class="img-box lightbox circle shadow-1" href="~/Areas/Root/images/gallery/image-1.jpg" data-lightbox-anima="fade-top">
                                <img src="~/Areas/Root/images/gallery/square-1.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 hidden-sm">
                            <a class="img-box lightbox circle shadow-1" href="~/Areas/Root/images/gallery/image-1.jpg" data-lightbox-anima="fade-top">
                                <img src="~/Areas/Root/images/gallery/square-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a class="img-box lightbox circle shadow-1" href="~/Areas/Root/images/gallery/image-1.jpg" data-lightbox-anima="fade-top">
                                <img src="~/Areas/Root/images/gallery/square-3.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a class="img-box lightbox circle shadow-1" href="~/Areas/Root/images/gallery/image-1.jpg" data-lightbox-anima="fade-top" data-anima="show-scale">
                                <img src="~/Areas/Root/images/gallery/square-4.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-md-3 hidden-sm">
                            <a class="img-box lightbox circle shadow-1" href="~/Areas/Root/images/gallery/image-1.jpg" data-lightbox-anima="fade-top">
                                <img src="~/Areas/Root/images/gallery/square-5.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <hr class="space" />
                    <div class="row">
                        <div class="col-md-4">
                            <h1>Upcoming events</h1>
                        </div>
                        <div class="col-md-8">
                            <div class="flexslider carousel outer-navs" data-options="minWidth:200,itemMargin:30,numItems:2,controlNav:false,directionNav:true">
                                <ul class="slides">
                                    <li>
                                        <div class="advs-box advs-box-side-icon">
                                            <div class="icon-box">
                                                <i class="fa fa-calendar-o icon text-xl"></i>
                                            </div>
                                            <div class="caption-box">
                                                <h3 class="text-m">Battle For Dubai</h3>
                                                <span class="extra-content">December 18, 2019</span>
                                                <p class="text-s">
                                                    Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                                    temporibus est odit mi quoso aliquid sempere veritatis dignissimose.
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="advs-box advs-box-side-icon">
                                            <div class="icon-box">
                                                <i class="fa fa-calendar-o icon text-xl"></i>
                                            </div>
                                            <div class="caption-box">
                                                <h3 class="text-m">Traning Workshop</h3>
                                                <span class="extra-content">December 25, 2019</span>
                                                <p class="text-s">
                                                    Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                                    temporibus est odit mi quoso aliquid sempere veritatis dignissimose.
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="advs-box advs-box-side-icon">
                                            <div class="icon-box">
                                                <i class="fa fa-calendar-o icon text-xl"></i>
                                            </div>
                                            <div class="caption-box">
                                                <h3 class="text-m">Entrpreneurs meeting</h3>
                                                <span class="extra-content">December 28, 2019</span>
                                                <p class="text-s">
                                                    Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                                    temporibus est odit mi quoso aliquid sempere veritatis dignissimose.
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-bg-image bg-top" style="        background-image: url(~/Areas/Root/images/bg-14.png)">
                <div class="container content">
                    <div class="flexslider carousel png-over" data-options="numItems:5,minWidth:100,itemMargin:60,controlNav:false,directionNav:false">
                        <ul class="slides">
                            <li>
                                <a class="img-box" href="#">
                                    <img src="~/Areas/Root/images/logos/white/logo_1.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="img-box" href="#">
                                    <img src="~/Areas/Root/images/logos/white/logo_2.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="img-box" href="#">
                                    <img src="~/Areas/Root/images/logos/white/logo_3.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="img-box" href="#">
                                    <img src="~/Areas/Root/images/logos/white/logo_4.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="img-box" href="#">
                                    <img src="~/Areas/Root/images/logos/white/logo_5.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="img-box" href="#">
                                    <img src="~/Areas/Root/images/logos/white/logo_6.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="img-box" href="#">
                                    <img src="~/Areas/Root/images/logos/white/logo_7.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="img-box" href="#">
                                    <img src="~/Areas/Root/images/logos/white/logo_8.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="img-box" href="#">
                                    <img src="~/Areas/Root/images/logos/white/logo_1.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="img-box" href="#">
                                    <img src="~/Areas/Root/images/logos/white/logo_2.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


    </body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/index-freelancer.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:07:58 GMT -->



