
@{
    ViewBag.Title = "IndexCooworking";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}


<body>
   
    <div class="section-two-blocks two-blocks-container blocks-right bg-color white margin-top-90">
        <div class="row">
            <div class="col-md-6">
                <a class="img-box lightbox i-center" href="https://www.youtube.com/watch?v=Hn89qD03Tzc" data-lightbox-anima="fade-top">
                    <i class="fa fa-play"></i>
                    <img src="~/Areas/Root/images/image-6.jpg" />
                </a>
            </div>
            <div class="col-md-6">
                <div class="content">
                    <h1 class="text-xl">Get matched with a job you truly love.</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                        Utenim ad minim veniam quis nostrud exercitatio.
                    </p>
                    <a href="#" class="circle-button btn btn-sm btn-border white">Create a free profile</a>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty no-padding-top">
        <div class="container content">
            <hr class="space" />
            <div class="row">
                <div class="col-md-3">
                    <h4>Good salary</h4>
                    <p>
                        Interdum iusto pulvinar consequuntur augue optio repella nostr itore.
                    </p>
                    <a href="#" class="btn-text">Read details</a>
                </div>
                <div class="col-md-3">
                    <h4>Creative team</h4>
                    <p>
                        Interdum iusto pulvinar consequuntur augue optio repella nostr itore.
                    </p>
                    <a href="#" class="btn-text">Read details</a>
                </div>
                <div class="col-md-3">
                    <h4>Career grow</h4>
                    <p>
                        Interdum iusto pulvinar consequuntur augue optio repella nostr itore.
                    </p>
                    <a href="#" class="btn-text">Read details</a>
                </div>
                <div class="col-md-3">
                    <h4>Great network</h4>
                    <p>
                        Interdum iusto pulvinar consequuntur augue optio repella nostr itore.
                    </p>
                    <a href="#" class="btn-text">Read details</a>
                </div>
            </div>
        </div>
    </div>

    <div class="section-bg-image border-bottom bg-top" style="background-image: url(~/Areas/Root/images/bg-11.png)">
        <div class="container content">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/Areas/Root/images/people-1.png" alt="" />
                </div>
                <div class="col-md-6">
                    <h1>Leader of architecture</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor iscing elitsed do eiusmod tempor incididunt uaiscing elitsed do eiusmod tempor incididunt ua utlabore et dolore magna aliqua.
                        Utenim   ut aliquip ex ea commodo conseqiscing elitsed do eiusmod tempor incididunt uat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <hr class="space s" />
                    <div class="icon-list">
                        <div class="list-item">
                            <i class="fa fa-circle-o text-l"></i><label>Android and Windows</label>
                        </div>
                        <div class="list-item">
                            <i class="fa fa-circle-o text-l"></i><label>Desktop and mobile</label>
                        </div>
                    </div>
                    <hr class="space m" />
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty no-padding-top">
        <div class="container content">
            <div class="row vertical-row">
                <div class="col-md-6">
                    <h1>Renovable eco powered energy</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                        Utenim   ut aliquip ex ea commodo conseqiscing elitsed do eiusmod tempor incididunt uat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <hr class="space s" />
                    <div class="icon-list">
                        <div class="list-item">
                            <i class="fa fa-circle-o text-l"></i><label>Green energy solutions</label>
                        </div>
                        <div class="list-item">
                            <i class="fa fa-circle-o text-l"></i><label>Cheap and fast power from sun</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 boxed-inverse">
                    <div class="grid-list">
                        <div class="grid-box row">
                            <div class="grid-item col-md-4">
                                <div class="icon-box icon-box-top-bottom">
                                    <div class="icon-box-cell">
                                        <i class="fa-home fa text-xl"></i>
                                    </div>
                                    <div class="icon-box-cell">
                                        <label class="text-m">Home hub</label>
                                        <p class="text-s">Lorem ipsum dolore ato</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-4">
                                <div class="icon-box icon-box-top-bottom">
                                    <div class="icon-box-cell">
                                        <i class="fa-qrcode fa text-xl"></i>
                                    </div>
                                    <div class="icon-box-cell">
                                        <label class="text-m">Code link</label>
                                        <p class="text-s">Lorem ipsum dolore ato</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-4">
                                <div class="icon-box icon-box-top-bottom">
                                    <div class="icon-box-cell">
                                        <i class="fa-facebook fa text-xl"></i>
                                    </div>
                                    <div class="icon-box-cell">
                                        <label class="text-m">Social place</label>
                                        <p class="text-s">Lorem ipsum dolore ato</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-4">
                                <div class="icon-box icon-box-top-bottom">
                                    <div class="icon-box-cell">
                                        <i class="fa-random fa text-xl"></i>
                                    </div>
                                    <div class="icon-box-cell">
                                        <label class="text-m">Multi source</label>
                                        <p class="text-s">Lorem ipsum dolore ato</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-4">
                                <div class="icon-box icon-box-top-bottom">
                                    <div class="icon-box-cell">
                                        <i class="fa-universal-access fa text-xl"></i>
                                    </div>
                                    <div class="icon-box-cell">
                                        <label class="text-m">Free access</label>
                                        <p class="text-s">Lorem ipsum dolore ato</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-4">
                                <div class="icon-box icon-box-top-bottom">
                                    <div class="icon-box-cell">
                                        <i class="fa-object-group fa text-xl"></i>
                                    </div>
                                    <div class="icon-box-cell">
                                        <label class="text-m">Responsive</label>
                                        <p class="text-s">Lorem ipsum dolore ato</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-bg-image bg-top text-center" style="background-image: url(~/Areas/Root/images/bg-12.png)">
        <div class="container content">
            <div class="row">
                <div class="col-md-8 col-center">
                    <h1>Projects we love</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                        Utenim ad minim veniam quis nostrud exercitation.
                    </p>
                </div>
            </div>
            <hr class="space" />
            <div class="grid-list">
                <div class="grid-box row">
                    <div class="grid-item col-md-6">
                        <div class="advs-box advs-box-side" data-anima="fade-left" data-trigger="hover">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="img-box"><img src="~/Areas/Root/images/gallery/image-1.jpg" alt="" /></div>
                                </div>
                                <div class="col-md-8">
                                    <h3>Micro adptive surface</h3>
                                    <hr class="anima">
                                    <p>
                                        Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                        temporibus est odit mi quoso aliquid sempere veritatis dignissimose.
                                    </p>
                                    <a class="circle-button btn btn-sm" href="#">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item col-md-6">
                        <div class="advs-box advs-box-side" data-anima="fade-left" data-trigger="hover">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="img-box"><img src="~/Areas/Root/images/gallery/image-3.jpg" alt="" /></div>
                                </div>
                                <div class="col-md-8">
                                    <h3>Double rotation display</h3>
                                    <hr class="anima">
                                    <p>
                                        Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                        temporibus est odit mi quoso aliquid sempere veritatis dignissimose.
                                    </p>
                                    <a class="circle-button btn btn-sm" href="#">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item col-md-6">
                        <div class="advs-box advs-box-side" data-anima="fade-left" data-trigger="hover">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="img-box"><img src="~/Areas/Root/images/gallery/image-2.jpg" alt="" /></div>
                                </div>
                                <div class="col-md-8">
                                    <h3>Blockchain connection</h3>
                                    <hr class="anima">
                                    <p>
                                        Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                        temporibus est odit mi quoso aliquid sempere veritatis dignissimose.
                                    </p>
                                    <a class="circle-button btn btn-sm" href="#">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item col-md-6">
                        <div class="advs-box advs-box-side" data-anima="fade-left" data-trigger="hover">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="img-box"><img src="~/Areas/Root/images/gallery/image-4.jpg" alt="" /></div>
                                </div>
                                <div class="col-md-8">
                                    <h3>Solid state materials</h3>
                                    <hr class="anima">
                                    <p>
                                        Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                        temporibus est odit mi quoso aliquid sempere veritatis dignissimose.
                                    </p>
                                    <a class="circle-button btn btn-sm" href="#">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space" />
            <a href="#" class="circle-button btn btn-lg btn-border"><i class="fa fa-angle-right"></i>View projects</a>
        </div>
    </div>

    <div class="section-bg-image bg-top" style="background-image: url(~/Areas/Root/images/bg-13.png)">
        <div class="container content">
            <div class="row">
                <div class="col-md-12 boxed-inverse shadow-1">
                    <div class="row">
                        <div class="col-md-6">
                            <form action="http://www.framework-y.com/HTWF/scripts/php/contact-form.php" class="form-box form-ajax" method="post" data-email="">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>Name</p>
                                        <input id="name" name="name" placeholder="" type="text" class="form-control form-value" required>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Email</p>
                                        <input id="email" name="email" placeholder="" type="email" class="form-control form-value" required>
                                    </div>
                                </div>
                                <hr class="space xs" />
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Phone</p>
                                        <input id="phone" name="phone" placeholder="" type="text" class="form-control form-value">
                                        <hr class="space xs" />
                                        <p>Messagge</p>
                                        <textarea id="messagge" name="messagge" class="form-control form-value" required></textarea>
                                        <hr class="space s" />
                                        <button class="circle-button btn-sm btn" type="submit"><i class="fa fa-envelope-o"></i>Send messagge</button>
                                    </div>
                                </div>
                                <div class="success-box">
                                    <div class="alert alert-success">Congratulations. Your message has been sent successfully</div>
                                </div>
                                <div class="error-box">
                                    <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <h1 class="text-l text-color">Contact us now and receive a free quotation for your project</h1>
                            <hr class="space m" />
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="text-m">Malborne</h4>
                                    <p>
                                        Mon to Fri from 8am to 6pm CST
                                    </p>
                                    <p>
                                        malborne@business.com<br />
                                        +02 3355661234
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="text-m">New York</h4>
                                    <p>
                                        Mon to Fri from 8am to 6pm CST
                                    </p>
                                    <p>
                                        newyork@business.com<br />
                                        +02 3355661234
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/index-cooworking.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:09:13 GMT -->



