
@{
    ViewBag.Title = "IndexVideo";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

  
<body>
    
    <div class="section-bg-video">
        <div class="videobox">
            <video autoplay loop muted poster="~/Areas/Root/images/video-poster.jpg">
                <source src="http://templates.framework-y.com/signflow/images/video.mp4" type="video/mp4">
            </video>
        </div>
        <div class="container content overlay-content box-middle white text-center">
            <hr class="space" />
            <hr class="space" />
            <div class="row">
                <div class="col-md-8 col-center col-sm-12">
                    <h1>Digital drawing toolkits</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                    </p>
                    <hr class="space m" />
                    <a href="#" class="circle-button btn btn-lg btn-border">Free demo</a><span class="space"></span>
                    <a href="#" class="circle-button btn btn-lg">Purchase it</a>
                    <hr class="space l" />
                    <p class="text-s width-80">
                        Discounted prices for <a href="#">students</a>, adding promotions to your purchase and <a href="#">renewing</a> your license are now available.
                        Requires <a>Windows 7</a> or newer.
                    </p>
                </div>
            </div>
            <hr class="space" />
            <hr class="space" />
            <hr class="space" />
            <hr class="space" />
        </div>
    </div>

    <div class="section-bg-image video-overlay text-center" style="background-image: url(~/Areas/Root/images/bg-15.png)">
        <div class="container content">
            <div class="row margin-negative-200">
                <div class="col-md-4 col-sm-12">
                    <div class="img-box adv-img adv-img-classic-box white">
                        <div class="img-box">
                            <img src="../images/gallery/image-7.jpg" alt="" />
                        </div>
                        <a href="#" class="caption img-box">
                            <div class="caption-inner">
                                <h2>Silicon Valley</h2>
                                <p class="sub-text">Main offices</p>
                                <p class="big-text">
                                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mio.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="img-box adv-img adv-img-classic-box white">
                        <div class="img-box">
                            <img src="~/Areas/Root/images/gallery/image-10.jpg" alt="" />
                        </div>
                        <a href="#" class="caption img-box">
                            <div class="caption-inner">
                                <h2>London</h2>
                                <p class="sub-text">Europa offices</p>
                                <p class="big-text">
                                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mio.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="img-box adv-img adv-img-classic-box white">
                        <div class="img-box">
                            <img src="~/Areas/Root/images/gallery/image-17.jpg" alt="" />
                        </div>
                        <a href="#" class="caption img-box">
                            <div class="caption-inner">
                                <h2>Singapore</h2>
                                <p class="sub-text">Asia offices</p>
                                <p class="big-text">
                                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mio.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty">
        <div class="container content">
            <div class="row">
                <div class="col-md-8 col-center">
                    <div class="flexslider carousel png-over" data-options="numItems:5,minWidth:100,itemMargin:30,controlNav:false,directionNav:false">
                        <ul class="slides">
                            <li>
                                <a class="img-box" href="#">
                                    <img src="~/Areas/Root/images/logos/white/logo_1.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="img-box" href="#">
                                    <img src="~/Areas/Root/images/logos/white/logo_2.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="img-box" href="#">
                                    <img src="~/Areas/Root/images/logos/white/logo_3.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="img-box" href="#">
                                    <img src="~/Areas/Root/images/logos/white/logo_4.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="img-box" href="#">
                                    <img src="~/Areas/Root/images/logos/white/logo_5.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="img-box" href="#">
                                    <img src="~/Areas/Root/images/logos/white/logo_6.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="img-box" href="#">
                                    <img src="~/Areas/Root/images/logos/white/logo_7.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="img-box" href="#">
                                    <img src="~/Areas/Root/images/logos/white/logo_8.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="img-box" href="#">
                                    <img src="~/Areas/Root/images/logos/white/logo_1.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="img-box" href="#">
                                    <img src="~/Areas/Root/images/logos/white/logo_2.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty">
        <div class="container content">
            <div class="row vertical-row">
                <div class="col-md-4 boxed-inverse shadow-1 text-left col-sm-12">
                    <h1 class="text-l text-color">Take a tour of our many services</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing  onsusmoda partillio marto.</p>
                    <a href="#" class="btn-text"><i class="fa fa-angle-right"></i>Enter now</a>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="grid-list">
                        <div class="grid-box row">
                            <div class="grid-item col-md-3">
                                <div class="icon-box icon-box-top-bottom">
                                    <div class="icon-box-cell">
                                        <i class="fa fa-android text-xl"></i>
                                    </div>
                                    <div class="icon-box-cell">
                                        <label class="text-m">Android support</label>
                                        <p class="text-s">Lorem ipsum dolor sit amet consectetur.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-3">
                                <div class="icon-box icon-box-top-bottom">
                                    <div class="icon-box-cell">
                                        <i class="fa fa-windows text-xl"></i>
                                    </div>
                                    <div class="icon-box-cell">
                                        <label class="text-m">Windows support</label>
                                        <p class="text-s">Lorem ipsum dolor sit amet consectetur.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-3">
                                <div class="icon-box icon-box-top-bottom">
                                    <div class="icon-box-cell">
                                        <i class="fa fa-apple text-xl"></i>
                                    </div>
                                    <div class="icon-box-cell">
                                        <label class="text-m">Apple version</label>
                                        <p class="text-s">Lorem ipsum dolor sit amet consectetur.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-3">
                                <div class="icon-box icon-box-top-bottom">
                                    <div class="icon-box-cell">
                                        <i class="fa fa-microchip text-xl"></i>
                                    </div>
                                    <div class="icon-box-cell">
                                        <label class="text-m">Intel processor</label>
                                        <p class="text-s">Lorem ipsum dolor sit amet consectetur.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-3">
                                <div class="icon-box icon-box-top-bottom">
                                    <div class="icon-box-cell">
                                        <i class="fa fa-envelope text-xl"></i>
                                    </div>
                                    <div class="icon-box-cell">
                                        <label class="text-m">Fast support</label>
                                        <p class="text-s">Lorem ipsum dolor sit amet consectetur.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-3">
                                <div class="icon-box icon-box-top-bottom">
                                    <div class="icon-box-cell">
                                        <i class="fa fa-vcard text-xl"></i>
                                    </div>
                                    <div class="icon-box-cell">
                                        <label class="text-m">Identity system</label>
                                        <p class="text-s">Lorem ipsum dolor sit amet consectetur.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-3">
                                <div class="icon-box icon-box-top-bottom">
                                    <div class="icon-box-cell">
                                        <i class="fa fa-cloud-upload text-xl"></i>
                                    </div>
                                    <div class="icon-box-cell">
                                        <label class="text-m">Cloud storage</label>
                                        <p class="text-s">Lorem ipsum dolor sit amet consectetur.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-3">
                                <div class="icon-box icon-box-top-bottom">
                                    <div class="icon-box-cell">
                                        <i class="fa fa-database text-xl"></i>
                                    </div>
                                    <div class="icon-box-cell">
                                        <label class="text-m">Fast database</label>
                                        <p class="text-s">Lorem ipsum dolor sit amet consectetur.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-bg-image bg-top" style="background-image: url(~/Areas/Root/images/bg-16.png)">
        <div class="container content">
            <div class="row">
                <div class="col-md-6">
                    <h1>Shiny new icons with the new version </h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="list-group accordion-list">
                        <div class="list-group-item">
                            <a href="#"> Retina and ultra high definition versions</a>
                            <div class="panel">
                                <div class="inner">
                                    Tincidunt integer eu augue augue nunc elit dolore luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elito
                                    vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus velo.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a href="#"> Phostshop templates ready to use</a>
                            <div class="panel">
                                <div class="inner">
                                    Tincidunt integer eu augue augue nunc elit dolore luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elito
                                    vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus velo.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a href="#"> Video tutorials with detailed explanations</a>
                            <div class="panel">
                                <div class="inner">
                                    Tincidunt integer eu augue augue nunc elit dolore luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elito
                                    vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus velo.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a href="#"> Advanced and comprensive documentation</a>
                            <div class="panel">
                                <div class="inner">
                                    Tincidunt integer eu augue augue nunc elit dolore luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elito
                                    vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus velo.
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="space s" />
                    <a href="#" class="circle-button btn btn-sm">Explore all features</a>
                </div>
            </div>
            <hr class="space" />
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="grid-list gallery">
                        <div class="grid-box row" data-lightbox-anima="fade-top">
                            <div class="grid-item col-md-6">
                                <a class="img-box i-center" href="~/Areas/Root/images/gallery/image-5.jpg">
                                    <i class="fa fa-camera"></i>
                                    <img src="~/Areas/Root/images/gallery/image-5.jpg" alt="">
                                </a>
                            </div>
                            <div class="grid-item col-md-6">
                                <a class="img-box i-center" href="~/Areas/Root/images/gallery/image-4.jpg">
                                    <i class="fa fa-camera"></i>
                                    <img src="~/Areas/Root/images/gallery/image-4.jpg" alt="">
                                </a>
                            </div>
                            <div class="grid-item col-md-6">
                                <a class="img-box i-center" href="~/Areas/Root/images/gallery/image-3.jpg">
                                    <i class="fa fa-camera"></i>
                                    <img src="~/Areas/Root/images/gallery/image-3.jpg" alt="">
                                </a>
                            </div>
                            <div class="grid-item col-md-6">
                                <a class="img-box i-center" href="~/Areas/Root/images/gallery/image-2.jpg">
                                    <i class="fa fa-camera"></i>
                                    <img src="~/Areas/Root/images/gallery/image-2.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <p class="block-quote quote-2 no-margins">
                        It is better to lead from behind and to put others in front,
                        especially when you celebrate victory when nice things occure Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.

                        You take the front line when there is danger. Then people will appreciate your leadership.
                        <span class="quote-author">william Franco Forte</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="section-bg-image bg-top" style="background-image: url(~/Areas/Root/images/bg-11.png)">
        <div class="container content">
            <div class="row">
                <div class="col-md-8 col-center text-center">
                    <h1>Start the revolution</h1>
                </div>
            </div>
            <hr class="space" />
            <div class="row box-steps">
                <div class="step-item col-md-4">
                    <span class="step-number">1</span>
                    <h3>Purchase our services</h3>
                    <p>
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi vehicula utm sit ameo.
                    </p>
                </div>
                <div class="step-item col-md-4">
                    <span class="step-number">2</span>
                    <h3>Call our market team</h3>
                    <p>
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi vehicula utm sit ameo.
                    </p>
                </div>
                <div class="step-item col-md-4">
                    <span class="step-number">3</span>
                    <h3>Follow the instructions</h3>
                    <p>
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi vehicula utm sit ameo.
                    </p>
                </div>
            </div>
            <hr class="space" />
            <div class="text-center"><a href="#" class="circle-button btn btn-lg btn-border"><i class="fa fa-info"></i>More details</a></div>
        </div>
    </div>

    <div class="section-bg-image bg-top" style=" background-image: url(~/Areas/Root/images/bg-14.png)">
        <div class="container content">
            <div class="social-feed-tw flexslider carousel outer-navs" data-social-id="microsoft" data-options="minWidth:250,show_media:false,limit: 10"></div>
        </div>
    </div>
    
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/index-video.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:09:01 GMT -->



