
@{
    ViewBag.Title = "ServiceTwo";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}


<body>
   
    <div class="header-title" style="        background-image: url(~/Areas/Root/images/bg-img-3.png)">
        <div class="container">
            <div class="title-base">
                <hr class="anima" />
                <h1>Services two</h1>
                <p>There's no nobility in poverty. I've been a poor man, and I've been a rich man. And I choose rich every fucking time.</p>
            </div>
        </div>
    </div>

    <div class="section-empty">
        <div class="container content">
            <div class="row vertical-row">
                <div class="col-md-6">
                    <h2>Project management</h2>
                    <h2 class="text-color text-l">Superior solutions</h2>
                    <hr class="space s" />
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequato loremaute irure dolor in reprehenderi.
                    </p>
                    <hr class="space s" />
                    <a href="#" class="circle-button btn btn-sm">Circle button</a><span class="space"></span>
                    <a href="#" class="circle-button btn btn-sm btn-border">Circle button</a>
                </div>
                <div class="col-md-6 boxed-inverse shadow-1">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                        Utenim ad minim veniam quis nostrud exercitation ullamc ullamco laboris nisi ut aliquipo laboris.
                    </p>
                    <hr class="space m" />
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="icon-box counter-box-icon">
                                <div class="icon-box-cell">
                                    <i class="fa fa-code text-xl"></i>
                                </div>
                                <div class="icon-box-cell">
                                    <label class="counter text-m" data-speed="10000" data-to="1000000">1.000.000</label>
                                    <p class="text-s">Code lines</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="icon-box counter-box-icon">
                                <div class="icon-box-cell">
                                    <i class="fa fa-id-card-o text-xl"></i>
                                </div>
                                <div class="icon-box-cell">
                                    <label class="counter text-m" data-speed="10000" data-to="450">450</label>
                                    <p class="text-s">Partners</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space" />
            <hr class="space" />
            <div class="row">
                <div class="col-md-3 col-sm-6 boxed-inverse shadow-1 text-center">
                    <h4 class="text-m">Hardware</h4>
                    <hr class="space s" />
                    <div class="progress-circle" data-color="#0e1a35" data-progress="20">
                        <div class="inner-circle">
                            <div class="inner-center">
                                <div class="subtitle c">
                                    <span class="counter-circle"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 col-sm-6 boxed-inverse shadow-1 text-center">
                    <h4 class="text-m">Software</h4>
                    <hr class="space s" />
                    <div class="progress-circle" data-color="#5584ff" data-progress="80">
                        <div class="inner-circle">
                            <div class="inner-center">
                                <div class="subtitle c">
                                    <span class="counter-circle"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <hr class="space visible-sm" />
                    <h2>Business consultant</h2>
                    <h2 class="text-color text-l">Cheap prices, great value</h2>
                    <hr class="space s" />
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed d in voluptate velit esse cillum dolore eu fugiat nulla pariaturo eiusmod tempor incididunt utlabore et dolore magna aliqua.
                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo construd exercitation ullamco laboris nisi uadipiscing elitsed do eiusmod tempor incididunt sequat.
                    </p>
                </div>
            </div>
            <hr class="space" />
            <hr class="space" />
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h2>Outdoor and gardening</h2>
                    <h2 class="text-color text-l">Green technologies</h2>
                    <hr class="space s" />
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed d in voluptate velit esse cillum dolore eu fugiat nulla pariaturo eiusmod tempor incididunt utlabore et dolore magna aliqua.
                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip exo.
                    </p>
                    <hr class="space s" />
                    <a href="#" class="btn-border circle-button btn btn-sm">More details</a><span class="space"></span>
                    <a href="#" class="btn-border circle-button btn btn-sm">Contact us</a>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="grid-list gallery">
                        <div class="grid-box row" data-lightbox-anima="fade-top">
                            <div class="grid-item col-md-6">
                                <a class="img-box row-5 shadow-1" href="../images/gallery/image-1.jpg">
                                    <img src="~/Areas/Root/images/gallery/image-1.jpg" alt="" />
                                </a>
                            </div>
                            <div class="grid-item col-md-6">
                                <a class="img-box row-5 shadow-1" href="../images/gallery/image-3.jpg">
                                    <img src="~/Areas/Root/images/gallery/image-3.jpg" alt="" />
                                </a>
                            </div>
                            <div class="grid-item col-md-6">
                                <a class="img-box row-5 shadow-1" href="../images/gallery/image-6.jpg">
                                    <img src="~/Areas/Root/images/gallery/image-6.jpg" alt="" />
                                </a>
                            </div>
                            <div class="grid-item col-md-6">
                                <a class="img-box row-5 shadow-1" href="../images/gallery/image-9.jpg">
                                    <img src="~/Areas/Root/images/gallery/image-9.jpg" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty">
        <div class="container content">
            <div class="row vertical-row" data-anima="pulse-horizontal">
                <div class="col-md-6">
                    <form action="http://www.framework-y.com/scripts/php/contact-form.php" class="form-box form-ajax form-inline" method="post" data-email="federico@pixor.it">
                        <input id="email" name="email" placeholder="Type your email..." type="email" class="form-control form-value" required="">
                        <hr class="space m">
                        <button class="btn btn-sm" type="submit">Join now</button>
                        <div class="success-box">
                            <div class="alert alert-success">Congratulations. Your message has been sent successfully</div>
                        </div>
                        <div class="error-box">
                            <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <p class="text-s">
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod iaculis eu
                        lacus nunc mi elitvehicula ut laoreet acaliquam.
                    </p>
                </div>
            </div>
        </div>
    </div>
  
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/services-2.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:10:11 GMT -->



