
@{
    ViewBag.Title = "ServiceFour";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}


<body>

    <div class="section-empty">
        <div class="container content">
            <div class="row vertical-row">
                <div class="col-md-7 col-sm-6">
                    <div class="title-base text-left">
                        <hr />
                        <h2>Services four</h2>
                        <p>There's no nobility in poverty. I've been a poor man, and I've been a rich man. And I choose rich every fucking time.</p>
                    </div>
                    <hr class="space m" />
                    <a href="#" class="circle-button btn btn-sm">Contact us</a><span class="space"></span>
                    <a href="#" class="btn-text">Contact us</a>
                </div>
                <div class="col-md-5 col-sm-6">
                    <img src="~/Areas/Root/images/bg-img-9.png" alt="" />
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty section-item">
        <div class="container content">
            <div class="row vertical-row">
                <div class="col-md-5">
                    <div class="coverflow-slider" data-options="enableMousewheel:false">
                        <ul>
                            <li>
                                <a class="img-box" href="#">
                                    <span><img src="~/Areas/Root/images/phone-1.png" alt=""></span>
                                </a>
                            </li>
                            <li>
                                <a class="img-box" href="#">
                                    <span><img src="~/Areas/Root/images/phone-2.png" alt=""></span>
                                </a>
                            </li>
                            <li>
                                <a class="img-box" href="#">
                                    <span><img src="~/Areas/Root/images/phone-3.png" alt=""></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-7">
                    <h1>Mobile solutions</h1>
                    <hr class="space m" />
                    <div class="icon-list text-color">
                        <div class="list-item">
                            <i class="fa-android fa text-l"></i> <label class="text-s"> Android app</label>
                        </div>
                        <div class="list-item">
                            <i class="fa fa-apple text-l"></i><label class="text-s">Apple app</label>
                        </div>
                        <div class="list-item">
                            <i class="fa-windows fa text-l"></i> <label class="text-s"> Windows app</label>
                        </div>
                    </div>
                    <hr class="space m" />
                    <p>
                        Donec sollicitudin molestie malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Donec sollicitudin molestie malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                        cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Mauris blandit aliquet elit, eget tincidunt nibh
                        pulvinare.
                    </p>
                    <hr class="space m" />
                    <a href="#" class="circle-button btn-border btn btn-lg"><i class="fa fa-angle-right"></i>Learn more</a>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty">
        <div class="container content">
            <div class="flexslider carousel outer-navs" data-options="minWidth:200,itemMargin:30,numItems:4,controlNav:false,directionNav:true">
                <ul class="slides">
                    <li>
                        <div class="advs-box advs-box-top-icon boxed-inverse shadow-1">
                            <i class="fa fa-refresh icon circle"></i>
                            <h3>Updates</h3>
                            <p>
                                Interdum iusto pulvinar consequuntur augue optio repellat furuo.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="advs-box advs-box-top-icon boxed-inverse shadow-1">
                            <i class="fa fa-tv icon circle"></i>
                            <h3>True responsive</h3>
                            <p>
                                Interdum iusto pulvinar consequuntur augue optio rella fugaruo.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="advs-box advs-box-top-icon boxed-inverse shadow-1">
                            <i class="fa fa-fire icon circle"></i>
                            <h3>Top performance</h3>
                            <p>
                                Interdum iusto pulvinar consequuntur augue optio fugaruo.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="advs-box advs-box-top-icon boxed-inverse shadow-1">
                            <i class="fa fa-shekel icon circle"></i>
                            <h3>High security</h3>
                            <p>
                                Interdum iusto pulvinar consequuntur augue optio fugaruo.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="advs-box advs-box-top-icon boxed-inverse shadow-1">
                            <i class="fa fa-link icon circle"></i>
                            <h3>Global network</h3>
                            <p>
                                Interdum iusto pulvinar consequuntur optio repellat fugaruo.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="section-empty">
        <div class="container content">
            <div class="row vertical-row">

                <div class="col-md-7">
                    <h1>Mobile solutions</h1>
                    <hr class="space m" />
                    <div class="icon-list text-color">
                        <div class="list-item">
                            <i class="fa-android fa text-l"></i> <label class="text-s"> Android app</label>
                        </div>
                        <div class="list-item">
                            <i class="fa fa-apple text-l"></i><label class="text-s">Apple app</label>
                        </div>
                        <div class="list-item">
                            <i class="fa-windows fa text-l"></i> <label class="text-s"> Windows app</label>
                        </div>
                    </div>
                    <hr class="space m" />
                    <p>
                        Donec sollicitudin molestie malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Donec sollicitudin molestie malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                        cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Mauris blandit aliquet elit, eget tincidunt nibh
                        pulvinare.
                    </p>
                    <hr class="space m" />
                    <a href="#" class="circle-button btn-border btn btn-lg"><i class="fa fa-angle-right"></i>Learn more</a>
                </div>
                <div class="col-md-5">
                    <div class="coverflow-slider" data-options="enableMousewheel:false">
                        <ul>
                            <li>
                                <a class="img-box" href="#">
                                    <span><img src="~/Areas/Root/images/phone-2.png" alt=""></span>
                                </a>
                            </li>
                            <li>
                                <a class="img-box" href="#">
                                    <span><img src="~/Areas/Root/images/phone-4.png" alt=""></span>
                                </a>
                            </li>
                            <li>
                                <a class="img-box" href="#">
                                    <span><img src="~/Areas/Root/images/phone-1.png" alt=""></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-bg-image bg-top" style="        background-image: url(~/Areas/Root/images/bg-14.png)">
        <div class="container content">
            <div class="row">
                <div class="col-md-8 col-center text-center">
                    <h4>Built for you existing workflows</h4>
                    <p>
                        Alamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <hr class="space" />
                    <div class="row" data-anima="fade-bottom" data-timeline="asc">
                        <div class="col-md-4 boxed-inverse shadow-1 anima">
                            <div class="icon-box icon-box-top-bottom">
                                <div class="icon-box-cell">
                                    <i class="fa-home fa text-xl"></i>
                                </div>
                                <div class="icon-box-cell">
                                    <label class="text-m">Family</label>
                                    <p class="text-s">Loreme ipsum dolore bao</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 boxed-inverse shadow-1 anima">
                            <div class="icon-box icon-box-top-bottom">
                                <div class="icon-box-cell">
                                    <i class="fa-genderless fa text-xl"></i>
                                </div>
                                <div class="icon-box-cell">
                                    <label class="text-m">Advertising</label>
                                    <p class="text-s">Loreme ipsum dolore bao</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 boxed-inverse shadow-1 anima">
                            <div class="icon-box icon-box-top-bottom">
                                <div class="icon-box-cell">
                                    <i class="fa-bitcoin fa text-xl"></i>
                                </div>
                                <div class="icon-box-cell">
                                    <label class="text-m">Bitcoin</label>
                                    <p class="text-s">Loreme ipsum dolore bao</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/services-4.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:10:21 GMT -->



