
@{
    ViewBag.Title = "ServiceOne";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

    <meta name="description" content="Service page with background video MP4">
  
<body>
    
    <div class="section-empty">
        <div class="container content">
            <div class="row vertical-row">
                <div class="col-md-7 col-sm-6">
                    <div class="title-base text-left">
                        <hr />
                        <h2>Services one</h2>
                        <p>There's no nobility in poverty. I've been a poor man, and I've been a rich man. And I choose rich every fucking time.</p>
                    </div>
                </div>
                <div class="col-md-5 col-sm-6">
                    <img src="~/Areas/Root/images/bg-img-8.png" alt="" />
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty">
        <div class="container content">
            <div class="row vertical-row">
                <div class="col-md-5 hidden-sm visible-xs">
                    <img src="~/Areas/Root/images/box-1.png" alt="" />
                </div>
                <div class="col-md-7">
                    <h1 class="text-color">Blockchain solutions</h1>
                    <p>
                        Donec sollicitudin molestie malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Donec sollicitudin molestie malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                        cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Mauris blandit aliquet elit, eget tincidunt nibh
                        pulvinare.
                    </p>
                    <hr class="space s" />
                    <div class="row vertical-row">
                        <div class="col-md-8">
                            <table class="grid-table border-table text-left">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4 class="text-color text-m">Starter plan</h4>
                                            <h5>From $15.000</h5>
                                        </td>
                                        <td>
                                            <h4 class="text-color text-m">Family plan</h4>
                                            <h5>From $30.000</h5>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <a href="#" class="circle-button btn-border btn btn-sm nav-justified"><i class="fa fa-angle-right"></i>Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space" />
            <hr class="space" />
            <div class="row vertical-row" data-anima="fade-bottom">
                <div class="col-md-7">
                    <h1 class="text-color">Fintech cloud apps</h1>
                    <p>
                        Donec sollicitudin molestie malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                        cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Mauris blandit aliquet elit, eget tincidunt nibh
                        pulvinare.
                    </p>
                    <hr class="space m" />
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="fa-ul">
                                <li><i class="fa-li fa fa-check"></i> Utenim ad minim veniam quipone</li>
                                <li><i class="fa-li fa fa-check"></i> Duis aute irure dehenderi are martio</li>
                                <li><i class="fa-li fa fa-check"></i> Consectetur adipiscing</li>
                                <li><i class="fa-li fa fa-check"></i> Ceniam quis nostrud exero vottore</li>
                                <li><i class="fa-li fa fa-check"></i> Consectetur adipisco clibeto</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="fa-ul">
                                <li><i class="fa-li fa fa-check"></i> Utenim ad minim veniam qui</li>
                                <li><i class="fa-li fa fa-check"></i> Duis aute irure dehenderi</li>
                                <li><i class="fa-li fa fa-check"></i> Consectetur adipiscing</li>
                                <li><i class="fa-li fa fa-check"></i> Ceniam quis nostrud exero </li>
                                <li><i class="fa-li fa fa-check"></i> Consectetur adipisco</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 text-right hidden-sm visible-xs">
                    <img src="~/Areas/Root/images/box-2.png" alt="" />
                </div>
            </div>
            <hr class="space" />
            <hr class="space" />
            <div class="row vertical-row" data-anima="fade-bottom">
                <div class="col-md-5 hidden-sm visible-xs">
                    <img src="~/Areas/Root/images/box-3.png" alt="" />
                </div>
                <div class="col-md-7">
                    <h1 class="text-color">Mobile security</h1>
                    <p>
                        Donec sollicitudin molestie malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Donec sollicitudin molestie malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                        cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Mauris blandit aliquet elit, eget tincidunt nibh
                        pulvinare.
                    </p>
                    <hr class="space s" />
                    <div class="row vertical-row">
                        <div class="col-md-8">
                            <table class="grid-table border-table text-left">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4 class="text-color text-m">Basic plan</h4>
                                            <h5>From $1.000</h5>
                                        </td>
                                        <td>
                                            <h4 class="text-color text-m">Silver plan</h4>
                                            <h5>From $2.000</h5>
                                        </td>
                                        <td>
                                            <h4 class="text-color text-m">Gold plan</h4>
                                            <h5>From $10.000</h5>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <a href="#" class="circle-button btn-border btn btn-sm nav-justified">Informations</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space" />
        </div>
    </div>

</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/services-1.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:10:09 GMT -->



