
@{
    ViewBag.Title = "ServiceThree";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

<body>
    
    <div class="header-title" style="        background-image: url(~/Areas/Root/images/bg-img-10.png)">
        <div class="container">
            <div class="title-base">
                <hr class="anima" />
                <h1>Services three</h1>
                <p>There's no nobility in poverty. I've been a poor man, and I've been a rich man. And I choose rich every fucking time.</p>
            </div>
        </div>
    </div>

    <div class="section-empty">
        <div class="container content">
            <div class="row">
                <div class="col-md-3 boxed shadow-1 white">
                    <div class="icon-box icon-box-top-bottom">
                        <div class="icon-box-cell">
                            <i class="fa-cloud-upload fa text-xl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="text-m">Upload speed</label>
                            <p class="text-s">Lorem ipsum dolore</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 boxed shadow-1 white">
                    <div class="icon-box icon-box-top-bottom">
                        <div class="icon-box-cell">
                            <i class="fa-server fa text-xl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="text-m">99% uptime</label>
                            <p class="text-s">Lorem ipsum dolore</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 boxed shadow-1 white">
                    <div class="icon-box icon-box-top-bottom">
                        <div class="icon-box-cell">
                            <i class="fa-database fa text-xl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="text-m">Free storage</label>
                            <p class="text-s">Lorem ipsum dolore</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 boxed shadow-1 white bg-color">
                    <div class="icon-box icon-box-top-bottom">
                        <div class="icon-box-cell">
                            <i class="fa-wpforms fa text-xl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="text-m">Friendly ui</label>
                            <p class="text-s">Lorem ipsum dolore</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space" />
            <div class="row">
                <div class="col-md-4">
                    <h2>Software development</h2>
                    <hr class="space m" />
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check"></i> Duis aute irure dolor in reprehenderit</li>
                        <li><i class="fa-li fa fa-check"></i> Aaboris nisi ut aliqui</li>
                        <li><i class="fa-li fa fa-check"></i> Consectetur adipiscing elitsed</li>
                        <li><i class="fa-li fa fa-check"></i> Utenim ad minim veniam qui</li>
                        <li><i class="fa-li fa fa-check"></i> Duis aute irure dolore in reprehenderi</li>
                        <li><i class="fa-li fa fa-check"></i> Consectetur adipiscing elitsed</li>
                        <li><i class="fa-li fa fa-check"></i> Ceniam quis nostrud exercitation </li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <h2>State of art<br />softwares and mobile apps</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                    </p>
                    <hr class="space xs" />
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                        Utenim ad minim veniam quis nostrud exercitation ut ali uis aute irure dolor in reprehende. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariature marlittione exercitation.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="section-empty">
        <div class="container content">
            <div class="row vertical-row">
                <div class="col-md-5">
                    <h2>Support in real time to improve sales</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <hr class="space m" />
                    <a href="#" class="btn-text">More informations about the service</a>
                </div>
                <div class="col-md-7">
                    <img src="~/Areas/Root/images/mk-12.png" alt="" />
                </div>
            </div>
            <hr class="space" />
            <div class="flexslider carousel outer-navs" data-options="minWidth:200,itemMargin:30,numItems:5,controlNav:false,directionNav:true">
                <ul class="slides">
                    <li>
                        <div class="icon-box icon-box-top-bottom">
                            <div class="icon-box-cell">
                                <i class="fa-pencil fa text-xl"></i>
                            </div>
                            <div class="icon-box-cell">
                                <label class="text-m">Web design</label>
                                <p class="text-s">Lorem ipsum dolore</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="icon-box icon-box-top-bottom">
                            <div class="icon-box-cell">
                                <i class="fa-gear fa text-xl"></i>
                            </div>
                            <div class="icon-box-cell">
                                <label class="text-m">Agile software</label>
                                <p class="text-s">Lorem ipsum dolore</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="icon-box icon-box-top-bottom">
                            <div class="icon-box-cell">
                                <i class="fa-flash fa text-xl"></i>
                            </div>
                            <div class="icon-box-cell">
                                <label class="text-m">Boosted speed</label>
                                <p class="text-s">Lorem ipsum dolore</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="icon-box icon-box-top-bottom">
                            <div class="icon-box-cell">
                                <i class="fa-flask fa text-xl"></i>
                            </div>
                            <div class="icon-box-cell">
                                <label class="text-m">Reasearch</label>
                                <p class="text-s">Lorem ipsum dolore</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="icon-box icon-box-top-bottom">
                            <div class="icon-box-cell">
                                <i class="fa-warning fa text-xl"></i>
                            </div>
                            <div class="icon-box-cell">
                                <label class="text-m">Security tips</label>
                                <p class="text-s">Lorem ipsum dolore</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="icon-box icon-box-top-bottom">
                            <div class="icon-box-cell">
                                <i class="fa-globe fa text-xl"></i>
                            </div>
                            <div class="icon-box-cell">
                                <label class="text-m">Global links</label>
                                <p class="text-s">Lorem ipsum dolore</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="section-bg-image bg-bottom" style="        background-image: url(~/Areas/Root/images/bg-24.png)">
        <div class="container content">
            <div class="row vertical-row">
                <div class="col-md-7">
                    <img src="~/Areas/Root/images/mk-14.png" alt="" />
                </div>
                <div class="col-md-5">
                    <h2>Multi platform solutions for you</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                        Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <hr class="space m" />
                    <a href="#" class="btn-text">More informations about the service</a>
                </div>
            </div>
        </div>
        <hr class="space" />
    </div>
  
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/services-3.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:10:20 GMT -->



