
@{
    ViewBag.Title = "TeamTwo";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

    <meta name="description" content="Business and agency HTML template.">

<body>
    
    <div class="header-title" style="background-image: url('~/Areas/Root/images/bg-img-10.png');">
        <div class="container">
            <div class="title-base">
                <hr class="anima" />
                <h1>Pricings</h1>
                <p>We must let go of the life we have planned, so as to accept the one that is waiting for us.</p>
            </div>
        </div>
    </div>

    <div class="section-empty section-item">
        <div class="container content">
            <div class="grid-list gallery">
                <div class="grid-box row">
                    <div class="grid-item col-md-3">
                        <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                            <i class="im-thumb anima"></i>
                            <a href="#" class="img-box lightbox anima-scale-up anima">
                                <img src="~/Areas/Root/images/users/user-11.jpg" alt="" />
                            </a>
                            <div class="caption">
                                <h2>Alfred Rodrigo</h2>
                                <p>
                                    Founder and ceo
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item col-md-3">
                        <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                            <i class="im-thumb anima"></i>
                            <a href="#" class="img-box lightbox anima-scale-up anima">
                                <img src="~/Areas/Root/images/users/user-12.jpg" alt="" />
                            </a>
                            <div class="caption">
                                <h2>Simon Rodrigo</h2>
                                <p>
                                    Founder
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item col-md-3">
                        <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                            <i class="im-thumb anima"></i>
                            <a href="#" class="img-box lightbox anima-scale-up anima">
                                <img src="~/Areas/Root/images/users/user-13.jpg" alt="" />
                            </a>
                            <div class="caption">
                                <h2>Bill Armstrong</h2>
                                <p>
                                    Security officer
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item col-md-3">
                        <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                            <i class="im-thumb anima"></i>
                            <a href="#" class="img-box lightbox anima-scale-up anima">
                                <img src="~/Areas/Root/images/users/user-14.jpg" alt="" />
                            </a>
                            <div class="caption">
                                <h2>Melissa Satta</h2>
                                <p>
                                    Public relations
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item col-md-3">
                        <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                            <i class="im-thumb anima"></i>
                            <a href="#" class="img-box lightbox anima-scale-up anima">
                                <img src="~/Areas/Root/images/users/user-15.jpg" alt="" />
                            </a>
                            <div class="caption">
                                <h2>Sarah Jolie</h2>
                                <p>
                                    Public relations
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item col-md-3">
                        <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                            <i class="im-thumb anima"></i>
                            <a href="#" class="img-box lightbox anima-scale-up anima">
                                <img src="~/Areas/Root/images/users/user-16.jpg" alt="" />
                            </a>
                            <div class="caption">
                                <h2>Sophia Roberts</h2>
                                <p>
                                    Copywriting
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item col-md-3">
                        <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                            <i class="im-thumb anima"></i>
                            <a href="#" class="img-box lightbox anima-scale-up anima">
                                <img src="~/Areas/Root/images/users/user-17.jpg" alt="" />
                            </a>
                            <div class="caption">
                                <h2>Alvaro Filippis</h2>
                                <p>
                                    Markting
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item col-md-3">
                        <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                            <i class="im-thumb anima"></i>
                            <a href="#" class="img-box lightbox anima-scale-up anima">
                                <img src="~/Areas/Root/images/users/user-18.jpg" alt="" />
                            </a>
                            <div class="caption">
                                <h2>Alan Smith</h2>
                                <p>
                                    Marketing and social
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space" />
            <div class="row">
                <div class="col-md-3">
                    <h4>Managers</h4>
                    <hr class="space s" />
                    <h5 class="text-color">Jessica Mayer</h5>
                    <p>Founder and CEO<br />United States</p>
                    <hr class="space s" />
                    <h5 class="text-color">Simon Smith</h5>
                    <p>Top manager<br />United States</p>
                </div>
                <div class="col-md-3">
                    <hr class="space m visible-sm" />
                    <h4>Public relations</h4>
                    <hr class="space s" />
                    <h5 class="text-color">Sarah Marris</h5>
                    <p>Head relations<br />United States</p>
                    <hr class="space s" />
                    <h5 class="text-color">Alberto Franco</h5>
                    <p>Press releas<br />Italy</p>
                    <hr class="space s" />
                    <h5 class="text-color">Irene Buzzatti</h5>
                    <p>News and channels<br />Italy</p>
                </div>
                <div class="col-md-3">
                    <hr class="space m visible-sm" />
                    <h4>Marketing</h4>
                    <hr class="space s" />
                    <h5 class="text-color">Jessica Mayer</h5>
                    <p>Founder and CEO<br />United States</p>
                    <hr class="space s" />
                    <h5 class="text-color">Jessica Mayer</h5>
                    <p>Founder and CEO<br />United States</p>
                    <hr class="space s" />
                    <h5 class="text-color">Jessica Mayer</h5>
                    <p>Founder and CEO<br />United States</p>
                </div>
                <div class="col-md-3">
                    <hr class="space m visible-sm" />
                    <h4>Security</h4>
                    <hr class="space s" />
                    <h5 class="text-color">Alan Torris</h5>
                    <p>Head of security<br />Iran</p>
                    <hr class="space s" />
                    <h5 class="text-color">Erik Alba</h5>
                    <p>Security member<br />United States</p>
                    <hr class="space s" />
                    <h5 class="text-color">Frederic Artisio</h5>
                    <p>Security member<br />United States</p>
                </div>
            </div>
        </div>
    </div>

</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/team-2.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:10:55 GMT -->



