
@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

    <meta name="description" content="Business and agency HTML template.">

<body>
   
    <div class="header-title" style="background-image: url('~/Areas/Root/images/bg-img-10.png');">
        <div class="container">
            <div class="title-base">
                <hr class="anima" />
                <h1>Team one</h1>
                <p>We must let go of the life we have planned, so as to accept the one that is waiting for us.</p>
            </div>
        </div>
    </div>

    <div class="section-empty section-item text-center">
        <div class="container content">
            <div class="row">
                <div class="col-md-3">
                    <div class="advs-box niche-box-team" data-anima="scale-up" data-trigger="hover">
                        <a class="img-box">
                            <img class="anima" src="~/Areas/Root/images/users/user-6.jpg" alt="" />
                        </a>
                        <div class="content-box">
                            <h2>Jack Christian</h2>
                            <h4>Founder and ceo</h4>
                            <hr class="e" />
                            <div class="btn-group social-group">
                                <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <p>Lorem ipsum is text of the printing and industry manulo pertus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="advs-box niche-box-team" data-anima="scale-up" data-trigger="hover">
                        <a class="img-box">
                            <img class="anima" src="~/Areas/Root/images/users/user-7.jpg" alt="" />
                        </a>
                        <div class="content-box">
                            <h2>Zarata Afratto</h2>
                            <h4>Language expert</h4>
                            <hr class="e" />
                            <div class="btn-group social-group">
                                <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <p>Lorem ipsum is text of the printing and industry manulo pertus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="advs-box niche-box-team" data-anima="scale-up" data-trigger="hover">
                        <a class="img-box">
                            <img class="anima" src="~/Areas/Root/images/users/user-2.jpg" alt="" />
                        </a>
                        <div class="content-box">
                            <h2>Sarah Partison</h2>
                            <h4>Co-founder</h4>
                            <hr class="e" />
                            <div class="btn-group social-group">
                                <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <p>Lorem ipsum is text of the printing and industry manulo pertus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="advs-box niche-box-team" data-anima="scale-up" data-trigger="hover">
                        <a class="img-box">
                            <img class="anima" src="~/Areas/Root/images/users/user-3.jpg" alt="" />
                        </a>
                        <div class="content-box">
                            <h2>Lee Chen Tol</h2>
                            <h4>Marketing expert</h4>
                            <hr class="e" />
                            <div class="btn-group social-group">
                                <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <p>Lorem ipsum is text of the printing and industry manulo pertus.</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="space" />
            <div class="row">
                <div class="col-md-3">
                    <div class="advs-box niche-box-team" data-anima="scale-up" data-trigger="hover">
                        <a class="img-box">
                            <img class="anima" src="~/Areas/Root/images/users/user-8.jpg" alt="" />
                        </a>
                        <div class="content-box">
                            <h2>Alan Martinez</h2>
                            <h4>Marketing</h4>
                            <hr class="e" />
                            <div class="btn-group social-group">
                                <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <p>Lorem ipsum is text of the printing and industry manulo pertus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="advs-box niche-box-team" data-anima="scale-up" data-trigger="hover">
                        <a class="img-box">
                            <img class="anima" src="~/Areas/Root/images/users/user-9.jpg" alt="" />
                        </a>
                        <div class="content-box">
                            <h2>Zarata Afratto</h2>
                            <h4>Media relations</h4>
                            <hr class="e" />
                            <div class="btn-group social-group">
                                <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <p>Lorem ipsum is text of the printing and industry manulo pertus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="advs-box niche-box-team" data-anima="scale-up" data-trigger="hover">
                        <a class="img-box">
                            <img class="anima" src="~/Areas/Root/images/users/user-4.jpg" alt="" />
                        </a>
                        <div class="content-box">
                            <h2>Sarah Partison</h2>
                            <h4>Co-founder</h4>
                            <hr class="e" />
                            <div class="btn-group social-group">
                                <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <p>Lorem ipsum is text of the printing and industry manulo pertus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="advs-box niche-box-team" data-anima="scale-up" data-trigger="hover">
                        <a class="img-box">
                            <img class="anima" src="~/Areas/Root/images/users/user-5.jpg" alt="" />
                        </a>
                        <div class="content-box">
                            <h2>Lee Chen Tol</h2>
                            <h4>Marketing expert</h4>
                            <hr class="e" />
                            <div class="btn-group social-group">
                                <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <p>Lorem ipsum is text of the printing and industry manulo pertus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/team.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:10:40 GMT -->



