
@{
    ViewBag.Title = "Videos";
    Layout = "~/Views/Shared/_Signflow.cshtml";
}

<body>
   
    <div class="header-title" style="background-image: url('~/Areas/Root/images/bg-img-10.png');">
        <div class="container">
            <div class="title-base">
                <hr class="anima" />
                <h1>Photos and videos</h1>
                <p>We must let go of the life we have planned, so as to accept the one that is waiting for us.</p>
            </div>
        </div>
    </div>

    <div class="section-empty">
        <div class="container content">
            <div class="flexslider carousel gallery outer-navs nav-inner" data-options="minWidth:200,itemMargin:15,numItems:3,controlNav:true,directionNav:true">
                <ul class="slides">
                    <li>
                        <a class="img-box lightbox" data-lightbox-anima="fade-top" href="~/Areas/Root/images/gallery/image-6.jpg">
                            <img src="~/Areas/Root/images/gallery/image-6.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-box lightbox" data-lightbox-anima="fade-top" href="~/Areas/Root/images/gallery/image-2.jpg">
                            <img src="~/Areas/Root/images/gallery/image-2.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-box lightbox" data-lightbox-anima="fade-top" href="~/Areas/Root/images/gallery/image-3.jpg">
                            <img src="~/Areas/Root/images/gallery/image-3.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-box lightbox" data-lightbox-anima="fade-top" href="~/Areas/Root/images/gallery/image-4.jpg">
                            <img src="~/Areas/Root/images/gallery/image-4.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-box lightbox" data-lightbox-anima="fade-top" href="~/Areas/Root/images/gallery/image-8.jpg">
                            <img src="~/Areas/Root/images/gallery/image-8.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-box lightbox" data-lightbox-anima="fade-top" href="~/Areas/Root/images/gallery/image-9.jpg">
                            <img src="~/Areas/Root/images/gallery/image-9.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-box lightbox" data-lightbox-anima="fade-top" href="~/Areas/Root/images/gallery/image-1.jpg">
                            <img src="~/Areas/Root/images/gallery/image-1.jpg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <hr class="space" />
            <div class="maso-list gallery">
                <div class="navbar navbar-inner">
                    <div class="navbar-toggle"><i class="fa fa-bars"></i><span>Menu</span><i class="fa fa-angle-down"></i></div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav over ms-minimal inner maso-filters">
                            <li class="current-active active"><a data-filter="maso-item">All</a></li>
                            <li><a data-filter="cat1">Projects</a></li>
                            <li><a data-filter="cat2">Meetup</a></li>
                            <li><a data-filter="cat3">Startups</a></li>
                            <li><a data-filter="cat4">Apps</a></li>
                            <li><a data-filter="cat5">Videos</a></li>
                            <li><a class="maso-order" data-sort="asc"><i class="fa fa-arrow-down"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="maso-box row" data-lightbox-anima="fade-top">
                    <div data-sort="1" class="maso-item col-md-4 cat1 cat2 cat4">
                        <a class="img-box" href="~/Areas/Root/images/gallery/image-10.jpg" data-lightbox-anima="fade-top">
                            <img src="~/Areas/Root/images/gallery/image-10.jpg" alt="" />
                        </a>
                    </div>
                    <div data-sort="1" class="maso-item col-md-4 cat2 cat4">
                        <a class="img-box" href="~/Areas/Root/images/gallery/image-9.jpg" data-lightbox-anima="fade-top">
                            <img src="~/Areas/Root/images/gallery/image-9.jpg" alt="" />
                        </a>
                    </div>
                    <div data-sort="1" class="maso-item col-md-4 cat1 cat2">
                        <a class="img-box" href="~/Areas/Root/images/gallery/image-8.jpg" data-lightbox-anima="fade-top">
                            <img src="~/Areas/Root/images/gallery/image-8.jpg" alt="" />
                        </a>
                    </div>
                    <div data-sort="1" class="maso-item col-md-4 cat1 cat4 cat5">
                        <a class="img-box mfp-iframe i-center" href="https://www.youtube.com/watch?v=Xxv2gMAGtUc" data-lightbox-anima="fade-top">
                            <i class="fa fa-play"></i>
                            <img src="~/Areas/Root/images/gallery/image-7.jpg" alt="" />
                        </a>
                    </div>
                    <div data-sort="1" class="maso-item col-md-4 cat1 cat2 cat4">
                        <a class="img-box" href="~/Areas/Root/images/gallery/image-6.jpg" data-lightbox-anima="fade-top">
                            <img src="~/Areas/Root/images/gallery/image-6.jpg" alt="" />
                        </a>
                    </div>
                    <div data-sort="1" class="maso-item col-md-4 cat1 cat2 cat4">
                        <a class="img-box" href="~/Areas/Root/images/gallery/image-5.jpg" data-lightbox-anima="fade-top">
                            <img src="~/Areas/Root/images/gallery/image-5.jpg" alt="" />
                        </a>
                    </div>
                    <div data-sort="1" class="maso-item col-md-4 cat2 cat4 cat5">
                        <a class="img-box mfp-iframe i-center" href="https://www.youtube.com/watch?v=Xxv2gMAGtUc" data-lightbox-anima="fade-top">
                            <i class="fa fa-play"></i>
                            <img src="~/Areas/Root/images/gallery/image-4.jpg" alt="" />
                        </a>
                    </div>
                    <div data-sort="1" class="maso-item col-md-4 cat1 cat2 cat5">
                        <a class="img-box mfp-iframe i-center" href="https://www.youtube.com/watch?v=Xxv2gMAGtUc" data-lightbox-anima="fade-top">
                            <i class="fa fa-play"></i>
                            <img src="~/Areas/Root/images/gallery/image-3.jpg" alt="" />
                        </a>
                    </div>
                    <div data-sort="1" class="maso-item col-md-4 cat1 cat4">
                        <a class="img-box" href="~/Areas/Root/images/gallery/image-2.jpg" data-lightbox-anima="fade-top">
                            <img src="~/Areas/Root/images/gallery/image-2.jpg" alt="" />
                        </a>
                    </div>
                    <div data-sort="1" class="maso-item col-md-4 cat1 cat2 cat4">
                        <a class="img-box" href="~/Areas/Root/images/gallery/image-1.jpg" data-lightbox-anima="fade-top">
                            <img src="~/Areas/Root/images/gallery/image-1.jpg" alt="" />
                        </a>
                    </div>
                    <div data-sort="1" class="maso-item col-md-4 cat1 cat4">
                        <a class="img-box" href="~/Areas/Root/images/gallery/image-13.jpg" data-lightbox-anima="fade-top">
                            <img src="~/Areas/Root/images/gallery/image-13.jpg" alt="" />
                        </a>
                    </div>
                    <div data-sort="1" class="maso-item col-md-4 cat1 cat2 cat4">
                        <a class="img-box" href="~/Areas/Root/images/gallery/image-12.jpg" data-lightbox-anima="fade-top">
                            <img src="~/Areas/Root/images/gallery/image-12.jpg" alt="" />
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="list-nav">
                    <a href="#" class="circle-button btn-sm btn load-more-maso" data-page-items="9">Load More <i class="fa fa-arrow-down"></i></a>
                </div>
            </div>
        </div>
    </div>
    
</body>

<!-- Mirrored from templates.framework-y.com/signflow/pages/gallery.html by HTTrack Website Copier/3.x [XR&CO'2010], Sat, 10 Oct 2020 09:11:01 GMT -->



